<%- include('common/header') -%>
    <!--begin::Content-->
    <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
        <!--begin::Toolbar-->
        <div class="toolbar" id="kt_toolbar">
            <!--begin::Container-->
            <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
                <!--begin::Page title-->
                <div data-kt-swapper="true" data-kt-swapper-mode="prepend"
                    data-kt-swapper-parent="{default: '#kt_content_container', 'lg' : '#kt_toolbar_container'}"
                    class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
                    <!--begin::Title-->
                    <h1 class="d-flex align-items-center text-dark fw-bolder fs-3 my-1">
                        <!--end::Description-->
                    </h1>
                    <!--end::Title-->
                </div>
                <!--end::Page title-->
            </div>
            <!--end::Container-->
        </div>
        <!--end::Toolbar-->
        <!--begin::Post-->
        <div class="post d-flex flex-column-fluid" id="kt_post">
            <!--begin::Container-->
            <div id="kt_content_container" class="container-xxl">
                <!--begin::Basic info-->
                <div class="card mb-5 mb-xl-10">
                    <!--begin::Card header-->
                    <div class="card-header border-0 cursor-pointer" role="button"
                        data-bs-target="#kt_account_profile_details" aria-expanded="true"
                        aria-controls="kt_account_profile_details">
                        <!--begin::Card title-->
                        <div class="card-title m-0">
                            <h3 class="fw-bolder m-0">Category Details</h3>
                        </div>
                        <!--end::Card title-->
                    </div>
                    <!--begin::Card header-->
                    <!--begin::Content-->
                    <div id="kt_account_profile_details" class="collapse show">
                        <!--begin::Form-->
                        <form id="kt_account_profile_details_form" class="form" action="/auth/create-category"
                            method="POST" enctype="multipart/form-data">

                            <input type="hidden" name="cat_id" value="<%= edit_data.category_id %>" />
                            <!--begin::Card body-->
                            <div class="card-body border-top p-9">


                                <!--begin::Input group-->
                                <div class="row mb-6">
                                    <!--begin::Label-->
                                    <label class="col-lg-4 col-form-label fw-bold fs-6">
                                        <span class="required">Category Name</span>
                                    </label>
                                    <!--end::Label-->
                                    <!--begin::Col-->
                                    <div class="col-lg-8 fv-row">
                                        <input type="text" name="cat_name" id="cat_name"
                                            class="form-control form-control-lg form-control-solid"
                                            value="<%= edit_data.category_name %>" />
                                    </div>
                                    <!--end::Col-->
                                </div>
                                <div class="row mb-6">
                                    <!--begin::Label-->
                                    <label class="col-lg-4 col-form-label required fw-bold fs-6">Category Slug</label>
                                    <!--end::Label-->
                                    <!--begin::Col-->
                                    <div class="col-lg-8">
                                        <!--begin::Row-->
                                        <div class="row">
                                            <!--begin::Col-->
                                            <div class="col-lg-12 fv-row">
                                                <input type="text" name="category_slug" id="category_slug"
                                                    class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                                                    placeholder="Categoty slug"
                                                    value="<%= edit_data.category_slug  %>" />
                                            </div>
                                            <!--end::Col-->
                                        </div>
                                        <!--end::Row-->
                                    </div>
                                    <!--end::Col-->
                                </div>
                                <!--end::Input group-->
                                <!--begin::Input group-->
                                <div class="row mb-6">
                                    <!--begin::Label-->
                                    <label class="col-lg-4 col-form-label fw-bold fs-6">
                                        <span class="">Category Image</span>
                                    </label>
                                    <!--end::Label-->
                                    <!--begin::Col-->
                                    <div class="col-lg-8 fv-row">
                                        <input type="file" name="cat_image"
                                            class="form-control form-control-lg form-control-solid"
                                            placeholder="Category Image" value="" />
                                        <img src="/<%= edit_data.category_img %>" alt="" class="w-30" width="80px"
                                            height="80px" />
                                    </div>
                                    <!--end::Col-->
                                </div>
                                <!--end::Input group-->
                                <!--begin::Input group-->
                                <div class="row mb-6">
                                    <!--begin::Label-->
                                    <label class="col-lg-4 col-form-label fw-bold fs-6">
                                        <span class="">Parent Name</span>
                                    </label>
                                    <!--end::Label-->
                                    <!--begin::Col-->
                                    <div class="col-lg-8 fv-row">
                                        <select id="cat_parent_id" name="cat_parent_id" aria-label="Select a Parent Category"
                                        data-control="select2" data-placeholder="Select a Parent Category..."
                                        class="form-select form-select-solid form-select-lg fw-bold">
                                    <option value="0">Select a Parent Category...</option>
                                    <% getcategoryvalue.forEach(category => { %>
                                        <option value="<%= category.ID %>" <%= category.ID == parentcat ? 'selected' : '' %>>
                                            <%= category.category_name %>
                                        </option>
                                    <% }) %>
                                </select>
                                
                                    </div>                                    
                                    
                                    <!--end::Col-->
                                </div>
                                
                                <!--end::Input group-->

                                <!--end::Input group-->
                                <!--begin::Input group-->
                                <div class="row mb-6">
                                    <!--begin::Label-->
                                    <label class="col-lg-4 col-form-label fw-bold fs-6">
                                        <span class="required">Country</span>
                                    </label>
                                    <!--end::Label-->
                                    <!--begin::Col-->
                                    <div class="col-lg-8 fv-row">
                                        <select id="select_country" name="country[]" aria-label="Select Country"
                                            data-control="select2" data-placeholder="<%= edit_data.country_names %>"
                                            class="form-select form-select-solid form-select-lg fw-bold">
                                            
                                            <% country_arr.forEach((country, key) => { %>
                                                <option value="<%= country_id[key] %>" selected>
                                                    <%= country %>
                                                </option>
                                            <% }) %>
                                    
                                            <% country_response.forEach(item => { %>
                                                <option
                                                    data-kt-flag="assets/media/flags/<%= item.name.toLowerCase().replace(/\s+/g, '-') %>.svg"
                                                    value="<%= item.id %>">
                                                    <%= item.name %>
                                                </option>
                                            <% }) %>
                                    
                                            <% getcountries.forEach(country => { %>
                                                <option value="<%= country.id %>" <%= country.id == getcountriesval ? 'selected' : '' %>>
                                                    <%= country.name %>
                                                </option>
                                            <% }) %>
                                        </select>
                                    </div>
                                    
                                    <!--end::Col-->
                                </div>
                                <!--end::Input group-->



                            </div>
                            <!--end::Card body-->
                            <!--begin::Actions-->
                            <div class="card-footer d-flex justify-content-end py-6 px-9">
                                <button type="reset"
                                    class="btn btn-light btn-active-light-primary me-2">Discard</button>
                                <button type="submit" class="btn btn-primary"
                                    id="kt_account_profile_details_submit">Submit</button>
                            </div>
                            <!--end::Actions-->
                        </form>
                        <!--end::Form-->
                    </div>
                    <!--end::Content-->
                </div>
                <!--end::Basic info-->

                <!--end::Modals-->
            </div>
            <!--end::Container-->
        </div>
        <!--end::Post-->
    </div>
    <!--end::Content-->
    <%- include('common/footer') -%>

        <script>
            /******/ (() => { // webpackBootstrap
            /******/ 	"use strict";
                var __webpack_exports__ = {};
                /*!*********************************************************************************************!*\
                  !*** ../../../themes/metronic/html/demo1/src/js/custom/account/settings/profile-details.js ***!
                  \*********************************************************************************************/


                // Class definition
                var KTAccountSettingsProfileDetails = function () {
                    // Private variables
                    var form;
                    var submitButton;
                    var validation;

                    var handleForm = function () {

                        $("#kt_datepicker_1").flatpickr();
                        validation = FormValidation.formValidation(
                            form,
                            {
                                fields: {
                                    'cat_name': {
                                        validators: {
                                            notEmpty: {
                                                message: 'Category name is required'
                                            }
                                        }
                                    },
                                    'category_slug': {
                                        validators: {
                                            notEmpty: {
                                                message: 'Category slug is required'
                                            }
                                        }
                                    },
                                    'country[]': {
                                        validators: {
                                            notEmpty: {
                                                message: 'Country name is required'
                                            }
                                        }
                                    },

                                },
                                plugins: {
                                    trigger: new FormValidation.plugins.Trigger(),
                                    submitButton: new FormValidation.plugins.SubmitButton(),
                                    //defaultSubmit: new FormValidation.plugins.DefaultSubmit(), // Uncomment this line to enable normal button submit after form validation
                                    bootstrap: new FormValidation.plugins.Bootstrap5({
                                        rowSelector: '.fv-row',
                                        eleInvalidClass: '',
                                        eleValidClass: ''
                                    })
                                }
                            }
                        );

                        // Handle form submit
                        submitButton.addEventListener('click', function (e) {
                            e.preventDefault();
                            var selectedCountryId = $('#select_country').val();
                            console.log("selectedCountryId",selectedCountryId);
                            validation.validate().then(function (status) {
                                if (status == 'Valid') {
                                    //$('#kt_account_profile_details_form').submit();
                                    var formElement = document.getElementById('kt_account_profile_details_form');
                                    var formData = new FormData(formElement);
                                    //console.log(formData);
                                    $.ajax({
                                        url: '/auth/update-category', // URL for your API endpoint
                                        type: 'POST',
                                        data: formData,
                                        processData: false, // Prevent jQuery from processing the data
                                        contentType: false, // Let the browser set the content type
                                        success: function (data) {
                                            if (data.status == 'ok') {
                                                Swal.fire({
                                                    text: data.message,
                                                    icon: "success",
                                                    buttonsStyling: false,
                                                    confirmButtonText: "Ok, got it!",
                                                    customClass: {
                                                        confirmButton: "btn btn-primary"
                                                    }
                                                }).then(function (result) {
                                                    if (result.isConfirmed) {
                                                        //window.location.href = "/categories";
                                                        window.location.href = "/manage-categories?country=" + selectedCountryId;
                                                    }
                                                });
                                            } else {
                                                Swal.fire({
                                                    text: data.message,
                                                    icon: "error",
                                                    buttonsStyling: false,
                                                    confirmButtonText: "Ok, got it!",
                                                    customClass: {
                                                        confirmButton: "btn btn-primary"
                                                    }
                                                });
                                            }
                                        },
                                        error: function (xhr, status, error) {
                                            // Handle any errors that occur during the request
                                            console.log(error);
                                        }
                                    });
                                } else {
                                    swal.fire({
                                        text: "Sorry, looks like there are some errors detected, please try again.",
                                        icon: "error",
                                        buttonsStyling: false,
                                        confirmButtonText: "Ok, got it!",
                                        customClass: {
                                            confirmButton: "btn fw-bold btn-light-primary"
                                        }
                                    });
                                }
                            });
                        });

                    }


                    // Public methods
                    return {
                        init: function () {
                            form = document.getElementById('kt_account_profile_details_form');
                            submitButton = form.querySelector('#kt_account_profile_details_submit');

                            handleForm();
                        }
                    }
                }();

                // On document ready
                KTUtil.onDOMContentLoaded(function () {
                    KTAccountSettingsProfileDetails.init();
                });

            })()
                ;
            //# sourceMappingURL=profile-details.js.map

            $(document).ready(function () {
                // Function to generate a slug from a given string
                function generateSlug(text) {
                    return text.toLowerCase().replace(/ /g, '-').replace(/[^a-z0-9-]/g, '');
                }

                // Event handler for the "keyup" event on the "Company Name" input field
                $("#cat_name").on("keyup", function () {
                    var companyName = $(this).val();
                    var companySlug = generateSlug(companyName);
                    $("#category_slug").val(companySlug);
                });
            });
        </script>


<script>
$(document).ready(function() {
    $('#select_country').on('change', function() {
        var selectedCountryId = $(this).val();
        
        $.ajax({
            url: `/fetch-parent-categories?countryId=${selectedCountryId}`, 
            method: 'GET',
            success: function(response) {
                $('#cat_parent_id').empty().append('<option value="0">Select a Parent Category...</option>');
                
                response.forEach(function(category) {
                    $('#cat_parent_id').append('<option value="' + category.ID + '">' + category.category_name + '</option>');
                });

                $('#cat_parent_id').trigger('change.select2');
            },
            error: function(xhr, status, error) {
                console.error('Error fetching categories:', error);
            }
        });
    });
});

</script> 


