<%- include('common/header') -%>
   <link href="/front-end/css/about-style.css" rel="stylesheet" type="text/css">
   <%- include('common/header-banner') -%>

      <!-- ============== Section1 Start =============== -->
      <section class="main-content about-content2">
         <div class="container">
            <div class="row flex-md-row-reverse">
               <div class="col-md-6 my-auto">
                  <div class="about-left-slider my-3">
                     <div class="about-50-right">
                        <div class="gr-slider3">
                           <div class="item">
                              <img src="/<%= meta_values_array.banner_img_1 %>" alt="img" width="298" height="434">
                           </div>
                           <div class="item">
                              <img src="/<%= meta_values_array.banner_img_2 %>" alt="img" width="298" height="434">
                           </div>
                        </div>
                        <div class="gr-slider4">
                           <div class="item">
                              <img src="/<%= meta_values_array.banner_img_3 %>" alt="img" width="252" height="250">
                           </div>
                           <div class="item">
                              <img src="/<%= meta_values_array.banner_img_4 %>" alt="img" width="252" height="250">
                           </div>
                        </div>
                     </div>
                     <div class="about-50-left">
                        <div class="gr-slider1">
                           <div class="item">
                              <img src="/<%= meta_values_array.banner_img_5 %>" alt="img" width="194" height="228">
                           </div>
                           <div class="item">
                              <img src="/<%= meta_values_array.banner_img_6 %>" alt="img" width="194" height="228">
                           </div>
                        </div>
                        <div class="gr-slider2">
                           <div class="item">
                              <img src="/<%= meta_values_array.banner_img_7 %>" alt="img" width="212" height="312">
                           </div>
                           <div class="item">
                              <img src="/<%= meta_values_array.banner_img_8 %>" alt="img" width="212" height="312">
                           </div>
                        </div>
                     </div>
                     <div class="about-overlay-object1"><img src="/front-end/images/overlay-object1.png" alt="img"
                           width="151" height="158"></div>
                  </div>
               </div>
               <div class="col-md-6 my-auto">
                  <div class="about-right text-md-start text-center my-3">
                     <a href="/" class="bg-about-logo">
                        <svg width="195" height="134" viewBox="0 0 195 134" fill="none"
                           xmlns="http://www.w3.org/2000/svg">
                           <path
                              d="M131.355 68.8798C132.169 68.8798 133.041 68.8217 133.971 68.6765C134.902 68.5604 135.629 68.4443 136.123 68.3862C137.926 68.0669 139.263 67.3701 140.164 66.2668C141.037 65.1635 141.473 63.5377 141.473 61.3312C141.473 58.8343 141.211 57.1794 140.688 56.3665C140.164 55.5535 139.35 55.1471 138.304 55.1471C137.751 55.2051 137.228 55.2922 136.763 55.3793C136.297 55.4664 135.832 55.5245 135.396 55.5245C133.942 55.5245 132.779 55.0019 131.878 53.9277C130.977 52.8535 130.511 51.1695 130.511 48.8759V9.33271C130.511 6.57456 129.785 4.48417 128.302 3.06154C126.848 1.63892 124.755 0.913086 122.08 0.913086C119.463 0.913086 117.428 1.63892 116.003 3.06154C114.578 4.48417 113.852 6.60359 113.852 9.33271V49.4566C113.852 55.96 115.276 60.8086 118.126 64.0312C120.917 67.2539 125.336 68.8798 131.355 68.8798Z"
                              fill="#FCCB06" />
                           <path
                              d="M79.2104 49.8904C81.5364 49.0485 83.9206 48.5549 86.3919 48.4678C86.7408 48.4678 87.0897 48.3517 87.1188 47.9742C87.1479 47.5387 86.7408 47.5097 86.421 47.4807C86.0721 47.4516 85.6941 47.4807 85.3452 47.4807C83.0774 47.4807 80.9549 48.1775 78.8324 48.9323C78.4835 49.0485 78.0474 49.1936 78.1928 49.6291C78.3382 50.1517 78.8324 50.0356 79.2104 49.8904Z"
                              fill="#FCCB06" />
                           <path
                              d="M84.6119 42.7781C84.9317 42.7781 85.2515 42.7781 85.5714 42.72C85.833 42.6619 86.0366 42.5168 86.0656 42.2264C86.0656 41.9071 85.7167 41.6748 85.048 41.6748C82.5476 41.6748 80.0762 41.9651 77.7793 43.0103C77.3722 43.1845 76.7617 43.3587 77.0524 43.9394C77.3432 44.462 77.8374 44.0846 78.1863 43.9394C80.2216 43.0974 82.3731 42.691 84.6119 42.7781Z"
                              fill="#FCCB06" />
                           <path
                              d="M79.62 52.9099C79.7945 52.8518 80.1143 52.7647 80.405 52.6486C81.8297 52.155 83.2835 51.7195 84.7954 51.5163C85.5804 51.4001 86.3654 51.3711 87.1795 51.284C87.4993 51.255 87.8773 51.1388 87.8191 50.7324C87.761 50.3259 87.383 50.2969 87.0632 50.2969C86.3654 50.3549 85.6967 50.413 85.0279 50.4711C83.109 50.6453 81.2773 51.2259 79.4746 51.8647C79.1548 51.9808 78.7478 52.155 78.8641 52.5905C78.9222 52.9099 79.213 52.9389 79.62 52.9099Z"
                              fill="#FCCB06" />
                           <path
                              d="M78.5997 47.0169C78.8323 46.9298 79.0649 46.8427 79.2975 46.7266C81.1292 46.0007 83.0482 45.7104 84.9962 45.5653C85.5486 45.5362 86.5081 45.9137 86.479 45.0717C86.479 44.2588 85.4905 44.7523 85.0253 44.5781C83.6588 44.6072 82.3504 44.7814 81.1002 45.0717C80.1116 45.304 79.1812 45.6814 78.2218 46.0007C77.8438 46.1459 77.4367 46.3492 77.6403 46.8427C77.8729 47.3363 78.2508 47.133 78.5997 47.0169Z"
                              fill="#FCCB06" />
                           <path
                              d="M81.2777 58.6304C83.1676 58.0497 85.0575 57.4981 87.0636 57.2368C87.4998 57.1787 87.9359 57.1497 88.372 57.0916C88.6918 57.0626 88.9826 56.9465 88.9826 56.5981C88.9826 56.1626 88.6337 56.1335 88.2848 56.1045C88.1103 56.1045 87.9359 56.1045 87.6742 56.1045C85.4355 56.3077 83.1967 56.8884 81.0161 57.5852C80.609 57.7304 79.9403 57.7884 80.1729 58.4271C80.3473 59.0078 80.8707 58.7465 81.2777 58.6304Z"
                              fill="#FCCB06" />
                           <path
                              d="M107.584 44.7821C107.584 39.7884 106.538 35.4915 104.444 31.8914C102.351 28.2913 99.3851 25.5331 95.5763 23.5879C91.7675 21.6427 87.29 20.6846 82.1728 20.6846C78.3058 20.6846 74.8168 21.2362 71.6767 22.3395C68.5657 23.4427 65.8617 25.0396 63.623 27.1299C61.3842 29.2203 59.6688 31.7462 58.4767 34.7076C57.2846 37.669 56.7031 41.0368 56.7031 44.7821C56.7031 49.7178 57.7498 54.0147 59.9014 57.6148C62.0238 61.2439 64.9895 64.0311 68.7983 65.9473C72.3745 67.7764 76.5322 68.7055 81.2714 68.8216C80.9516 67.6603 80.2829 66.9635 78.5675 66.9635C76.4159 66.9344 75.1076 65.4247 74.4098 63.4795C74.119 62.6375 74.3225 61.9988 75.0494 61.5633C75.8054 61.0988 76.6485 60.7504 77.4335 60.3149C77.7534 60.1407 78.1895 59.9955 77.986 59.56C77.7825 59.1535 77.3463 59.2406 77.0265 59.3858C76.3287 59.7052 75.6891 60.0826 74.9913 60.402C74.5842 60.6052 74.119 60.9246 73.7701 60.3729C73.4212 59.8213 73.5375 59.2987 74.119 58.9213C74.9331 58.3697 75.8054 57.9922 76.6776 57.5567C77.0556 57.3825 77.6371 57.2374 77.3754 56.6857C77.1137 56.1341 76.6195 56.4535 76.2415 56.5986C75.5437 56.889 74.875 57.2664 74.2062 57.5858C73.8573 57.76 73.5084 58.1084 73.1595 57.6438C72.8106 57.2083 72.8106 56.6567 73.2758 56.3083C73.9446 55.8147 74.6714 55.4083 75.3692 55.0018C75.6891 54.8276 76.0089 54.6824 76.3287 54.5082C76.6485 54.3631 76.9102 54.1308 76.7358 53.7534C76.5613 53.3759 76.1833 53.405 75.8926 53.5792C75.1366 53.9276 74.4388 54.334 73.6829 54.7115C73.3049 54.8857 72.8979 55.4083 72.4617 54.8276C72.1128 54.334 72.2582 53.7824 72.7525 53.434C73.3631 52.9985 74.0027 52.6211 74.6424 52.2146C74.875 52.0695 75.1657 51.9533 75.3983 51.8081C75.7472 51.6049 76.3287 51.4598 76.0089 50.9081C75.7181 50.4146 75.2239 50.7339 74.8459 50.9081C74.1481 51.2565 73.4503 51.663 72.7816 52.0404C72.4908 52.1856 72.2001 52.4178 71.8802 52.1275C71.5895 51.8662 71.5895 51.5178 71.7349 51.1404C71.9965 50.5597 72.5199 50.2404 73.0432 49.892C73.5666 49.5436 74.1481 49.2242 74.7296 48.9048C75.0785 48.7016 75.66 48.5274 75.3983 48.0048C75.1076 47.3951 74.5551 47.8016 74.1772 47.9758C73.5084 48.3242 72.8688 48.7306 72.2291 49.1081C71.9093 49.2823 71.5895 49.7178 71.2115 49.2532C70.8917 48.8758 70.9789 48.4403 71.2697 48.0919C71.9384 47.279 72.8979 46.8144 73.741 46.2338C74.1772 45.9434 75.1076 45.7692 74.6714 45.1015C74.2644 44.4918 73.6247 45.1015 73.1595 45.3628C72.5199 45.7112 71.9675 46.1467 71.386 46.5531C70.8626 46.9306 70.6009 46.8435 70.4556 46.1757C69.8741 43.824 70.7754 41.8788 72.3454 40.1949C74.119 38.3658 76.3869 37.2625 78.8001 36.4496C80.0794 36.0141 81.475 36.769 82.0855 38.0464C82.2891 38.4529 82.4054 38.9174 82.5217 39.3529C82.638 39.7303 82.7252 40.1949 83.2776 40.0207C83.7719 39.8755 83.7137 39.44 83.6265 39.0626C83.3939 38.1045 83.1613 37.1464 82.3763 36.4496C82.2309 36.3044 81.9402 36.2173 82.0565 35.956C82.2018 35.6657 82.4926 35.7818 82.7252 35.8109C84.4988 35.9851 85.7199 37.1464 86.3014 39.0045C86.4468 39.469 86.3305 40.4271 87.1155 40.1658C87.7552 39.9916 87.3772 39.2077 87.2318 38.6851C86.9411 37.6109 86.2723 36.769 85.2547 35.927C86.6212 35.8109 87.4353 36.4206 88.1041 37.2045C88.7437 37.9593 89.0926 38.8303 89.2671 39.7884C89.3252 40.0497 89.3834 40.4271 89.7323 40.3981C90.1975 40.34 90.0812 39.9336 90.023 39.6432C89.9649 39.2077 89.8195 38.7722 89.7032 38.2787C90.5754 38.7432 91.593 40.8336 91.4186 41.5885C91.3023 42.053 90.9534 41.9659 90.6336 41.9369C90.1393 41.8788 89.645 41.7917 89.1217 41.7336C88.8309 41.7046 88.5111 41.7917 88.453 42.1401C88.3948 42.4885 88.6856 42.6337 88.9763 42.6917C89.4706 42.7788 89.9649 42.8369 90.4591 42.953C90.9534 43.0692 91.4477 43.2143 91.7675 43.6208C91.971 43.8821 92.1164 44.1724 91.971 44.4918C91.7966 44.8112 91.4767 44.695 91.186 44.666C90.7208 44.6079 90.2556 44.5499 89.7904 44.5208C89.4415 44.4918 89.0926 44.5789 89.0635 44.9853C89.0344 45.3918 89.3543 45.5079 89.7032 45.566C90.2847 45.6531 90.8371 45.7112 91.4186 45.7983C91.8256 45.8854 92.1745 46.0596 92.4362 46.3789C92.6397 46.6402 92.7851 46.9306 92.6107 47.2499C92.4362 47.5693 92.1164 47.4822 91.8256 47.4532C91.2732 47.4241 90.7499 47.3661 90.1975 47.3661C89.9358 47.3661 89.6741 47.4532 89.616 47.7435C89.5578 48.0919 89.8195 48.2371 90.1393 48.2951C90.6626 48.3822 91.2151 48.4403 91.7675 48.4984C92.1745 48.5564 92.5525 48.6435 92.8723 48.9048C93.1922 49.1661 93.4248 49.5145 93.2794 49.921C93.134 50.3275 92.6979 50.2694 92.3199 50.2404C91.8256 50.2113 91.3023 50.1242 90.808 50.1242C90.4882 50.1242 90.2265 50.2404 90.1975 50.5888C90.1975 50.8791 90.43 51.0243 90.6917 51.0823C91.1569 51.1694 91.6221 51.1985 92.0873 51.2275C92.6107 51.2565 93.1049 51.3146 93.512 51.634C93.8318 51.8953 94.0353 52.2436 93.89 52.6501C93.7446 52.9985 93.3666 52.9985 93.0468 52.9985C92.4944 52.9985 91.971 52.9695 91.4186 52.9985C91.0988 52.9985 90.808 53.0856 90.808 53.463C90.808 53.8114 91.0988 53.9276 91.4186 53.9566C91.8547 53.9856 92.2908 53.9856 92.727 54.0147C93.1922 54.0437 93.6574 54.1018 94.0644 54.3631C94.4133 54.5953 94.6459 54.9147 94.5587 55.3502C94.4715 55.8147 94.0353 55.7857 93.6864 55.7857C93.134 55.7857 92.6107 55.7857 92.0582 55.7857C91.7384 55.7857 91.4767 55.9309 91.4767 56.2793C91.4767 56.6567 91.7966 56.7148 92.0873 56.7438C92.2036 56.7438 92.3199 56.7438 92.4071 56.7728C93.3085 56.918 94.5878 56.3373 95.053 57.4406C95.6926 59.0374 96.1869 60.7213 95.082 62.4053C94.3552 63.4795 93.2794 64.1182 92.1164 64.6408C91.1569 65.0473 90.1684 65.3957 89.1798 65.686C88.5402 65.8892 88.3076 66.2086 88.3948 66.8473C88.453 67.2538 88.5402 67.6893 88.5983 68.0958C89.9649 67.8345 91.3023 67.4861 92.5816 67.0506C95.7217 65.9473 98.4257 64.3795 100.635 62.2601C102.845 60.1697 104.56 57.6148 105.753 54.6244C107.003 51.8082 107.584 48.4693 107.584 44.7821Z"
                              fill="#FCCB06" />
                           <path
                              d="M80.6067 55.7266C82.1767 55.2621 83.6886 54.7395 85.3168 54.5072C86.16 54.3911 87.0323 54.304 87.9045 54.1879C88.2243 54.1588 88.486 54.0137 88.4279 53.6653C88.3988 53.3749 88.1662 53.2878 87.8754 53.2588C87.6719 53.2588 87.4393 53.2588 87.0032 53.2588C84.8226 53.404 82.5256 54.0137 80.2869 54.7685C79.8798 54.8847 79.3274 55.0298 79.5018 55.5814C79.6763 56.075 80.1997 55.8427 80.6067 55.7266Z"
                              fill="#FCCB06" />
                           <path
                              d="M89.0448 63.653C88.5506 64.0595 87.9691 64.3498 87.2422 64.8143C90.0334 64.4369 91.1673 62.9852 90.9638 60.2271C90.9056 59.6464 91.1092 58.5722 90.2369 58.6593C89.4519 58.7464 89.9752 59.6755 90.0625 60.198C90.2369 61.5045 90.1497 62.7239 89.0448 63.653Z"
                              fill="#FCCB06" />
                           <path
                              d="M83.8087 64.7856C83.547 64.9017 83.0527 64.9308 83.1981 65.3663C83.3435 65.7147 83.7796 65.5695 84.0704 65.5405C86.1638 65.2211 87.5594 63.6243 87.5303 61.5339C87.5012 60.8081 87.5012 60.0532 87.2395 59.3564C87.1523 59.0951 86.9779 58.9209 86.658 59.008C86.4254 59.0661 86.3091 59.2693 86.3091 59.4725C86.3091 59.7048 86.3091 59.9661 86.3382 60.1984C86.7453 62.9275 86.3673 63.5953 83.8087 64.7856Z"
                              fill="#FCCB06" />
                           <path
                              d="M167.171 49.8904C169.497 49.0485 171.881 48.5549 174.353 48.4678C174.702 48.4678 175.051 48.3517 175.08 47.9742C175.109 47.5387 174.702 47.5097 174.382 47.4807C174.033 47.4516 173.655 47.4807 173.306 47.4807C171.038 47.4807 168.916 48.1775 166.793 48.9323C166.444 49.0485 166.008 49.1936 166.154 49.6291C166.328 50.1517 166.822 50.0356 167.171 49.8904Z"
                              fill="#FCCB06" />
                           <path
                              d="M172.578 42.7781C172.898 42.7781 173.218 42.7781 173.538 42.72C173.8 42.6619 174.003 42.5168 174.003 42.2264C174.003 41.9071 173.654 41.6748 172.986 41.6748C170.485 41.6748 168.014 41.9651 165.717 43.0103C165.31 43.1845 164.699 43.3587 164.99 43.9394C165.281 44.462 165.775 44.0846 166.124 43.9394C168.188 43.0974 170.34 42.691 172.578 42.7781Z"
                              fill="#FCCB06" />
                           <path
                              d="M167.573 52.9099C167.748 52.8518 168.067 52.7647 168.387 52.6486C169.812 52.155 171.266 51.7195 172.778 51.5163C173.563 51.4001 174.348 51.3711 175.133 51.284C175.452 51.255 175.83 51.1388 175.772 50.7324C175.714 50.3259 175.336 50.2969 175.016 50.2969C174.319 50.3549 173.65 50.413 172.981 50.4711C171.062 50.6453 169.23 51.2259 167.428 51.8647C167.108 51.9808 166.701 52.155 166.817 52.5905C166.904 52.9099 167.166 52.9389 167.573 52.9099Z"
                              fill="#FCCB06" />
                           <path
                              d="M166.586 47.0169C166.819 46.9298 167.051 46.8427 167.284 46.7266C169.116 46.0007 171.035 45.7104 172.983 45.5653C173.535 45.5362 174.495 45.9137 174.495 45.0717C174.495 44.2588 173.506 44.7523 173.041 44.5781C171.674 44.6072 170.366 44.7814 169.116 45.0717C168.127 45.304 167.197 45.6814 166.237 46.0007C165.859 46.1459 165.452 46.3492 165.656 46.8427C165.83 47.3363 166.237 47.133 166.586 47.0169Z"
                              fill="#FCCB06" />
                           <path
                              d="M169.26 58.6304C171.15 58.0497 173.069 57.4981 175.046 57.2368C175.482 57.1787 175.918 57.1497 176.325 57.0916C176.645 57.0626 176.936 56.9465 176.936 56.5981C176.936 56.1626 176.587 56.1335 176.238 56.1045C176.063 56.1045 175.889 56.1045 175.627 56.1045C173.389 56.3077 171.15 56.8884 168.969 57.5852C168.562 57.7304 167.893 57.7884 168.126 58.4271C168.33 59.0078 168.853 58.7465 169.26 58.6304Z"
                              fill="#FCCB06" />
                           <path
                              d="M155.872 65.9457C159.448 67.7748 163.606 68.7039 168.345 68.82C168.025 67.6587 167.357 66.9619 165.641 66.9619C163.49 66.9329 162.181 65.4231 161.484 63.4779C161.193 62.636 161.396 61.9972 162.123 61.5617C162.879 61.0972 163.722 60.7488 164.507 60.3133C164.827 60.1391 165.263 59.9939 165.06 59.5584C164.856 59.152 164.42 59.2391 164.1 59.3842C163.402 59.7036 162.763 60.081 162.065 60.4004C161.658 60.6036 161.193 60.923 160.844 60.3714C160.495 59.8197 160.611 59.2971 161.193 58.9197C162.007 58.3681 162.879 57.9906 163.751 57.5551C164.129 57.3809 164.711 57.2358 164.449 56.6841C164.188 56.1325 163.693 56.4519 163.315 56.597C162.617 56.8874 161.949 57.2648 161.28 57.5842C160.931 57.7584 160.582 58.1068 160.233 57.6422C159.884 57.2067 159.884 56.6551 160.35 56.3067C161.018 55.8132 161.745 55.4067 162.443 55.0002C162.763 54.826 163.083 54.6809 163.402 54.5067C163.722 54.3615 163.984 54.1292 163.81 53.7518C163.635 53.3744 163.257 53.4034 162.966 53.5776C162.21 53.926 161.513 54.3325 160.757 54.7099C160.379 54.8841 159.972 55.4067 159.536 54.826C159.187 54.3325 159.332 53.7808 159.826 53.4324C160.437 52.9969 161.076 52.6195 161.716 52.213C161.949 52.0679 162.239 51.9517 162.472 51.8066C162.821 51.6033 163.402 51.4582 163.083 50.9065C162.792 50.413 162.298 50.7323 161.92 50.9065C161.222 51.2549 160.524 51.6614 159.855 52.0388C159.565 52.184 159.274 52.4163 158.983 52.1259C158.692 51.8646 158.692 51.5162 158.838 51.1388C159.099 50.5581 159.623 50.2388 160.146 49.8904C160.669 49.542 161.251 49.2226 161.832 48.9033C162.181 48.7 162.763 48.5258 162.501 48.0032C162.21 47.3935 161.658 47.8 161.28 47.9742C160.611 48.3226 159.972 48.7291 159.332 49.1065C159.012 49.2807 158.692 49.7162 158.314 49.2517C157.995 48.8742 158.082 48.4387 158.373 48.0903C159.041 47.2774 160.001 46.8129 160.844 46.2322C161.28 45.9419 162.21 45.7677 161.774 45.0999C161.367 44.4902 160.728 45.0999 160.262 45.3612C159.623 45.7096 159.07 46.1451 158.489 46.5516C157.965 46.929 157.704 46.8419 157.558 46.1741C156.977 43.8224 157.878 41.8772 159.448 40.1933C161.222 38.3642 163.49 37.2609 165.903 36.448C167.182 36.0125 168.578 36.7674 169.188 38.0448C169.392 38.4513 169.508 38.9158 169.625 39.3513C169.741 39.7288 169.828 40.1933 170.38 40.0191C170.875 39.8739 170.817 39.4384 170.729 39.061C170.497 38.1029 170.264 37.1448 169.479 36.448C169.334 36.3028 169.043 36.2157 169.159 35.9544C169.305 35.6641 169.595 35.7802 169.828 35.8093C171.602 35.9835 172.823 37.1448 173.404 39.0029C173.55 39.4675 173.433 40.4256 174.218 40.1643C174.858 39.9901 174.48 39.2062 174.335 38.6836C174.044 37.6093 173.375 36.7674 172.358 35.9254C173.724 35.8093 174.538 36.419 175.207 37.2029C175.847 37.9577 176.195 38.8287 176.37 39.7868C176.428 40.0481 176.486 40.4256 176.835 40.3965C177.3 40.3385 177.184 39.932 177.126 39.6417C177.068 39.2062 176.922 38.7707 176.806 38.2771C177.678 38.7416 178.696 40.832 178.521 41.5869C178.405 42.0514 178.056 41.9643 177.736 41.9353C177.242 41.8772 176.748 41.7901 176.225 41.7321C175.934 41.703 175.614 41.7901 175.556 42.1385C175.498 42.4869 175.788 42.6321 176.079 42.6901C176.573 42.7772 177.068 42.8353 177.562 42.9514C178.056 43.0676 178.551 43.2127 178.87 43.6192C179.074 43.8805 179.219 44.1708 179.074 44.4902C178.899 44.8096 178.58 44.6934 178.289 44.6644C177.824 44.6063 177.358 44.5483 176.893 44.5192C176.544 44.4902 176.195 44.5773 176.166 44.9838C176.137 45.3902 176.457 45.5064 176.806 45.5644C177.388 45.6515 177.94 45.7096 178.521 45.7967C178.928 45.8838 179.277 46.058 179.539 46.3774C179.743 46.6387 179.888 46.929 179.714 47.2484C179.539 47.5677 179.219 47.4806 178.929 47.4516C178.376 47.4226 177.853 47.3645 177.3 47.3645C177.039 47.3645 176.777 47.4516 176.719 47.7419C176.661 48.0903 176.922 48.2355 177.242 48.2936C177.765 48.3807 178.318 48.4387 178.841 48.4968C179.248 48.5549 179.626 48.642 179.946 48.9033C180.266 49.1645 180.499 49.5129 180.353 49.9194C180.208 50.3259 179.772 50.2678 179.394 50.2388C178.899 50.2097 178.376 50.1226 177.882 50.1226C177.562 50.1226 177.3 50.2388 177.271 50.5872C177.271 50.8775 177.504 51.0227 177.766 51.0807C178.231 51.1678 178.696 51.1969 179.161 51.2259C179.684 51.2549 180.179 51.313 180.586 51.6324C180.906 51.8937 181.109 52.2421 180.964 52.6485C180.818 52.9969 180.44 52.9969 180.121 52.9969C179.568 52.9969 179.045 52.9679 178.492 52.9969C178.173 52.9969 177.882 53.084 177.882 53.4615C177.882 53.8099 178.173 53.926 178.492 53.955C178.929 53.9841 179.365 53.9841 179.801 54.0131C180.266 54.0421 180.731 54.1002 181.138 54.3615C181.487 54.5938 181.72 54.9131 181.632 55.3486C181.545 55.8132 181.109 55.7841 180.76 55.7841C180.208 55.7841 179.684 55.7841 179.132 55.7841C178.812 55.7841 178.551 55.9293 178.551 56.2777C178.551 56.6551 178.87 56.7132 179.161 56.7422C179.277 56.7422 179.394 56.7422 179.481 56.7712C180.382 56.9164 181.662 56.3358 182.127 57.439C182.766 59.0358 183.261 60.7198 182.156 62.4037C181.429 63.4779 180.353 64.1166 179.19 64.6392C178.231 65.0457 177.242 65.3941 176.254 65.6844C175.614 65.8877 175.381 66.207 175.469 66.8458C175.527 67.2522 175.614 67.6877 175.672 68.0942C177.039 67.8329 178.376 67.4845 179.655 67.049C182.795 65.9457 185.499 64.3779 187.709 62.2585C189.919 60.1681 191.634 57.6132 192.826 54.6228C194.018 51.6324 194.6 48.2936 194.6 44.6063C194.6 39.6126 193.553 35.3157 191.46 31.7156C189.366 28.1155 186.401 25.3573 182.592 23.4121C178.783 21.4669 174.306 20.5088 169.188 20.5088C165.321 20.5088 161.832 21.0604 158.692 22.1637C155.581 23.2669 152.877 24.8638 150.639 26.9542C148.4 29.0445 146.684 31.5704 145.492 34.5318C144.3 37.4932 143.719 40.8611 143.719 44.6063C143.719 49.542 144.765 53.8389 146.917 57.439C149.098 61.2424 152.063 64.0295 155.872 65.9457Z"
                              fill="#FCCB06" />
                           <path
                              d="M168.56 55.7266C170.13 55.2621 171.642 54.7395 173.27 54.5072C174.113 54.3911 174.985 54.304 175.858 54.1879C176.177 54.1588 176.439 54.0137 176.381 53.6653C176.352 53.3749 176.119 53.2878 175.829 53.2588C175.625 53.2588 175.392 53.2588 174.956 53.2588C172.776 53.404 170.479 54.0137 168.24 54.7685C167.833 54.8847 167.281 55.0298 167.455 55.5814C167.629 56.075 168.153 55.8427 168.56 55.7266Z"
                              fill="#FCCB06" />
                           <path
                              d="M178.911 60.2271C178.853 59.6464 179.057 58.5722 178.184 58.6593C177.399 58.7464 177.923 59.6755 178.01 60.198C178.213 61.5336 178.126 62.7239 177.021 63.653C176.527 64.0595 175.946 64.3498 175.219 64.8143C177.981 64.4659 179.115 63.0143 178.911 60.2271Z"
                              fill="#FCCB06" />
                           <path
                              d="M172.039 65.5405C174.133 65.2211 175.528 63.6243 175.499 61.5339C175.47 60.8081 175.47 60.0532 175.208 59.3564C175.121 59.0951 174.947 58.9209 174.627 59.008C174.394 59.0661 174.278 59.2693 174.278 59.4725C174.278 59.7048 174.278 59.9661 174.307 60.1984C174.685 62.9565 174.307 63.6243 171.777 64.8146C171.516 64.9308 171.021 64.9598 171.167 65.3953C171.283 65.7147 171.719 65.5695 172.039 65.5405Z"
                              fill="#FCCB06" />
                           <path
                              d="M38.9961 94.5451C38.9961 93.2386 38.6472 92.2224 37.9494 91.5256C37.2516 90.8288 36.263 90.4804 34.9546 90.4804H26.6392C25.3599 90.4804 24.3714 90.7998 23.7026 91.4095C23.0048 92.0192 22.6559 92.9192 22.6559 94.0805C22.6559 95.2419 23.0048 96.1419 23.7026 96.7806C24.4004 97.4193 25.389 97.7387 26.6392 97.7387H30.5643V104.01C31.204 103.865 31.8436 103.691 32.4833 103.487L30.5643 107.378V104.01C29.8665 104.184 29.1687 104.329 28.4709 104.445C27.1335 104.678 25.9123 104.794 24.7784 104.794C21.115 104.794 18.3238 103.807 16.463 101.861C14.6022 99.9162 13.6427 97.0129 13.6427 93.2095C13.6427 90.6546 14.0498 88.5062 14.8639 86.7351C15.678 84.9641 16.9282 83.6576 18.6145 82.7285C20.2718 81.8285 22.3652 81.393 24.8947 81.393C26.3485 81.393 27.7441 81.5382 29.0524 81.8285C30.3608 82.1188 31.582 82.4963 32.7159 83.0479C33.7916 83.5415 34.7802 83.6576 35.6234 83.4253C36.4956 83.164 37.1643 82.6995 37.6877 81.9737C38.182 81.2479 38.5018 80.4349 38.6472 79.5639C38.7635 78.6929 38.6762 77.851 38.2983 77.038C37.9494 76.2251 37.2806 75.6154 36.2921 75.1509C34.4313 74.1638 32.5123 73.525 30.5643 73.1476C28.6163 72.7992 26.6974 72.625 24.8366 72.625C21.3766 72.625 18.2947 73.0895 15.5907 74.0476C12.8868 75.0057 10.5898 76.3993 8.69997 78.1994C6.83918 80.0285 5.38543 82.2059 4.39688 84.7318C3.40834 87.2577 2.91406 90.103 2.91406 93.2386C2.91406 97.3032 3.72816 100.816 5.38543 103.865C7.0427 106.913 9.42685 109.265 12.596 110.949C15.7652 112.633 19.6031 113.475 24.1388 113.475C26.2031 113.475 28.2674 113.301 30.3317 112.981C32.396 112.662 34.315 112.168 36.0595 111.588C37.0771 111.239 37.804 110.688 38.2692 109.904C38.7344 109.12 38.967 108.162 38.967 107.029V94.5451H38.9961Z"
                              fill="#212121" />
                           <path
                              d="M32.4971 103.487C31.8574 103.691 31.2178 103.865 30.5781 104.01V107.378L32.4971 103.487Z"
                              fill="white" />
                           <path d="M54.9665 91.9608V89.8994C54.7048 90.5381 54.5304 91.2059 54.4141 91.9608H54.9665Z"
                              fill="white" />
                           <path
                              d="M65.5712 85.3405C65.0188 84.7598 64.2047 84.4985 63.1289 84.5276C60.8029 84.6147 58.8549 85.2824 57.3139 86.6179C56.2672 87.4889 55.4822 88.5922 54.9879 89.8987V91.9601H54.4355C54.5518 91.2342 54.7553 90.5374 54.9879 89.8987V89.6374C54.9879 88.0406 54.5809 86.7922 53.7377 85.9212C52.9236 85.0502 51.7025 84.6147 50.1324 84.6147C48.5624 84.6147 47.3412 85.0502 46.498 85.9212C45.6549 86.7922 45.2188 88.0115 45.2188 89.6374V108.248C45.2188 109.903 45.6549 111.151 46.5271 112.022C47.3994 112.893 48.6787 113.328 50.3069 113.328C51.9641 113.328 53.2144 112.893 54.0866 112.022C54.9589 111.151 55.395 109.903 55.395 108.248V99.0151C55.395 97.2151 55.8311 95.8505 56.7324 94.9505C57.6337 94.0214 59.0875 93.4698 61.0646 93.2956L62.373 93.1795C63.943 93.0343 65.0188 92.5698 65.5712 91.7859C66.1236 91.002 66.4144 89.9277 66.4144 88.5922C66.3853 86.9954 66.0946 85.9212 65.5712 85.3405Z"
                              fill="#212121" />
                           <path
                              d="M77.4348 106.795L77.0859 107.579C77.1441 108.043 77.2604 108.45 77.4058 108.856C77.4058 108.653 77.4348 108.45 77.4348 108.247V106.795Z"
                              fill="white" />
                           <path d="M77.5532 96.2568H76.5938V100.989H77.5532V96.2568Z" fill="white" />
                           <path
                              d="M88.9874 97.0129C86.6614 96.5193 83.5794 96.258 79.7125 96.258H77.59V100.99H79.7125C81.1662 100.99 82.3873 101.107 83.3468 101.31C84.3063 101.513 85.0041 101.832 85.4402 102.268C85.9054 102.703 86.1089 103.255 86.1089 103.923C86.1089 104.794 85.7891 105.491 85.1785 106.071C84.568 106.623 83.6666 106.913 82.5036 106.913C81.5732 106.913 80.7301 106.71 80.0032 106.303C79.2763 105.897 78.6948 105.316 78.2296 104.591C77.7644 103.865 77.5609 102.994 77.5609 102.036V101.019H76.6014V96.287H77.5609V95.5031C77.5609 94.1676 77.9098 93.2095 78.6076 92.6288C79.3054 92.0772 80.4975 91.7869 82.1838 91.7869C83.0851 91.7869 84.1028 91.903 85.2076 92.1062C86.3415 92.3095 87.5918 92.6869 88.9874 93.2095C90.005 93.5869 90.8481 93.645 91.575 93.3837C92.3019 93.1224 92.8543 92.6579 93.2323 92.0482C93.6393 91.4094 93.8138 90.7126 93.7847 89.9578C93.7556 89.2029 93.523 88.5061 93.0578 87.8093C92.5926 87.1416 91.8658 86.619 90.9063 86.2415C89.1037 85.5738 87.4464 85.1092 85.9345 84.906C84.4226 84.6737 83.027 84.5576 81.7477 84.5576C78.6658 84.5576 76.1362 84.9931 74.1301 85.8931C72.1239 86.7641 70.6411 88.1287 69.6234 89.9288C68.6349 91.7578 68.1406 94.0805 68.1406 96.9258V108.278C68.1406 109.933 68.5477 111.181 69.3327 112.052C70.1177 112.923 71.2516 113.359 72.7635 113.359C74.3045 113.359 75.4675 112.923 76.2816 112.052C76.9794 111.297 77.3865 110.252 77.4737 108.887C77.3283 108.481 77.212 108.045 77.1539 107.61L77.5028 106.826V108.278C77.5028 108.481 77.5028 108.684 77.4737 108.887C77.7063 109.555 78.0261 110.165 78.4622 110.687C79.1309 111.558 80.0032 112.226 81.108 112.72C82.1838 113.213 83.434 113.446 84.8296 113.446C86.9812 113.446 88.842 113.039 90.4702 112.255C92.0984 111.471 93.3777 110.397 94.279 109.033C95.2094 107.668 95.6455 106.1 95.6455 104.329C95.6455 102.297 95.1222 100.7 94.0755 99.5387C92.9997 98.3774 91.3133 97.5355 88.9874 97.0129Z"
                              fill="#212121" />
                           <path
                              d="M152.602 106.798V108.25C152.602 108.453 152.602 108.656 152.631 108.859C152.776 108.453 152.863 108.017 152.95 107.582L152.602 106.798Z"
                              fill="white" />
                           <path d="M153.475 96.2871H152.516V101.02H153.475V96.2871Z" fill="white" />
                           <path
                              d="M149.032 112.69C150.108 112.196 151.009 111.528 151.678 110.657C152.085 110.135 152.434 109.525 152.666 108.857C152.666 108.654 152.637 108.451 152.637 108.247V106.796L152.986 107.58C152.928 108.044 152.812 108.451 152.666 108.857C152.753 110.222 153.16 111.267 153.858 112.022C154.672 112.893 155.835 113.328 157.376 113.328C158.888 113.328 160.022 112.893 160.807 112.022C161.592 111.151 161.999 109.902 161.999 108.247V96.8955C161.999 94.0502 161.505 91.7276 160.516 89.8985C159.528 88.0694 158.016 86.7339 156.01 85.8629C154.004 84.9919 151.474 84.5273 148.392 84.5273C147.113 84.5273 145.717 84.6435 144.205 84.8757C142.693 85.108 141.036 85.5435 139.234 86.2113C138.245 86.5887 137.547 87.1113 137.082 87.7791C136.617 88.4468 136.355 89.1727 136.355 89.9275C136.326 90.6824 136.53 91.3792 136.908 92.0179C137.315 92.6566 137.867 93.0921 138.565 93.3534C139.263 93.6147 140.135 93.5567 141.153 93.1792C142.548 92.6566 143.798 92.2792 144.932 92.076C146.066 91.8727 147.055 91.7566 147.956 91.7566C149.642 91.7566 150.834 92.0469 151.532 92.5986C152.23 93.1502 152.579 94.1083 152.579 95.4729V96.2568H153.538V100.989H152.579V102.005C152.579 102.992 152.346 103.834 151.91 104.56C151.474 105.286 150.864 105.867 150.137 106.273C149.41 106.68 148.567 106.883 147.636 106.883C146.473 106.883 145.572 106.593 144.961 106.041C144.351 105.489 144.031 104.763 144.031 103.892C144.031 103.225 144.264 102.673 144.7 102.238C145.136 101.802 145.863 101.483 146.793 101.279C147.753 101.076 148.945 100.96 150.427 100.96H152.55V96.2277H150.427C146.56 96.2277 143.479 96.489 141.153 96.9826C138.827 97.4761 137.14 98.3181 136.093 99.4794C135.047 100.641 134.523 102.238 134.523 104.27C134.523 106.041 134.989 107.609 135.89 108.973C136.82 110.338 138.071 111.412 139.699 112.196C141.327 112.98 143.217 113.386 145.339 113.386C146.706 113.415 147.927 113.183 149.032 112.69Z"
                              fill="#212121" />
                           <path
                              d="M193.947 106.97L187.056 98.3177L185.631 100.002V96.5176L187.056 98.3177L193.046 91.2336C193.918 90.2174 194.325 89.2013 194.296 88.1851C194.267 87.1689 193.86 86.327 193.104 85.6592C192.348 84.9915 191.272 84.6431 189.905 84.6431C188.51 84.6431 187.434 84.9043 186.62 85.456C185.806 86.0076 184.934 86.8205 184.003 87.9528L177.142 96.2854H177.025V77.7332C177.025 76.0783 176.589 74.8298 175.717 73.9588C174.845 73.0878 173.594 72.6523 171.966 72.6523C170.396 72.6523 169.175 73.0878 168.303 73.9588C167.43 74.8298 167.023 76.0783 167.023 77.7332V108.276C167.023 109.931 167.46 111.179 168.303 112.05C169.175 112.921 170.396 113.357 171.966 113.357C175.339 113.357 177.025 111.673 177.025 108.305V101.337H177.142L184.178 109.989C185.079 111.15 185.98 111.992 186.882 112.544C187.783 113.096 188.975 113.357 190.487 113.357C191.737 113.357 192.755 113.067 193.54 112.457C194.354 111.847 194.819 111.063 194.964 110.076C195.11 109.031 194.79 108.015 193.947 106.97Z"
                              fill="#212121" />
                           <path d="M185.633 99.9732L187.057 98.2893L185.633 96.4893V99.9732Z" fill="white" />
                           <path d="M111.378 90.0142V88.5625C111.058 88.998 110.738 89.4916 110.477 90.0142H111.378Z"
                              fill="white" />
                           <path
                              d="M129.8 96.5176C129.8 93.8175 129.451 91.553 128.725 89.7819C127.998 88.0109 126.951 86.6754 125.497 85.8334C124.073 84.9915 122.241 84.556 120.031 84.556C117.88 84.556 115.99 85.0205 114.303 85.9786C113.14 86.6463 112.152 87.5173 111.338 88.5916V90.0432H110.495C110.756 89.5206 111.076 89.0561 111.396 88.5916V77.7332C111.396 76.0783 110.96 74.8298 110.058 73.9588C109.186 73.0878 107.936 72.6523 106.308 72.6523C104.738 72.6523 103.517 73.0878 102.644 73.9588C101.772 74.8298 101.336 76.0783 101.336 77.7332V108.334C101.336 109.989 101.772 111.237 102.644 112.108C103.517 112.979 104.738 113.415 106.308 113.415C109.68 113.415 111.367 111.731 111.396 108.334V97.5048C111.396 95.8789 111.861 94.6014 112.762 93.6433C113.664 92.6852 114.856 92.2207 116.368 92.2207C117.502 92.2207 118.345 92.5691 118.926 93.2949C119.508 94.0208 119.799 95.2111 119.799 96.8951V108.334C119.799 109.989 120.235 111.237 121.107 112.108C121.979 112.979 123.2 113.415 124.828 113.415C126.457 113.415 127.678 112.979 128.55 112.108C129.422 111.237 129.829 109.989 129.829 108.334V96.5176H129.8Z"
                              fill="#212121" />
                           <path
                              d="M31.6755 68.7045C45.6024 65.5399 54.4993 51.8653 51.3883 38.3068C48.1319 24.0805 34.0597 15.3996 19.7548 18.9126C17.7777 19.4061 17.3416 18.7965 17.3997 16.9674C17.487 14.6157 17.4288 12.293 17.3997 9.94133C17.3125 4.83148 13.4455 0.853937 8.64818 0.88297C3.85081 0.912004 0.0419971 4.94762 0.0129222 10.0865C-0.0161527 15.8931 0.0129222 21.6998 0.0129222 27.5064C0.0129222 32.8775 -0.0161527 38.2197 0.0129222 43.5618C0.0710721 60.1397 15.5099 72.3627 31.6755 68.7045ZM42.6368 49.7168C42.5496 49.92 42.3751 50.0071 41.939 50.0652C40.9795 49.7168 39.8165 49.2813 38.6826 48.8168C38.45 48.7297 38.3628 48.4684 38.4791 48.2071C38.5663 47.9748 38.7698 47.7716 39.0315 47.8296C40.2236 48.0909 41.4156 48.4684 42.4914 49.0781C42.6949 49.1942 42.724 49.4845 42.6368 49.7168ZM43.8288 46.1167C43.9161 46.5812 43.5963 46.7844 43.2183 46.8715C42.5496 46.9877 39.7293 47.278 38.9733 47.3361C38.6244 47.3651 38.3337 47.1909 38.2755 46.8135C38.2174 46.4361 38.5081 46.2038 38.828 46.1748C40.2526 46.0006 41.6482 45.8264 43.0729 45.6522C43.4218 45.6231 43.7707 45.7102 43.8288 46.1167ZM38.45 44.2586C39.4676 43.5618 40.5434 42.9811 41.7355 42.6327C41.9681 42.5456 42.2007 42.7198 42.2879 42.9521C42.346 43.1263 42.346 43.2714 42.2007 43.5037C42.1134 43.6198 41.9971 43.736 41.8808 43.794C41.0086 44.2005 39.9619 44.7231 38.9152 45.1876C38.6826 45.2747 38.4209 45.1586 38.3046 44.8973C38.2465 44.665 38.2465 44.4037 38.45 44.2586ZM15.6262 32.6743C19.9002 29.0452 25.0755 28.3193 30.4544 28.4935C31.6174 28.5226 32.1698 29.3065 32.1698 30.4097C32.1698 31.8904 32.5768 33.1969 33.3909 34.4453C33.9724 35.3454 34.2923 36.4196 34.0015 37.5229C33.798 38.2487 34.0887 38.7423 34.6121 39.2068C35.5716 40.0487 36.502 40.9197 37.4324 41.7907C38.1592 42.4875 38.2174 43.1553 37.2288 43.6779C36.8218 43.9102 36.4147 44.2005 36.6473 44.6941C37.1707 45.8554 36.4147 46.1748 35.5716 46.4651C35.1645 46.6103 34.7575 46.7554 34.0015 47.0457C35.0482 47.3651 35.7751 47.5683 36.4729 47.8006C37.0835 48.0038 37.3451 48.3813 36.8509 48.9619C36.2403 49.6587 36.3275 50.3555 36.5892 51.1975C36.9381 52.3298 36.4729 52.9685 35.339 53.1718C34.9028 53.2589 34.4667 53.2589 34.0306 53.2879C31.4429 53.375 30.7451 54.0427 30.5416 56.6267C30.5125 57.1203 30.4544 57.5848 30.5125 58.0493C30.687 59.0945 30.2509 59.2978 29.3205 59.0945C26.035 58.4558 22.7495 57.8171 19.435 57.2364C18.5046 57.0622 18.1557 56.7138 18.2429 55.7267C18.5918 52.7653 17.7777 50.1523 15.8878 47.8296C14.8702 46.5812 14.2306 45.1005 13.6491 43.6198C11.9046 39.381 12.5442 35.2873 15.6262 32.6743Z"
                              fill="#FCCB06" />
                        </svg>
                     </a>
                     <%- meta_values_array.banner_content %>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- ============== Section1 End =============== -->

      <!-- ============== Section2 Start =============== -->
      <section class="main-content our-mission-content text-md-start text-center"
         style="background-image:url(/front-end/images/our-mission-bg.jpg);">
         <div class="container">
            <div class="row">
               <div class="col-md-4 col-lg-3 my-auto">
                  <div class="mission-left">
                     <h2 class="inner-main-head mb-md-0">
                        <%= meta_values_array.mission_title %>
                     </h2>
                  </div>
               </div>
               <div class="col-md-8 col-lg-9 my-auto">
                  <div class="mission-right">
                     <p class="m-0"><%- meta_values_array.mission_content %></p>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- ============== Section2 End =============== -->

      <!-- ============== Section3 Start =============== -->
      <section class="main-content about-content" style="background: #F5F5F5;">
         <div class="container">
            <div class="row">
               <div class="col-md-6 my-auto">
                  <div class="about-left-slider my-3">
                     <div class="about-50-left">
                        <div class="gr-slider1">
                           <div class="item">
                              <img src="/<%= meta_values_array.platform_img_1 %>" alt="img" width="194" height="228">
                           </div>
                           <div class="item">
                              <img src="/<%= meta_values_array.platform_img_2 %>" alt="img" width="194" height="228">
                           </div>
                        </div>
                        <div class="gr-slider2">
                           <div class="item">
                              <img src="/<%= meta_values_array.platform_img_3 %>" alt="img" width="212" height="312">
                           </div>
                           <div class="item">
                              <img src="/<%= meta_values_array.platform_img_4 %>" alt="img" width="212" height="312">
                           </div>
                        </div>
                     </div>
                     <div class="about-50-right">
                        <div class="gr-slider3">
                           <div class="item">
                              <img src="/<%= meta_values_array.platform_img_5 %>" alt="img" width="298" height="434">
                           </div>
                           <div class="item">
                              <img src="/<%= meta_values_array.platform_img_6 %>" alt="img" width="298" height="434">
                           </div>
                        </div>
                        <div class="gr-slider4">
                           <div class="item">
                              <img src="/<%= meta_values_array.platform_img_7 %>" alt="img" width="252" height="250">
                           </div>
                           <div class="item">
                              <img src="/<%= meta_values_array.platform_img_8 %>" alt="img" width="252" height="250">
                           </div>
                        </div>
                     </div>
                     <div class="about-overlay-object1"><img src="/front-end/images/overlay-object1.png" alt="img"
                           width="151" height="158"></div>
                  </div>
               </div>
               <div class="col-md-6 my-auto">
                  <div class="about-right text-md-start text-center my-3">
                     <%- meta_values_array.platform_content %>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- ============== Section3 End =============== -->

      <!-- ============== Section2 Start =============== -->
      <section class="main-content bottom-main-content about-bottom-content">
         <div class="container">
            <div class="row flex-md-row-reverse">
               <div class="col-md-6 my-auto">
                  <div class="about-bottom-img">
                     <img src="/<%= meta_values_array.right_img_1 %>" alt="img" loading="lazy" width="526" height="498">
                  </div>
               </div>
               <div class="col-md-6 my-auto">
                  <div class="about-bottom-text about-bottom-text1">
                     <%- meta_values_array.CEchoesTechnology_would_content %>
                  </div>
               </div>

            </div>
            <div class="row">
               <div class="col-md-6 my-auto">
                  <div class="about-bottom-img">
                     <img src="/<%= meta_values_array.right_img_2 %>" alt="img" loading="lazy" width="526" height="526">
                  </div>
               </div>
               <div class="col-md-6 my-auto">
                  <div class="about-bottom-text about-bottom-text2">
                     <%- meta_values_array.customers_content %>
                  </div>
                  <div class="about-bottom-text about-bottom-text3">
                     <%- meta_values_array.service_providers_content %>
                  </div>
               </div>

            </div>
            <div class="row">
               <div class="col-12">
                  <div class="business-bottom-tagline" data-aos="fade-up">
                     <h3>Join the Next-Gen Customer Experience revolution !!</h3>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- ============== Section2 End =============== -->
      <%- include('common/footer') -%>
