<%- include('common/header') -%>
   <link href="/front-end/css/about-style.css" rel="stylesheet" type="text/css">
   <%- include('common/header-banner') -%>

      <!-- ============== Section1 Start =============== -->
      <section class="main-content about-content2">
         <div class="container">
            <div class="row flex-md-row-reverse">
               <div class="col-md-6 my-auto">
                  <div class="about-left-slider my-3">
                     <div class="about-50-right">
                        <div class="gr-slider3">
                           <div class="item">
                              <img src="/<%= meta_values_array.banner_img_1 %>" alt="img" width="298" height="434">
                           </div>
                           <div class="item">
                              <img src="/<%= meta_values_array.banner_img_2 %>" alt="img" width="298" height="434">
                           </div>
                        </div>
                        <div class="gr-slider4">
                           <div class="item">
                              <img src="/<%= meta_values_array.banner_img_3 %>" alt="img" width="252" height="250">
                           </div>
                           <div class="item">
                              <img src="/<%= meta_values_array.banner_img_4 %>" alt="img" width="252" height="250">
                           </div>
                        </div>
                     </div>
                     <div class="about-50-left">
                        <div class="gr-slider1">
                           <div class="item">
                              <img src="/<%= meta_values_array.banner_img_5 %>" alt="img" width="194" height="228">
                           </div>
                           <div class="item">
                              <img src="/<%= meta_values_array.banner_img_6 %>" alt="img" width="194" height="228">
                           </div>
                        </div>
                        <div class="gr-slider2">
                           <div class="item">
                              <img src="/<%= meta_values_array.banner_img_7 %>" alt="img" width="212" height="312">
                           </div>
                           <div class="item">
                              <img src="/<%= meta_values_array.banner_img_8 %>" alt="img" width="212" height="312">
                           </div>
                        </div>
                     </div>
                     <div class="about-overlay-object1"><img src="/front-end/images/overlay-object1.png" alt="img"
                           width="151" height="158"></div>
                  </div>
               </div>
               <div class="col-md-6 my-auto">
                  <div class="about-right text-md-start text-center my-3">
                     <a href="/" class="bg-about-logo">
                           <img style="margin: 0 auto;" src="/front-end/images/cechoes-black-logo.png" alt="Cechoes-logo">
                     </a>
                     <%- meta_values_array.banner_content %>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- ============== Section1 End =============== -->

      <!-- ============== Section2 Start =============== -->
      <section class="main-content our-mission-content text-md-start text-center"
         style="background-image:url(/front-end/images/our-mission-bg.jpg);">
         <div class="container">
            <div class="row">
               <div class="col-md-4 col-lg-3 my-auto">
                  <div class="mission-left">
                     <h2 class="inner-main-head mb-md-0">
                        <%= meta_values_array.mission_title %>
                     </h2>
                  </div>
               </div>
               <div class="col-md-8 col-lg-9 my-auto">
                  <div class="mission-right">
                     <p class="m-0"><%- meta_values_array.mission_content %></p>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- ============== Section2 End =============== -->

      <!-- ============== Section3 Start =============== -->
      <section class="main-content about-content" style="background: #F5F5F5;">
         <div class="container">
            <div class="row">
               <div class="col-md-6 my-auto">
                  <div class="about-left-slider my-3">
                     <div class="about-50-left">
                        <div class="gr-slider1">
                           <div class="item">
                              <img src="/<%= meta_values_array.platform_img_1 %>" alt="img" width="194" height="228">
                           </div>
                           <div class="item">
                              <img src="/<%= meta_values_array.platform_img_2 %>" alt="img" width="194" height="228">
                           </div>
                        </div>
                        <div class="gr-slider2">
                           <div class="item">
                              <img src="/<%= meta_values_array.platform_img_3 %>" alt="img" width="212" height="312">
                           </div>
                           <div class="item">
                              <img src="/<%= meta_values_array.platform_img_4 %>" alt="img" width="212" height="312">
                           </div>
                        </div>
                     </div>
                     <div class="about-50-right">
                        <div class="gr-slider3">
                           <div class="item">
                              <img src="/<%= meta_values_array.platform_img_5 %>" alt="img" width="298" height="434">
                           </div>
                           <div class="item">
                              <img src="/<%= meta_values_array.platform_img_6 %>" alt="img" width="298" height="434">
                           </div>
                        </div>
                        <div class="gr-slider4">
                           <div class="item">
                              <img src="/<%= meta_values_array.platform_img_7 %>" alt="img" width="252" height="250">
                           </div>
                           <div class="item">
                              <img src="/<%= meta_values_array.platform_img_8 %>" alt="img" width="252" height="250">
                           </div>
                        </div>
                     </div>
                     <div class="about-overlay-object1"><img src="/front-end/images/overlay-object1.png" alt="img"
                           width="151" height="158"></div>
                  </div>
               </div>
               <div class="col-md-6 my-auto">
                  <div class="about-right text-md-start text-center my-3">
                     <%- meta_values_array.platform_content %>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- ============== Section3 End =============== -->

      <!-- ============== Section2 Start =============== -->
      <section class="main-content bottom-main-content about-bottom-content">
         <div class="container">
            <div class="row flex-md-row-reverse">
               <div class="col-md-6 my-auto">
                  <div class="about-bottom-img">
                     <img src="/<%= meta_values_array.right_img_1 %>" alt="img" loading="lazy" width="526" height="498">
                  </div>
               </div>
               <div class="col-md-6 my-auto">
                  <div class="about-bottom-text about-bottom-text1">
                     <%- meta_values_array.CEchoesTechnology_would_content %>
                  </div>
               </div>

            </div>
            <div class="row">
               <div class="col-md-6 my-auto">
                  <div class="about-bottom-img">
                     <img src="/<%= meta_values_array.right_img_2 %>" alt="img" loading="lazy" width="526" height="526">
                  </div>
               </div>
               <div class="col-md-6 my-auto">
                  <div class="about-bottom-text about-bottom-text2">
                     <%- meta_values_array.customers_content %>
                  </div>
                  <div class="about-bottom-text about-bottom-text3">
                     <%- meta_values_array.service_providers_content %>
                  </div>
               </div>

            </div>
            <div class="row">
               <div class="col-12">
                  <div class="business-bottom-tagline" data-aos="fade-up">
                     <h3>Join the Next-Gen Customer Experience revolution !!</h3>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- ============== Section2 End =============== -->
      <%- include('common/footer') -%>
      
      <script>
document.addEventListener("DOMContentLoaded", async function () {
    console.log("DOM content loaded");

    try {
        const { countryName, countryCode } = await fetchGeolocationAndSetCountryInfo();
        console.log("Initial CountryName:", countryName);
        console.log("Initial CountryCode:", countryCode);

        const countryDropdown = document.querySelector('.country-dropdown');
        if (countryCode == 'UK') {
            countryDropdown.value = 'UK';
        } else if (countryCode == 'JP') {
            countryDropdown.value = 'JP';
        } else {
            countryDropdown.value = 'US';
        }

        countryDropdown.addEventListener('change', function (event) {
            const selectedCountryCode = event.target.value;
            const selectedCountryName = event.target.options[event.target.selectedIndex].text;
            console.log("Selected country code:", selectedCountryCode);
            console.log("Selected country name:", selectedCountryName);

            const redirectUrl = `/about-us/${selectedCountryCode}`;
            window.location.href = redirectUrl;
        });
    } catch (error) {
        console.error('Error initializing country info:', error);
    }
});

      </script>