<%- include('common/header') -%>
<link href="/front-end/css/company-profile-dashboard.css" rel="stylesheet" type="text/css">
<%- include('common/header-banner') -%>

<!-- ============== Section1 Start =============== -->
<section class="main-content premium_company_profile">
   <div class="container">
      <div class="main_box">
         <%- include('common/premium-company-sidebar') -%>
      </div>
         <% if(PollDetails.length > 0) { %>
         <% const dateString = PollDetails[0].expired_at; %>
         <% const date = new Date(dateString); %>
         <% const date2 = new Date(); 
            date2.setHours(0, 0, 0, 0) %>
         
         <% const daysDiff = Math.round((date - date2)/(1000 * 60 * 60 * 24)) %>
         <% if(daysDiff < 0 ) {%>
         <div class="all-poll-list-wrapper">
            <div class="create-new-poll-wrap">
               
                  <div class="create-poll-btn text-end">
                     <a href="#" class="btn-default btn-warning">Create New Poll </a>
                  </div>
                  <div class="creat-poll-field">
                     <form id="form-create-poll">
                        <input type="hidden" name="company_id" value="<%= company.ID %>" >
                        <input type="hidden" name="user_id" value="<%= currentUserData.user_id %>" >
                           <div class="row">
                              <div class="col-md-9 col-lg-10">
                                 <div class="custom-form">
                                       <label><span >Enter your question</span><span style="color: red;">*</span></label>
                                       <input type="text" class="form-control" name="poll_question" required>
                                 </div>
                              </div>
                              <div class="col-md-3 col-lg-2">
                                 <div class="custom-form">
                                       <label><span>Expire date</span><span style="color: red;">*</span></label>
                                       <input type="date" class="form-control" name="expire_date" required>
                                 </div>
                              </div>
                              <!-- <div class="col-md-12">
                              <div class="custom-form">
                                    <label><span>Answer</span></label>
                                    <input type="text" class="form-control" name="poll_answer">
                              </div>
                              </div> -->
                              <div class="multiple-ans-wrap">
                                 <div class="multiple-ans-repeat">
                                    <div class="custom-form">
                                       <label><span>Answer</span><span style="color: red;">*</span></label>
                                       <input type="text" class="form-control" name="poll_answer" required>
                                       <!-- <div class="remove-ans"><i class="fa-solid fa-circle-xmark"></i></div> -->
                                    </div>
                                 </div>
                                 <div class="multiple-ans-repeat">
                                    <div class="custom-form">
                                       <label><span>Answer</span><span style="color: red;">*</span></label>
                                       <input type="text" class="form-control" name="poll_answer" required>
                                       <!-- <div class="remove-ans"><i class="fa-solid fa-circle-xmark"></i></div> -->
                                    </div>
                                 </div>
                                 <a href="#" class="btn-default btn-warning add-ans-btn my-1">Add More Answer</a> 
                              </div>
                           </div>
                           <input type="submit" class="btn-default btn-dark my-1" id="poll_submit" value="Create Poll" >
                     </form>
                     <div class="register-now frm-loading" style="display: none;">
                        <span class="indicator-progress">Please wait...
                           <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                        </span>
                     </div>
                     <div style=" width: 100%; text-align: center; display: block; border: 2px solid #fccb06; padding: 6px; margin-top: 20px; border-radius: 5px; display: none;" class="poll-create-message"></div>
                  </div>
            </div>
         </div>
         <% } %>
       <% } else { %>
         <div class="all-poll-list-wrapper">
            <div class="create-new-poll-wrap">
               
                  <div class="create-poll-btn text-end">
                     <a href="#" class="btn-default btn-warning">Create New Poll</a>
                  </div>
                  <div class="creat-poll-field">
                     <form id="form-create-poll">
                        <input type="hidden" name="company_id" value="<%= company.ID %>" >
                        <input type="hidden" name="user_id" value="<%= currentUserData.user_id %>" >
                           <div class="row">
                              <div class="col-md-9 col-lg-10">
                                 <div class="custom-form">
                                       <label><span >Enter your question</span><span style="color: red;">*</span></label>
                                       <input type="text" class="form-control" name="poll_question" required>
                                 </div>
                              </div>
                              <div class="col-md-3 col-lg-2">
                                 <div class="custom-form">
                                       <label><span>Expire date</span><span style="color: red;">*</span></label>
                                       <input type="date" class="form-control" name="expire_date" required>
                                 </div>
                              </div>
                              <!-- <div class="col-md-12">
                              <div class="custom-form">
                                    <label><span>Answer</span></label>
                                    <input type="text" class="form-control" name="poll_answer">
                              </div>
                              </div> -->
                              <div class="multiple-ans-wrap">
                                 <div class="multiple-ans-repeat">
                                    <div class="custom-form">
                                       <label><span>Answer</span><span style="color: red;">*</span></label>
                                       <input type="text" class="form-control" name="poll_answer" required>
                                       <!-- <div class="remove-ans"><i class="fa-solid fa-circle-xmark"></i></div> -->
                                    </div>
                                 </div>
                                 <div class="multiple-ans-repeat">
                                    <div class="custom-form">
                                       <label><span>Answer</span><span style="color: red;">*</span></label>
                                       <input type="text" class="form-control" name="poll_answer" required>
                                       <!-- <div class="remove-ans"><i class="fa-solid fa-circle-xmark"></i></div> -->
                                    </div>
                                 </div>
                                 <a href="#" class="btn-default btn-warning add-ans-btn my-1">Add More Answer</a> 
                              </div>
                           </div>
                           <input type="submit" class="btn-default btn-dark my-1" id="poll_submit" value="Create Poll" >
                     </form>
                     <div class="register-now frm-loading" style="display: none;">
                        <span class="indicator-progress">Please wait...
                           <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                        </span>
                     </div>
                     <div style=" width: 100%; text-align: center; display: block; border: 2px solid #fccb06; padding: 6px; margin-top: 20px; border-radius: 5px; display: none;" class="poll-create-message"></div>
                  </div>
            </div>
         </div>
         <% }%>
       <!-- accordion -->
       <% if(PollDetails.length > 0 ){%>
       <div class="custom-accordion">
            <% PollDetails.forEach((poll)=>{  %>
               <div class="accordion-repeat">
                  <div class="c_accordion_wrap">
                     <div class="acc_heading">
                        <div class="acc_heading_left">
                           <%= poll.question %>
                        </div> 
                        <% const dateString = poll.expired_at; %>
                        <% const date = new Date(dateString); %>
                        <%
                           const year = date.getFullYear();
                           const month = String(date.getMonth() + 1).padStart(2, '0');
                           const day = String(date.getDate()).padStart(2, '0');
                           const formattedDate = `${year}-${month}-${day}`;
                        %>
                        <% const date2 = new Date(); 
                           date2.setHours(0, 0, 0, 0) %>
                        <% const daysDiff = Math.round((date - date2)/(1000 * 60 * 60 * 24)) %>
                        <div class="acc_heading_right">
                           <% if(daysDiff >= 0){ %>
                              <span class="badge badge-square badge-success">ongoing</span>
                           <% } else { %>
                              <span class="badge badge-square badge-dark">Past </span>
                           <% } %>
                           <span class="p-date"><%= date.toLocaleDateString('en-IN', { day: 'numeric', month: 'short', year: 'numeric' }) %></span>
                        </div> 
                     </div>
                     <% var voteCount = ''; %>
                     <div class="acc_contents">
                        <% poll.poll_answer.forEach((ans, index)=>{%>
                           <%  voteCount = poll.voting_answer_id.length 
                              var ansCount = 0;
                           %>
                           <% poll.voting_answer_id.forEach((ans_id) =>{ 
                              if(ans_id == poll.poll_answer_id[index]){
                                    ansCount++;
                              }
                           }) %>
                           <% var percentOfVote = Math.round((ansCount/voteCount)*100) %>

                           <div class="custom-progress progress">
                              <div class="progress-bar" style="width:<%= percentOfVote ? percentOfVote : 0 %>%"></div>
                              <div class="progress-questions"><%= ans %></div>
                              <div class="progress-value-percentage">
                                 <span class="" >No of participants: <%= ansCount ? ansCount : 0 %></span><br>
                                 <span class=" ">Percentage: <%= ansCount ? percentOfVote : 0 %>% </span>
                              </div>
                           </div>
                        <% })  %>
                        <!-- <div class="custom-progress progress">
                           <div class="progress-bar" style="width:30%"></div>
                           <div class="progress-questions">Lorem Ipsum is simply dummy text</div>
                           <div class="progress-value-percentage">
                                 30%
                           </div>
                        </div>
                         -->
                        <div class="text-end">
                           
                           <div>
                              <div class="change-expire-date-btn mb-3 d-flex align-items-center justify-content-between">
                                <p class="m-0"> Total participants: <%= voteCount %> </p>
                                <button class="download-csv-btn btn-default btn-primary smaller-btn">CSV</button>
                                <div>
                                 <span><%= date.toLocaleDateString('en-IN', { day: 'numeric', month: 'short', year: 'numeric' }) %></span> 
                                    <% if(daysDiff >= 0){ %>
                                    <a href="#" class="btn-default btn-warning">Change Expire Date </a>
                                    <% } %>
                                 </div>
                              </div>
                              <% if(daysDiff >= 0){ %>
                                 
                              <div class="expire-date-field mb-3">
                                 <form id="form_expire_date" class="expire-date-field-divide">
                                    <input type="hidden" name="poll_id" value="<%= poll.poll_id %>" >
                                    <input class="form-control" type="date" name="change_expire_date" value="<%- formattedDate %>" ><input class="btn-default btn-warning" id="expire_submit" type="submit" value="Submit" >
                                 </form>
                              </div>
                              <% } %>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            <% }) %>
        </div>
        <% } %>
      </div>
   </div>
</section>
<!-- ============== Section1 end =============== -->

<%- include('common/footer') -%>
<style>

.smaller-btn {
    padding: 5px 10px; 
    font-size: 14px; 
    width: 80px; 
    background-color: #ffc107; 
    color: #000; 
    border: none; 
}

</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<script>
   $(document).ready(function () {
      $(document).on('click', '.add-ans-btn', function (e) {
         e.preventDefault();
         $(this).parents('.multiple-ans-wrap').append('<div class="multiple-ans-repeat"><div class="custom-form"><label><span>Answer</span></label><input type="text" class="form-control" name="poll_answer"><div class="remove-ans"><i class="fa-solid fa-circle-xmark"></i></div></div></div>');
         $(this).parent().append('<a href="#" class="btn-default btn-warning add-ans-btn my-1">Add More Answer</a> ');
         $(this).remove();
      });
   
   // Remove Category
      $('.multiple-ans-wrap').on('click', '.remove-ans', function () {
         $(this).parents('.multiple-ans-repeat').remove();
      });
   
   
      $('form#form-create-poll').submit(function (e) {
         e.preventDefault();
         //alert('aaaaaa')
         $('.poll-create-message').hide();
         $('.poll-create-message').text('');
         $('#poll_submit').prop('disabled', true);
         $('.frm-loading').show();  
         
         // Create a new FormData object from the form
         // var formElement = document.getElementById('form-create-poll');
         // const formData = new FormData(formElement);
         const formData = new FormData($('#form-create-poll')[0]);
         const jsonResponse = $('#form-create-poll').serializeArray();
         const transformedResponse = {};
         let poll_answer = []
         jsonResponse.forEach(item => {
            const { name, value } = item;
            if (name == 'poll_answer' && value != '') {
               poll_answer.push(value);
            }else{
            transformedResponse[name] = value;
            }
            transformedResponse['poll_answer'] = poll_answer;
         });
         console.log(jsonResponse);
         //return false;
   
         $.ajax({
            url: '/auth/create-poll', // URL for your API endpoint
            method: 'POST',
            data: JSON.stringify(transformedResponse),
            //data: formData,
            processData: false,
            //contentType: false,
            contentType: 'application/json',
            success: function (data) {
               if (data.status == 'ok') {
                  $('.poll-create-message').text(data.message);
                  $('.poll-create-message').show();
                  $('#poll_submit').prop('disabled', false);
                  $('.frm-loading').hide();
                  window.location.reload();
               } else {
                  $('.poll-create-message').text(data.message);
                  $('.poll-create-message').show();
                  $('#poll_submit').prop('disabled', false);
                  $('.frm-loading').hide();
                  console.log('Something went wrong');
               }
            },
            error: function (xhr, status, error) {
               // Handle any errors that occur during the request
               console.log(error);
            }
         });
      });
   
      $(".change-expire-date-btn .btn-default").click(function(e){
      e.preventDefault();
      $(".expire-date-field").slideToggle();
      });
   
      $('form#form_expire_date').submit(function (e) {
         e.preventDefault();
         //alert('aaaaaa')
         $('.poll-create-message').hide();
         $('.poll-create-message').text('');
         $('#expire_submit').prop('disabled', true);
         $('.frm-loading').show();  
         
         // Create a new FormData object from the form
         // var formElement = document.getElementById('form-create-poll');
         // const formData = new FormData(formElement);
         const formData = new FormData($('#form_expire_date')[0]);
         
         const jsonResponse = $('#form_expire_date').serializeArray();
         const transformedResponse = {};
         jsonResponse.forEach(item => {
            const { name, value } = item;
            transformedResponse[name] = value;
         });
         console.log(jsonResponse);
         //return false;
   
         $.ajax({
            url: '/auth/update-poll-expire-date', // URL for your API endpoint
            method: 'POST',
            data: JSON.stringify(transformedResponse),
            //data: formData,
            processData: false,
            //contentType: false,
            contentType: 'application/json',
            success: function (data) {
               if (data.status == 'ok') {
                  $('.poll-create-message').text(data.message);
                  $('.poll-create-message').show();
                  $('#expire_submit').prop('disabled', false);
                  $('.frm-loading').hide();
                  window.location.reload();
               } else {
                  $('.poll-create-message').text(data.message);
                  $('.poll-create-message').show();
                  $('#expire_submit').prop('disabled', false);
                  $('.frm-loading').hide();
                  console.log('Something went wrong');
               }
            },
            error: function (xhr, status, error) {
               // Handle any errors that occur during the request
               console.log(error);
            }
         });
      });
      
   })
   
   
   function htmlToText(html) {
       var doc = new DOMParser().parseFromString(html, 'text/html');
       return doc.body.textContent || "";
   }

   function htmlToText(html) {
    var doc = new DOMParser().parseFromString(html, 'text/html');
    return doc.body.textContent || "";
}

function downloadCSV(csv, filename) {
    var csvFile = new Blob([csv], { type: "text/csv" });
    var downloadLink = document.createElement("a");
    downloadLink.download = filename;
    downloadLink.href = window.URL.createObjectURL(csvFile);
    downloadLink.style.display = "none";
    document.body.appendChild(downloadLink);
    downloadLink.click();
}

function generatePollCSV(pollTitle, poll) {
    var csv = `Poll Title: ${pollTitle}\nAnswer,No_of_participants,Percentage\n`;

    poll.querySelectorAll('.acc_contents .custom-progress').forEach(function(progress) {
        var answer = htmlToText(progress.querySelector('.progress-questions').innerText.trim());
        console.log("answer",answer);

        var participants = htmlToText(progress.querySelector('.progress-value-percentage span:first-child').innerText.trim()).match(/\d+/)[0];
        console.log("participants", participants);

        var percentage = htmlToText(progress.querySelector('.progress-value-percentage span:last-child').innerText.trim()).match(/\d+/)[0];
        console.log("percentage", percentage);

        csv += `"${answer}","${participants}","${percentage}"\n`;
    });

    downloadCSV(csv, `${htmlToText(pollTitle)}_details.csv`);
}

document.querySelectorAll('.download-csv-btn').forEach(function(button) {
    button.addEventListener('click', function() {
        var poll = button.closest('.accordion-repeat');
        var pollTitle = htmlToText(poll.querySelector('.acc_heading_left').innerText.trim());
        generatePollCSV(pollTitle, poll);
    });
});


   
// function htmlToText(html) {
//     var doc = new DOMParser().parseFromString(html, 'text/html');
//     return doc.body.textContent || "";
// }

// function downloadCSV(csv, filename) {
//     var csvFile = new Blob([csv], { type: "text/csv" });
//     var downloadLink = document.createElement("a");
//     downloadLink.download = filename;
//     downloadLink.href = window.URL.createObjectURL(csvFile);
//     downloadLink.style.display = "none";
//     document.body.appendChild(downloadLink);
//     downloadLink.click();
// }

// function generatePollCSV(poll) {
//     var csv = "Answer,No_of_participants,Percentage\n";

//     poll.querySelectorAll('.acc_contents .custom-progress').forEach(function(progress) {
//         var answer = htmlToText(progress.querySelector('.progress-questions').innerText.trim());
//         console.log("answer",answer);

//         var participants = htmlToText(progress.querySelector('.progress-value-percentage span:first-child').innerText.trim()).match(/\d+/)[0];
//         console.log("participants", participants);

//         var percentage = htmlToText(progress.querySelector('.progress-value-percentage span:last-child').innerText.trim()).match(/\d+/)[0];
//         console.log("percentage", percentage);

//         csv += `"${answer}","${participants}","${percentage}"\n`;
//     });

//     downloadCSV(csv, `${htmlToText(poll.querySelector('.acc_heading_left').innerText.trim())}_details.csv`);
// }

// document.querySelectorAll('.download-csv-btn').forEach(function(button) {
//     button.addEventListener('click', function() {
//         var poll = button.closest('.accordion-repeat');
//         generatePollCSV(poll);
//     });
// });

   </script>