<%- include('common/header') -%>
<link href="/front-end/css/company-profile-dashboard.css" rel="stylesheet" type="text/css">
<%- include('common/header-banner') -%>

<!-- ============== Section1 start =============== -->
<section class="main-content premium_company_profile bottom-main-content">
    <div class="container">
       <div class="main_box">
         <%- include('common/premium-company-sidebar') -%>
       </div>
       <% if(company && company.membership_type_id>=3 ){ %>
       <div class="company-user-complain-wrapper">
         <div class="c-u-top-head">
            <div class="c-u-top-head-part">
               <strong>Token ID:</strong> <%= ComplaintsByComplaintId.ticket_id %>
            </div>
            <div class="c-u-top-head-part">
               <strong>Date:</strong> 
               <% const createdateString = ComplaintsByComplaintId.level_update_at; %>
               <% const createdate = new Date(createdateString); %>
               <%= createdate.toLocaleDateString('en-US', { day: 'numeric', month: 'short', year: 'numeric' }) %>
            </div>
            <div class="c-u-top-head-part">
               <strong>Status:</strong> 
               <% if(ComplaintsByComplaintId.status == '0') { %>
                  <span class="text-danger"><strong>Reopen</strong></span>
               <% } else if(ComplaintsByComplaintId.status == '1') { %>
                  <span class="text-success"><strong>Resolved</strong></span>
                  <% } else { %>
                     <span class="text-warning"><strong>Ongoing</strong></span>
                     <% } %>
            </div>
         </div>
         <div class="all-complain-reg-info">
            <div class="row">
               <div class="col-md-4">
                  <div class="c-u-layer-part">
                     <strong>Company Name:</strong> <%= ComplaintsByComplaintId.company_name %>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="c-u-layer-part">
                     <strong>Category:</strong> <%= ComplaintsByComplaintId.category_name %>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="c-u-layer-part">
                     <strong>Sub Category:</strong> <%= ComplaintsByComplaintId.sub_category_name %>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="c-u-layer-part">
                     <strong>Model Number:</strong> <%= ComplaintsByComplaintId.model_desc %>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="c-u-layer-part">
                     <strong>Date of Purchase:</strong> 
                     <% const dateString = ComplaintsByComplaintId.purchase_date; %>
                     <% const date = new Date(dateString); %>
                     <%= date.toLocaleDateString('en-US', { day: 'numeric', month: 'short', year: 'numeric' }) %>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="c-u-layer-part">
                     <strong>Place of Order:</strong> <%= ComplaintsByComplaintId.purchase_place %>
                  </div>
               </div>
               <div class="col-md-12">
                  <div class="c-u-layer-part">
                     <strong>Tags:</strong> 
                     <%= ComplaintsByComplaintId.tags ? JSON.parse(ComplaintsByComplaintId.tags) : ''  %>
                  </div>
               </div>
               <div class="col-md-12">
                  <div class="c-u-layer-part">
                     <strong>Message:</strong> <%= ComplaintsByComplaintId.message %>
                  </div>
               </div>
               <div class="col-md-12">
                  <div class="c-u-layer-part">
                     <strong>Overall Days:</strong> <%= approximateDifferenceInDays %>
                  </div>
               </div>
            </div>
         </div>
         <% 
         createdate.setHours(0, 0, 0, 0); 
         %>
         <% const date2 = new Date(); 
            date2.setHours(0, 0, 0, 0) 
         const daysDiff = Math.round((date2 - createdate)/(1000 * 60 * 60 * 24)) 
         %>
         <div class="custom-text-label">
            Hops Level
         </div>
         <div class="custom-text-box">
            <% if(ComplaintsByComplaintId.status == '1') { %>
               <strong>Ongoing Complaint Management Level <%= ComplaintsByComplaintId.level_id %></strong> <small class="badge bg-success"> Resolved </small>
            <% }else { %>
                  <strong>Ongoing Complaint Management Level <%= ComplaintsByComplaintId.level_id %></strong> <small class="badge bg-danger"><%= ComplaintsByComplaintId.eta_days - daysDiff %>  days Left</small>
            <% } %>
         </div>
         
            
         <% if(ComplaintsByComplaintId && ComplaintsByComplaintId.user_complaint_rating) { %>
            <div class="custom-text-label">
               Customer Rating
            </div>
            <div class="user-rating">
               <% if(ComplaintsByComplaintId.user_complaint_rating == '1'){ %>
                  <span><img src="/1691876041063-2.Low.gif" alt="" style="display: inline-block;" width="35"></span>
                  <span><%= ComplaintsByComplaintId.user_complaint_rating %>/5</span>
               <% } else if (ComplaintsByComplaintId.user_complaint_rating == '2') { %>
                  <span><img src="/1691876024849-3.NotBad.gif" alt="" style="display: inline-block;" width="35"></span>
                  <span><%= ComplaintsByComplaintId.user_complaint_rating %>/5</span>
               <% } else if (ComplaintsByComplaintId.user_complaint_rating == '3') { %>
                  <span><img src="/1691875972021-6.Good.gif" alt="" style="display: inline-block;" width="35"></span>
                  <span><%= ComplaintsByComplaintId.user_complaint_rating %>/5</span>
               <% } else if (ComplaintsByComplaintId.user_complaint_rating == '4') { %>
                  <span><img src="/1691875935385-8.Awesome.gif" alt="" style="display: inline-block;" width="35"></span>
                  <span><%= ComplaintsByComplaintId.user_complaint_rating %>/5</span>
               <% } else { %>
                     <span><img src="/1691875890277-10.High.gif" alt="" style="display: inline-block;" width="35"></span>
                     <span><%= ComplaintsByComplaintId.user_complaint_rating %>/5</span>
               <% } %>
            </div>
         <% } %>
         
         <% if(ComplaintsByComplaintId.queryResponseData.length > 0 ) { %>
            <% let level_1 =true;
               let level_2 = true;
            %>
            <% ComplaintsByComplaintId.queryResponseData.forEach((response,index)=>{ %>
               <% if(response.level_id == 1){ %> 
                  <% if(level_1 == true){ %> 
                     <div class="custom-text-label">
                         Conversation
                     </div>
                     <div class="custom-text-box">
                        <strong>Hops Level 1 </strong> 
                     </div>
                  <% } %>
                  <% level_1 = false %>
                  <% if(response.response == '') { %>
                     <div class="custom-text-label">
                        <% if(response.resolve_status == '1'){ %>
                           <%= ComplaintsByComplaintId.company_name %> (s) Resolve Response to Customer  
                           <% } else { %>
                              <%= ComplaintsByComplaintId.company_name %> (s) Query to Customer  
                              <% } %>
                        
                        <% const responsedateString = response.created_at; %>
                        <% const responsedate = new Date(responsedateString); %>
                        <strong class="badge bg-warning"><%= responsedate.toLocaleDateString('en-US', { day: 'numeric', month: 'short', year: 'numeric' }) %></strong>
                     </div>
                        <div class="custom-text-box" style="background-color: #FFF5CA;">
                           <%= response.query %>
                        </div>
                     <% } else if(response.resolve_status == '0') { %>
                        <div class="custom-text-label">
                           Customer Reopen Response 
                           <% const responsedateString = response.created_at; %>
                           <% const responsedate = new Date(responsedateString); %>
                           <strong class="badge bg-warning"><%= responsedate.toLocaleDateString('en-US', { day: 'numeric', month: 'short', year: 'numeric' }) %></strong>
                        </div>
                        <div class="custom-text-box" style="background-color: #FFF5CA;">
                           <%= response.response %>
                        </div>
                     <% } else { %>
                        <div class="custom-text-label">
                           Customer Response 
                           <% const responsedateString = response.created_at; %>
                           <% const responsedate = new Date(responsedateString); %>
                           <strong class="badge bg-warning"><%= responsedate.toLocaleDateString('en-US', { day: 'numeric', month: 'short', year: 'numeric' }) %></strong>
                        </div>
                        <div class="custom-text-box" style="background-color: #FFF5CA;">
                           <%= response.response %>
                        </div>
                     <% } %>
               <% } else { %> 
                  <% if(level_2 == true){ %> 
                     <div class="custom-text-label">
                           Conversation
                     </div>
                     <div class="custom-text-box">
                           <strong>Hops Level 2 Conversation</strong> 
                     </div>
                  <% } %>
                  <% level_2 = false %>
                  <% if(response.response == '') { %>
                     <div class="custom-text-label">
                        <% if(response.resolve_status == '1'){ %>
                           <%= ComplaintsByComplaintId.company_name %> (s) Resolve Response to Customer  
                           <% } else { %>
                              <%= ComplaintsByComplaintId.company_name %> (s) Query to Customer  
                              <% } %>
                        
                        <% const responsedateString = response.created_at; %>
                        <% const responsedate = new Date(responsedateString); %>
                        <strong class="badge bg-warning"><%= responsedate.toLocaleDateString('en-US', { day: 'numeric', month: 'short', year: 'numeric' }) %></strong>
                     </div>
                        <div class="custom-text-box" style="background-color: #FFF5CA;">
                           <%= response.query %>
                        </div>
                     <% } else if(response.resolve_status == '0') { %>
                        <div class="custom-text-label">
                           Customer Reopen Response 
                           <% const responsedateString = response.created_at; %>
                           <% const responsedate = new Date(responsedateString); %>
                           <strong class="badge bg-warning"><%= responsedate.toLocaleDateString('en-US', { day: 'numeric', month: 'short', year: 'numeric' }) %></strong>
                        </div>
                        <div class="custom-text-box" style="background-color: #FFF5CA;">
                           <%= response.response %>
                        </div>
                     <% } else { %>
                        <div class="custom-text-label">
                           Customer Response 
                           <% const responsedateString = response.created_at; %>
                           <% const responsedate = new Date(responsedateString); %>
                           <strong class="badge bg-warning"><%= responsedate.toLocaleDateString('en-US', { day: 'numeric', month: 'short', year: 'numeric' }) %></strong>
                        </div>
                        <div class="custom-text-box" style="background-color: #FFF5CA;">
                           <%= response.response %>
                        </div>
                     <% } %>
               <% } %>
               
            <% }) %>
         <% } %>

         <% if(ComplaintsByComplaintId.status != '1') { %>            
         <div class="custom-text-label">
            Your Query
           </div>
         <div class="custom-text-box">
            <form action="" id="message_form" class="message_form">
                <textarea class="form-control" name="message" placeholder="Type Here..." required></textarea>
                <input type="hidden" name="user_id"  value="<%= currentUserData.user_id %>" />
                <input type="hidden" name="company_id" value="<%= ComplaintsByComplaintId.company_id %>" />
                <input type="hidden" name="company_slug" value="<%= company.slug %>" />
                <input type="hidden" name="complaint_id" value="<%= ComplaintsByComplaintId.id %>"> 
                <input type="hidden"  name="complaint_status" value="2">
                <input type="hidden" name="complaint_level" value="<%= ComplaintsByComplaintId.level_id %>">
                <button type="submit" class="btn-default btn-warning mt-4 submit_btn" id="">Submit</button>
            </form>
            <div class="register-now frm-loading" style=" display: none; ">
               <span class="indicator-progress">Please wait...
                  <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
               </span>
            </div>
            <div
               style=" width: 100%; text-align: center; display: block; border: 2px solid #fccb06; padding: 6px; margin-top: 20px; border-radius: 5px;  display: none;"
               class="response-message"></div>
        </div>
        <% } %>
        <% if(ComplaintsByComplaintId.status != '1') { %>
         <a href="#" data-bs-toggle="modal"
            data-complaint-id="<%= ComplaintsByComplaintId.id %>" data-level-id="<%= ComplaintsByComplaintId.level_id %>"  data-customer-id="<%= ComplaintsByComplaintId.user_id %>"
            data-bs-target="#respondcustomermodal"
            class="btn-default btn-warning mt-4 respond-link ">Respond to customer & Close</a>
         <% } %>
         <div class="custom-text-label">
            History
         </div>
         <div class="custom-text-box">
            <% getcomplaintHistory.forEach(function(history, index) { %>
                <strong><%= index + 1 %>.</strong> <%= history.history_details %><br>
            <% }); %>
        </div>
        
           
       </div>
       <% }else{ %>
          <div class="container">
             <div class="each_box update_basic_information all_review_listing_for_company">
                <h5>You have no permission to access survey features</h5>
             </div>
          </div>
       <% } %>
    </div>
</section>
<!-- Modal -->
<div class="modal fade" id="respondcustomermodal">
   <div class="modal-dialog">
      <div class="modal-content">

         <!-- Modal Header -->
         <div class="modal-header border-0">
            <button type="button" class="btn-close" data-bs-dismiss="modal"><i
                  class="fa-solid fa-circle-xmark"></i></button>
         </div>

         <!-- Modal body -->
         <div class="modal-body">
            <form id="resolved_message_form" >
               <div class="custom-form">
                  <label for=""><span>Resolved Message</span></label>
                  <textarea name="message" id="" class="form-control"></textarea>
               </div>
               <input type="hidden" name="user_id" id="customer_id_resolve" value="" />
               <input type="hidden" name="company_id" value="<%= company.ID %>" />
               <input type="hidden" name="company_slug" value="<%= company.slug %>" />
               <input type="hidden" id="complaint-id-resolve" name="complaint_id" value="">
               <input type="hidden"  name="complaint_status" value="1">
               <input type="hidden" id="complaint-resolve-level" name="complaint_level" value="">
               <input type="submit" class="btn-default btn-warning submit_btn" id="" value="Resolved">
            </form>
            <div class="register-now frm-loading" style=" display: none; ">
               <span class="indicator-progress">Please wait...
                  <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
               </span>
            </div>
            <div
               style=" width: 100%; text-align: center; display: block; border: 2px solid #fccb06; padding: 6px; margin-top: 20px; border-radius: 5px;  display: none;"
               class="response-message"></div>
         </div>
      </div>
   </div>
</div>
<!-- ============== Section1 end =============== -->

<%- include('common/footer') -%>

<script>
   $(document).ready(function () {
      $('.respond-link').on('click', function (e) {
         e.preventDefault();
         const complaintId = $(this).data('complaint-id');
         const customerId = $(this).data('customer-id');
         const levelId = $(this).data('level-id');
         $('#complaint-id-input').val(complaintId);
         $('#complaint-id-resolve').val(complaintId);
         $('#customer_id_resolve').val(customerId);
         $('#customer-id-query').val(customerId);
         $('#complaint-query-level').val(levelId);
         $('#complaint-resolve-level').val(levelId);
      });

      $('form#message_form').submit(function (e) {
         e.preventDefault();
         $('.response-message').hide();
         $('.response-message').text('');
         $('#query_submit_btn').prop('disabled', true);
         $('.frm-loading').show();
         //alert('aaaaaa')
         const transformedResponse = {};
         const formData = $(this).serializeArray();
         $(formData).each(function (index, field) {
            transformedResponse[field.name] = field.value;
         });
         console.log(transformedResponse);
         //return false;
         $.ajax({
            url: '/auth/company-query', // URL for your API endpoint
            method: 'POST',
            data: JSON.stringify(transformedResponse),
            //data: formData,
            processData: false,
            //contentType: false,
            contentType: 'application/json',
            success: function (data) {
               
               $('#message_form')[0].reset();
               if (data.status == 'ok') {
                  $('.response-message').text(data.message);
                  $('.response-message').show();
                  $('#query_submit_btn').prop('disabled', false);
                  $('.frm-loading').hide();
                  setTimeout(function () {
                     //window.location.reload();
                     window.location.href="/manage-complaint-listing/"+data.slug;
                  }, 2000);
               } else {
                  $('.response-message').text(data.message);
                  $('.response-message').show();
                  $('#query_submit_btn').prop('disabled', false);
                  $('.frm-loading').hide();
                  console.log('Something went wrong');
               }
            },
            error: function (xhr, status, error) {
               // Handle any errors that occur during the request
               console.log(error);
            }
         });

      });

      $('form#resolved_message_form').submit(function (e) {
         e.preventDefault();
         $('.response-message').hide();
         $('.response-message').text('');
         $('#query_submit_btn').prop('disabled', true);
         $('.frm-loading').show();
         //alert('aaaaaa')
         const transformedResponse = {};
         const formData = $(this).serializeArray();
         $(formData).each(function (index, field) {
            transformedResponse[field.name] = field.value;
         });
         console.log(transformedResponse);
         //return false;
         $.ajax({
            url: '/auth/company-query', // URL for your API endpoint
            method: 'POST',
            data: JSON.stringify(transformedResponse),
            //data: formData,
            processData: false,
            //contentType: false,
            contentType: 'application/json',
            success: function (data) {
               $('#resolved_message_form')[0].reset();
               if (data.status == 'ok') {
                  $('.response-message').text(data.message);
                  $('.response-message').show();
                  $('#query_submit_btn').prop('disabled', false);
                  $('.frm-loading').hide();
                  setTimeout(function () {
                     window.location.href="/manage-complaint-listing/"+data.slug;
                  }, 2000);
               } else {
                  $('.response-message').text(data.message);
                  $('.response-message').show();
                  $('#query_submit_btn').prop('disabled', false);
                  $('.frm-loading').hide();
                  console.log('Something went wrong');
               }
            },
            error: function (xhr, status, error) {
               // Handle any errors that occur during the request
               console.log(error);
            }
         });

      });

   })
</script>