<%- include('common/header') -%>
<link href="/front-end/css/company-profile-dashboard.css" rel="stylesheet" type="text/css">
<%- include('common/header-banner') -%>

<!-- ============== Section1 start =============== -->
<section class="main-content premium_company_profile bottom-main-content">
    <div class="container">
       <div class="main_box">
         <%- include('common/premium-company-sidebar') -%>
       </div>
       <div class="premium-complain-management">
          <div class="premium-complain-m-head">
             <h2 class="inner-main-head">Complaint Level Management </h2>
          </div>
          <!-- ========================================================= -->
          <% if(company && company.membership_type_id == 3 ){ %>
            <% if(ComplaintLevelDetails.length > 0 ){ %>
               <div class="premium-complain-m-wrap">
                  <div class="premium-complain-m-content-body">
                     <form class="level_form">
                        <input type="hidden" value="1" name="label_count" class="label_count">
                        <input type="hidden" name="company_id" value="<%= company.ID %>" class="">
                        <div class="row g-2 align-items-center justify-content-arround mb-2">
                           <div class="col-sm-6">
                              <label for="" class="col-form-label"><strong>Complaint Status</strong></label>
                           </div>
                           <div class="col-sm-6">
                              <div class="custom-form mb-0 text-end">
                                 <div class="form-check form-check-inline">
                                    <input class="form-check-input inactive-level" type="radio" name="complaint_status"  id="inlineRadio1" value="0" <% if(company && company.complaint_status != '1') { %> checked <% } %> ><label class="form-check-label" for="inlineRadio1">Inactive</label>
                                 </div>
                                 <div class="form-check form-check-inline">
                                    <input class="form-check-input active-level form-check-inline" type="radio" name="complaint_status"  id="inlineRadio2" value="1" <% if(company && company.complaint_status == '1') { %> checked <% } %> ><label class="form-check-label" for="inlineRadio2">Active</label>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="toggle-emails">
                           <!-- head section start -->
                           <div class="premium-complain-m-content-head">
                              <div class="premium-complain-m-content-part">
                                 Level
                              </div>
                              <!-- <div class="premium-complain-m-content-part">
                                 Action
                              </div> -->
                           </div>
                           <!-- head section end -->
                           <div class="premium-complain-m-content-repeat">
                              <div class="premium-complain-m-content-part count_number">
                                 1
                              </div>
                              <!-- <div class="premium-complain-m-content-part">
                                 <a href="#" class="btn-default btn-warning edit-save-btn">Edit</a>
                              </div> -->
                           </div>
                           <!-- edit email slide down start -->
                           <div class="edit-email" style="display: block;">
                              <!-- <div class="row g-2 align-items-center justify-content-around mb-2">
                                 <div class="col-sm-6">
                                 <label for="" class="col-form-label"><strong>Level</strong></label>
                                 </div>
                                 <div class="col-sm-6">
                                 <input type="number" name="label_count" id="" class="form-control" value="1" >
                                 </div>
                              </div> -->
                              <div class="row g-2 align-items-center justify-content-around mb-2">
                                 <div class="col-sm-6">
                                    <label for="" class="col-form-label"><strong>ETA Days</strong></label>
                                 </div>
                                 <div class="col-sm-6">
                                    <input type="number" name="eta_days_1" id="" class="form-control required" value="<%= ComplaintLevelDetails[0].eta_days %>" required>
                                 </div>
                              </div>
                              <div class="row g-2 justify-content-around mb-2">
                                 <div class="col-sm-6 email_field_label">
                                    <label for="" class="col-form-label"><strong>Enter Your E-Mail Address</strong></label>
                                 </div>
                                 <!-- <div class="col-sm-6 email_clone_div">
                                    <div class="add-email-field-1 add-email-field ff mb-2">
                                       <input type="email" name="emails_1" id="" class="form-control required" required>
                                    </div>
                                    <a href="#" class="add-email-btn-1 add-email-btn"><i class="fa-solid fa-circle-plus"></i></a>
                                 </div> -->
                                 <% const emails = JSON.parse(ComplaintLevelDetails[0].emails) %>
                                    <% if (emails.length > 0) { %>
                                       <div class="col-sm-6 email_clone_div">
                                       <% emails.forEach((email,key) => { %>
                                          <% if(key == 0) { %>
                                             <div class="add-email-field add-email-field-1 ff mb-2">
                                                <input type="email" name="emails_1" value="<%= email %>" id="" class="form-control">
                                                <a href="#" class="add-email-btn add-email-btn-1"><i class="fa-solid fa-circle-plus"></i></a>
                                             </div>
                                             
                                             
                                          <% } else { %>
                                                <div class="add-email-field ff mb-2">
                                                   <input type="email" name="emails_1" value="<%= email %>" id="" class="form-control">
                                                   <a href="#" class="close-email-field add-email-btn-1"><i class="fa-solid fa-circle-xmark"></i></a>
                                                </div>
                                                                                                
                                          <% } %>
                                       <% }) %>
                                    <% } %>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="d-flex justify-content-end align-items-center">
                           <button type="submit" class="btn-default btn-warning each_form_submut" >Save</button>
                        </div>
                     </form>
                     <!-- edit email slide down end -->
                  </div>
               </div>
            <% } else { %> 
               <div class="premium-complain-m-wrap">
                  <div class="premium-complain-m-content-body">
                     <form class="level_form">
                        <input type="hidden" value="1" name="label_count" class="label_count">
                        <input type="hidden" name="company_id" value="<%= company.ID %>" class="">
                        <div class="row g-2 align-items-center justify-content-arround mb-2">
                           <div class="col-sm-6">
                              <label for="" class="col-form-label"><strong>Complaint Status</strong></label>
                           </div>
                           <div class="col-sm-6">
                              <div class="custom-form mb-0 text-end">
                                 <div class="form-check form-check-inline">
                                    <input class="form-check-input inactive-level" type="radio" name="complaint_status"  id="inlineRadio1" value="0" <% if(company && company.complaint_status != '1') { %> checked <% } %> ><label class="form-check-label" for="inlineRadio1">Inactive</label>
                                 </div>
                                 <div class="form-check form-check-inline">
                                    <input class="form-check-input active-level form-check-inline" type="radio" name="complaint_status"  id="inlineRadio2" value="1" <% if(company && company.complaint_status == '1') { %> checked <% } %> ><label class="form-check-label" for="inlineRadio2">Active</label>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="toggle-emails">
                           <!-- head section start -->
                           <div class="premium-complain-m-content-head">
                              <div class="premium-complain-m-content-part">
                                 Level
                              </div>
                              <!-- <div class="premium-complain-m-content-part">
                                 Action
                              </div> -->
                           </div>
                           <!-- head section end -->
                           <div class="premium-complain-m-content-repeat">
                              <div class="premium-complain-m-content-part count_number">
                                 1
                              </div>
                              <!-- <div class="premium-complain-m-content-part">
                                 <a href="#" class="btn-default btn-warning edit-save-btn">Edit</a>
                              </div> -->
                           </div>
                           <!-- edit email slide down start -->
                           <div class="edit-email" style="display: block;">
                              <!-- <div class="row g-2 align-items-center justify-content-around mb-2">
                                 <div class="col-sm-6">
                                 <label for="" class="col-form-label"><strong>Level</strong></label>
                                 </div>
                                 <div class="col-sm-6">
                                 <input type="number" name="label_count" id="" class="form-control" value="1" >
                                 </div>
                              </div> -->
                              <div class="row g-2 align-items-center justify-content-around mb-2">
                                 <div class="col-sm-6">
                                    <label for="" class="col-form-label"><strong>ETA Days</strong></label>
                                 </div>
                                 <div class="col-sm-6">
                                    <input type="number" name="eta_days_1" id="" class="form-control required" required>
                                 </div>
                              </div>
                              <div class="row g-2 justify-content-around mb-2">
                                 <div class="col-sm-6 email_field_label">
                                    <label for="" class="col-form-label"><strong>Enter Your E-Mail Address</strong></label>
                                 </div>
                                 <div class="col-sm-6 email_clone_div">
                                    <div class="add-email-field-1 add-email-field ff mb-2">
                                       <input type="email" name="emails_1" id="" class="form-control required" required>
                                    </div>
                                 <a href="#" class="add-email-btn-1 add-email-btn"><i class="fa-solid fa-circle-plus"></i></a>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="d-flex justify-content-end align-items-center">
                           <button type="submit" class="btn-default btn-warning each_form_submut" >Save</button>
                        </div>
                     </form>
                     <!-- edit email slide down end -->
                  </div>
               </div>
            <% } %>
            
         <% } else if(company && company.membership_type_id == 4) { %>
            <% if(ComplaintLevelDetails.length > 0 ){ %>
               <div class="premium-complain-m-wrap">
                  <div class="premium-complain-m-content-body">
                     <form class="level_form">
                        <input type="hidden" value="2" name="label_count" class="label_count">
                        <input type="hidden" name="company_id" value="<%= company.ID %>" class="">
                        <div class="row g-2 align-items-center justify-content-arround mb-2">
                           <div class="col-sm-6">
                              <label for="" class="col-form-label"><strong>Complaint Status</strong></label>
                           </div>
                           <div class="col-sm-6">
                              <div class="custom-form mb-0 text-end">
                                 <div class="form-check form-check-inline">
                                    <input class="form-check-input inactive-level" type="radio" name="complaint_status"  id="inlineRadio1" value="0" <% if(company && company.complaint_status != '1') { %> checked <% } %> ><label class="form-check-label" for="inlineRadio1">Inactive</label>
                                 </div>
                                 <div class="form-check form-check-inline">
                                    <input class="form-check-input active-level form-check-inline" type="radio" name="complaint_status"  id="inlineRadio2" value="1" <% if(company && company.complaint_status == '1') { %> checked <% } %> ><label class="form-check-label" for="inlineRadio2">Active</label>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- head section start -->
   
                        <div class="toggle-emails">
                           <div class="premium-complain-m-content-head">
                              <div class="premium-complain-m-content-part">
                                 Level
                              </div>
                              <!-- <div class="premium-complain-m-content-part">
                                 Action
                              </div> -->
                           </div>
                           <!-- head section end -->
                           <div class="premium-complain-m-content-repeat">
                              <div class="premium-complain-m-content-part count_number">
                                 1
                              </div>
                              <!-- <div class="premium-complain-m-content-part">
                                 <a href="#" class="btn-default btn-warning edit-save-btn">Edit</a>
                              </div> -->
                           </div>
                           <!-- edit email slide down start -->
                           <div class="edit-email">
                              <!-- <div class="row g-2 align-items-center justify-content-around mb-2">
                                 <div class="col-sm-6">
                                 <label for="" class="col-form-label"><strong>Level</strong></label>
                                 </div>
                                 <div class="col-sm-6">
                                 <input type="number" name="label_count" id="" class="form-control" value="1" >
                                 </div>
                              </div> -->
                              <div class="row g-2 align-items-center justify-content-around mb-2">
                                 <div class="col-sm-6">
                                    <label for="" class="col-form-label"><strong>ETA Days</strong></label>
                                 </div>
                                 <div class="col-sm-6">
                                    <input type="number" name="eta_days_1" id="" class="form-control required" value="<%= ComplaintLevelDetails[0].eta_days %>" >
                                 </div>
                              </div>
                              <div class="row g-2 justify-content-around mb-2">
                                 <div class="col-sm-6 email_field_label">
                                    <label for="" class="col-form-label"><strong>Enter Your E-Mail Address</strong></label>
                                 </div>
                                 <!-- <div class="col-sm-6 email_clone_div">
                                    <div class="add-email-field add-email-field-1 ff mb-2">
                                       <input type="email" name="emails_1" id="" class="form-control required">
                                    </div>
                                 <a href="#" class="add-email-btn add-email-btn-1"><i class="fa-solid fa-circle-plus"></i></a>
                                 </div> -->
                                 <% const emails = JSON.parse(ComplaintLevelDetails[0].emails) %>
                                 <% if (emails.length > 0) { %>
                                    <div class="col-sm-6 email_clone_div">
                                    <% emails.forEach((email,key) => { %>
                                       <% if(key == 0) { %>
                                          <div class="add-email-field add-email-field-1 ff mb-2">
                                             <input type="email" name="emails_1" value="<%= email %>" id="" class="form-control">
                                             <a href="#" class="add-email-btn add-email-btn-1"><i class="fa-solid fa-circle-plus"></i></a>
                                          </div>
                                          
                                          
                                       <% } else { %>
                                             <div class="add-email-field ff mb-2">
                                                <input type="email" name="emails_1" value="<%= email %>" id="" class="form-control">
                                                <a href="#" class="close-email-field add-email-btn-1"><i class="fa-solid fa-circle-xmark"></i></a>
                                             </div>
                                                                                             
                                       <% } %>
                                    <% }) %>
                                 <% } %>
                              </div>
                              </div>
                              <% if(ComplaintLevelDetails.length > 1 ) { %>
                                 <!-- 2nd level -->
                                 <div class="premium-complain-m-content-repeat">
                                    <div class="premium-complain-m-content-part count_number">
                                       2
                                    </div>
                                    <div class="premium-complain-m-content-part">
                                       <!-- <a href="#" class="btn-default btn-warning edit-save-btn">Edit</a> -->
                                    </div>
                                 </div>
                                 <!-- edit email slide down start -->
                                 <div class="edit-email">
                                    <!-- <div class="row g-2 align-items-center justify-content-around mb-2">
                                       <div class="col-sm-6">
                                       <label for="" class="col-form-label"><strong>Level</strong></label>
                                       </div>
                                       <div class="col-sm-6">
                                       <input type="number" name="label_count" id="" class="form-control" value="1" >
                                       </div>
                                    </div> -->
                                    <div class="row g-2 align-items-center justify-content-around mb-2">
                                       <div class="col-sm-6">
                                          <label for="" class="col-form-label"><strong>ETA Days</strong></label>
                                       </div>
                                       <div class="col-sm-6">
                                          <input type="number" name="eta_days_2" id="" class="form-control required" value="<%= ComplaintLevelDetails[1].eta_days %>">
                                       </div>
                                    </div>
                                    <div class="row g-2 justify-content-around mb-2">
                                       <div class="col-sm-6 email_field_label">
                                          <label for="" class="col-form-label"><strong>Enter Your E-Mail Address</strong></label>
                                       </div>
                                       <% const emails_2 = JSON.parse(ComplaintLevelDetails[1].emails) %>
                                       <% if (emails_2.length > 0) { %>
                                          <div class="col-sm-6 email_clone_div">
                                             
                                          <% emails_2.forEach((email,key) => { %>
                                             <% if(key == 0) { %>
                                                <div class="add-email-field add-email-field-2 ff mb-2">
                                                   <input type="email" name="emails_2" id="" class="form-control required" value="<%= email %>">
                                                </div>
                                                <a href="#" class="add-email-btn add-email-btn-2"><i class="fa-solid fa-circle-plus"></i></a>
                                             <% } else { %>
                                                <div class="add-email-field add-email-field-2 ff mb-2">
                                                   <input type="email" name="emails_2" id="" class="form-control " value="<%= email %>" >
                                                   <a href="#" class="close-email-field "><i class="fa-solid fa-circle-xmark"></i></a>
                                                </div>
                                             <% } %>
                                          <% }) %>
                                          </div>
                                       <% } else { %>
                                          <div class="col-sm-6 email_clone_div">
                                             <div class="add-email-field add-email-field-2 ff mb-2">
                                                <input type="email" name="emails_2" id="" class="form-control required">
                                             </div>
                                             <a href="#" class="add-email-btn add-email-btn-2"><i class="fa-solid fa-circle-plus"></i></a>
                                          </div>
                                       <% } %>
                                    </div>
                                 </div>
                              <% } else { %> 
                                 <!-- 2nd level -->
                                 <div class="premium-complain-m-content-repeat">
                                    <div class="premium-complain-m-content-part count_number">
                                       2
                                    </div>
                                    <div class="premium-complain-m-content-part">
                                       <!-- <a href="#" class="btn-default btn-warning edit-save-btn">Edit</a> -->
                                    </div>
                                 </div>
                                 <!-- edit email slide down start -->
                                 <div class="edit-email">
                                    <!-- <div class="row g-2 align-items-center justify-content-around mb-2">
                                       <div class="col-sm-6">
                                       <label for="" class="col-form-label"><strong>Level</strong></label>
                                       </div>
                                       <div class="col-sm-6">
                                       <input type="number" name="label_count" id="" class="form-control" value="1" >
                                       </div>
                                    </div> -->
                                    <div class="row g-2 align-items-center justify-content-around mb-2">
                                       <div class="col-sm-6">
                                          <label for="" class="col-form-label"><strong>ETA Days</strong></label>
                                       </div>
                                       <div class="col-sm-6">
                                          <input type="number" name="eta_days_2" id="" class="form-control required" value="">
                                       </div>
                                    </div>
                                    <div class="row g-2 justify-content-around mb-2">
                                       <div class="col-sm-6 email_field_label">
                                          <label for="" class="col-form-label"><strong>Enter Your E-Mail Address</strong></label>
                                       </div>
                                       <div class="col-sm-6 email_clone_div">
                                          <div class="add-email-field add-email-field-2 ff mb-2">
                                             <input type="email" name="emails_2" id="" class="form-control required">
                                          </div>
                                       <a href="#" class="add-email-btn add-email-btn-2"><i class="fa-solid fa-circle-plus"></i></a>
                                       </div>
                                    </div>
                                 </div>
                              <% } %>
                           </div>
                        </div>
   
                        <div class="d-flex justify-content-end align-items-center">
                           <button type="submit" class="btn-default btn-warning each_form_submut" >Save</button>
                        </div>
                     </form>
                     <!-- edit email slide down end -->
                  </div>
               </div>
            <% } else { %> 
               <div class="premium-complain-m-wrap">
                  <div class="premium-complain-m-content-body">
                     <form class="level_form">
                        <input type="hidden" value="2" name="label_count" class="label_count">
                        <input type="hidden" name="company_id" value="<%= company.ID %>" class="">
                        <div class="row g-2 align-items-center justify-content-arround mb-2">
                           <div class="col-sm-6">
                              <label for="" class="col-form-label"><strong>Complaint Status</strong></label>
                           </div>
                           <div class="col-sm-6">
                              <div class="custom-form mb-0 text-end">
                                 <div class="form-check form-check-inline">
                                    <input class="form-check-input inactive-level" type="radio" name="complaint_status"  id="inlineRadio1" value="0" <% if(company && company.complaint_status != '1') { %> checked <% } %> ><label class="form-check-label" for="inlineRadio1">Inactive</label>
                                 </div>
                                 <div class="form-check form-check-inline">
                                    <input class="form-check-input active-level form-check-inline" type="radio" name="complaint_status"  id="inlineRadio2" value="1" <% if(company && company.complaint_status == '1') { %> checked <% } %> ><label class="form-check-label" for="inlineRadio2">Active</label>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- head section start -->
   
                        <div class="toggle-emails">
                           <div class="premium-complain-m-content-head">
                              <div class="premium-complain-m-content-part">
                                 Level
                              </div>
                              <!-- <div class="premium-complain-m-content-part">
                                 Action
                              </div> -->
                           </div>
                           <!-- head section end -->
                           <div class="premium-complain-m-content-repeat">
                              <div class="premium-complain-m-content-part count_number">
                                 1
                              </div>
                              <!-- <div class="premium-complain-m-content-part">
                                 <a href="#" class="btn-default btn-warning edit-save-btn">Edit</a>
                              </div> -->
                           </div>
                           <!-- edit email slide down start -->
                           <div class="edit-email">
                              <!-- <div class="row g-2 align-items-center justify-content-around mb-2">
                                 <div class="col-sm-6">
                                 <label for="" class="col-form-label"><strong>Level</strong></label>
                                 </div>
                                 <div class="col-sm-6">
                                 <input type="number" name="label_count" id="" class="form-control" value="1" >
                                 </div>
                              </div> -->
                              <div class="row g-2 align-items-center justify-content-around mb-2">
                                 <div class="col-sm-6">
                                    <label for="" class="col-form-label"><strong>ETA Days</strong></label>
                                 </div>
                                 <div class="col-sm-6">
                                    <input type="number" name="eta_days_1" id="" class="form-control required">
                                 </div>
                              </div>
                              <div class="row g-2 justify-content-around mb-2">
                                 <div class="col-sm-6 email_field_label">
                                    <label for="" class="col-form-label"><strong>Enter Your E-Mail Address</strong></label>
                                 </div>
                                 <div class="col-sm-6 email_clone_div">
                                    <div class="add-email-field add-email-field-1 ff mb-2">
                                       <input type="email" name="emails_1" id="" class="form-control required">
                                    </div>
                                 <a href="#" class="add-email-btn add-email-btn-1"><i class="fa-solid fa-circle-plus"></i></a>
                                 </div>
                              </div>
                           </div>
                           <!-- 2nd level -->
                           <div class="premium-complain-m-content-repeat">
                              <div class="premium-complain-m-content-part count_number">
                                 2
                              </div>
                              <div class="premium-complain-m-content-part">
                                 <!-- <a href="#" class="btn-default btn-warning edit-save-btn">Edit</a> -->
                              </div>
                           </div>
                           <!-- edit email slide down start -->
                           <div class="edit-email">
                              <!-- <div class="row g-2 align-items-center justify-content-around mb-2">
                                 <div class="col-sm-6">
                                 <label for="" class="col-form-label"><strong>Level</strong></label>
                                 </div>
                                 <div class="col-sm-6">
                                 <input type="number" name="label_count" id="" class="form-control" value="1" >
                                 </div>
                              </div> -->
                              <div class="row g-2 align-items-center justify-content-around mb-2">
                                 <div class="col-sm-6">
                                    <label for="" class="col-form-label"><strong>ETA Days</strong></label>
                                 </div>
                                 <div class="col-sm-6">
                                    <input type="number" name="eta_days_2" id="" class="form-control required">
                                 </div>
                              </div>
                              <div class="row g-2 justify-content-around mb-2">
                                 <div class="col-sm-6 email_field_label">
                                    <label for="" class="col-form-label"><strong>Enter Your E-Mail Address</strong></label>
                                 </div>
                                 <div class="col-sm-6 email_clone_div">
                                    <div class="add-email-field add-email-field-2 ff mb-2">
                                       <input type="email" name="emails_2" id="" class="form-control required">
                                    </div>
                                 <a href="#" class="add-email-btn add-email-btn-2"><i class="fa-solid fa-circle-plus"></i></a>
                                 </div>
                              </div>
                           </div>
                           
                        </div>
   
                        <div class="d-flex justify-content-end align-items-center">
                           <button type="submit" class="btn-default btn-warning each_form_submut" >Save</button>
                        </div>
                     </form>
                     <!-- edit email slide down end -->
                  </div>
               </div>
            <% } %>
         <% } else if(company && company.membership_type_id == 5) { %>
            <% if(ComplaintLevelDetails.length > 0 ){ %>
               <div class="premium-complain-m-wrap">
                  <div class="premium-complain-m-content-body">
                     <form class="level_form">
                        <input type="hidden" value="3" name="label_count" class="label_count">
                        <input type="hidden" name="company_id" value="<%= company.ID %>" class="">
                        <div class="row g-2 align-items-center justify-content-around mb-2">
                           <div class="col-sm-6">
                              <label for="" class="col-form-label"><strong>Complaint Status</strong></label>
                           </div>
                           <div class="col-sm-6">
                              <input class="form-check-input" type="radio" name="complaint_status"  id="inlineRadio1" value="0" <% if(company && company.complaint_status != '1') { %> checked <% } %> >
                              <label class="form-check-label" for="inlineRadio1">Inactive</label>
                              <input class="form-check-input" type="radio" name="complaint_status"  id="inlineRadio2" value="1" <% if(company && company.complaint_status == '1') { %> checked <% } %> >
                              <label class="form-check-label" for="inlineRadio2">Active</label>
                           </div>
                        </div>
                        <div class="toggle-emails">
                           
                           <!-- head section start -->
                           <div class="premium-complain-m-content-head">
                              <div class="premium-complain-m-content-part">
                                 Level
                              </div>
                              <div class="premium-complain-m-content-part">
                                 Action
                              </div>
                           </div>
                           <!-- head section end -->
                           <div class="premium-complain-m-content-repeat">
                              <div class="premium-complain-m-content-part count_number">
                                 1
                              </div>
                              <div class="premium-complain-m-content-part">
                                 <a href="#" class="btn-default btn-warning edit-save-btn">Edit</a>
                              </div>
                           </div>
                           <!-- edit email slide down start -->
                           <div class="edit-email">
                              <!-- <div class="row g-2 align-items-center justify-content-around mb-2">
                                 <div class="col-sm-6">
                                 <label for="" class="col-form-label"><strong>Level</strong></label>
                                 </div>
                                 <div class="col-sm-6">
                                 <input type="number" name="label_count" id="" class="form-control" value="1" >
                                 </div>
                              </div> -->
                              <div class="row g-2 align-items-center justify-content-around mb-2">
                                 <div class="col-sm-6">
                                    <label for="" class="col-form-label"><strong>ETA Days</strong></label>
                                 </div>
                                 <div class="col-sm-6">
                                    <input type="number" name="eta_days_1" id="" class="form-control required" value="<%= ComplaintLevelDetails[0].eta_days %>" >
                                 </div>
                              </div>
                              <div class="row g-2 justify-content-around mb-2">
                                 <div class="col-sm-6 email_field_label">
                                    <label for="" class="col-form-label"><strong>Enter Your E-Mail Address</strong></label>
                                 </div>
                                 <% const emails = JSON.parse(ComplaintLevelDetails[0].emails) %>
                                    <% if (emails.length > 0) { %>
                                       <div class="col-sm-6 email_clone_div">
                                          
                                       <% emails.forEach((email,key) => { %>
                                          <% if(key == 0) { %>
                                             <div class="add-email-field add-email-field-1 ff mb-2">
                                                <input type="email" name="emails_1" id="" class="form-control required" value="<%= email %>">
                                             </div>
                                             <a href="#" class="add-email-btn add-email-btn-1"><i class="fa-solid fa-circle-plus"></i></a>
                                          <% } else { %> 
                                             <div class="add-email-field add-email-field-1 ff mb-2">
                                                <input type="email" name="emails_1" id="" class="form-control " value="<%= email %>">
                                                <a href="#" class="close-email-field add-email-btn-1"><i class="fa-solid fa-circle-xmark"></i></a>
                                             </div>
                                          <% } %>
                                       <% }) %>
                                       </div>
                                    <% } %>
                              </div>
                           </div>
                           <% if(ComplaintLevelDetails.length > 1 ){ %>
                              <!-- 2nd level -->
                              <div class="premium-complain-m-content-repeat">
                                 <div class="premium-complain-m-content-part count_number">
                                    2
                                 </div>
                                 <div class="premium-complain-m-content-part">
                                    <!-- <a href="#" class="btn-default btn-warning edit-save-btn">Edit</a> -->
                                 </div>
                              </div>
                              <!-- edit email slide down start -->
                              <div class="edit-email">
                                 <!-- <div class="row g-2 align-items-center justify-content-around mb-2">
                                    <div class="col-sm-6">
                                    <label for="" class="col-form-label"><strong>Level</strong></label>
                                    </div>
                                    <div class="col-sm-6">
                                    <input type="number" name="label_count" id="" class="form-control" value="1" >
                                    </div>
                                 </div> -->
                                 <div class="row g-2 align-items-center justify-content-around mb-2">
                                    <div class="col-sm-6">
                                       <label for="" class="col-form-label"><strong>ETA Days</strong></label>
                                    </div>
                                    <div class="col-sm-6">
                                       <input type="number" name="eta_days_2" id="" class="form-control required" value="<%= ComplaintLevelDetails[1].eta_days %>">
                                    </div>
                                 </div>
                                 <div class="row g-2 justify-content-around mb-2">
                                    <div class="col-sm-6 email_field_label">
                                       <label for="" class="col-form-label"><strong>Enter Your E-Mail Address</strong></label>
                                    </div>
                                    
                                    <% const emails_2 = JSON.parse(ComplaintLevelDetails[1].emails) %>
                                    <% if (emails_2.length > 0) { %>
                                       <div class="col-sm-6 email_clone_div">
                                          <% emails_2.forEach((email,key) => { %>
                                             <% if(key == 0) { %>
                                                <div class="add-email-field add-email-field-2 ff mb-2">
                                                   <input type="email" name="emails_2" id="" class="form-control required" value="<%= email %>">
                                                </div>
                                                <a href="#" class="add-email-btn add-email-btn-2"><i class="fa-solid fa-circle-plus"></i></a>
                                             <% } else { %> 
                                                <div class="add-email-field add-email-field-2 ff mb-2">
                                                   <input type="email" name="emails_2" id="" class="form-control " value="<%= email %>">
                                                   <a href="#" class="close-email-field "><i class="fa-solid fa-circle-xmark"></i></a>
                                                </div>
                                                
                                             <% } %>
                                          <% }) %>
                                       </div>
                                    <% } %>
                                 </div>
                                 <!-- <div class="d-flex justify-content-end align-items-center">
                                    <button type="submit" class="btn-default btn-warning each_form_submut" >Save</button>
                                 </div> -->
                              </div>
                           <% } else { %> 
                              
                              <!-- 2nd level -->
                              <div class="premium-complain-m-content-repeat">
                                 <div class="premium-complain-m-content-part count_number">
                                    2
                                 </div>
                                 <div class="premium-complain-m-content-part">
                                    <!-- <a href="#" class="btn-default btn-warning edit-save-btn">Edit</a> -->
                                 </div>
                              </div>
                              <!-- edit email slide down start -->
                              <div class="edit-email">
                                 <!-- <div class="row g-2 align-items-center justify-content-around mb-2">
                                    <div class="col-sm-6">
                                    <label for="" class="col-form-label"><strong>Level</strong></label>
                                    </div>
                                    <div class="col-sm-6">
                                    <input type="number" name="label_count" id="" class="form-control" value="1" >
                                    </div>
                                 </div> -->
                                 <div class="row g-2 align-items-center justify-content-around mb-2">
                                    <div class="col-sm-6">
                                       <label for="" class="col-form-label"><strong>ETA Days</strong></label>
                                    </div>
                                    <div class="col-sm-6">
                                       <input type="number" name="eta_days_2" id="" class="form-control required">
                                    </div>
                                 </div>
                                 <div class="row g-2 justify-content-around mb-2">
                                    <div class="col-sm-6 email_field_label">
                                       <label for="" class="col-form-label"><strong>Enter Your E-Mail Address</strong></label>
                                    </div>
                                    <div class="col-sm-6 email_clone_div">
                                       <div class="add-email-field add-email-field-2 ff mb-2">
                                          <input type="email" name="emails_2" id="" class="form-control required">
                                       </div>
                                    <a href="#" class="add-email-btn add-email-btn-2"><i class="fa-solid fa-circle-plus"></i></a>
                                    </div>
                                 </div>
                                 <!-- <div class="d-flex justify-content-end align-items-center">
                                    <button type="submit" class="btn-default btn-warning each_form_submut" >Save</button>
                                 </div> -->
                              </div>
                           <% } %>
                           <% if(ComplaintLevelDetails.length > 2 ){ %>
                              <!-- 3nd level -->
                              <div class="premium-complain-m-content-repeat">
                                 <div class="premium-complain-m-content-part count_number">
                                    3
                                 </div>
                                 <div class="premium-complain-m-content-part">
                                    <!-- <a href="#" class="btn-default btn-warning edit-save-btn">Edit</a> -->
                                 </div>
                              </div>
                              <!-- edit email slide down start -->
                              <div class="edit-email">
                                 <!-- <div class="row g-2 align-items-center justify-content-around mb-2">
                                    <div class="col-sm-6">
                                    <label for="" class="col-form-label"><strong>Level</strong></label>
                                    </div>
                                    <div class="col-sm-6">
                                    <input type="number" name="label_count" id="" class="form-control" value="1" >
                                    </div>
                                 </div> -->
                                 <div class="row g-2 align-items-center justify-content-around mb-2">
                                    <div class="col-sm-6">
                                       <label for="" class="col-form-label"><strong>ETA Days</strong></label>
                                    </div>
                                    <div class="col-sm-6">
                                       <input type="number" name="eta_days_3" id="" class="form-control required" value="<%= ComplaintLevelDetails[2].eta_days %>">
                                    </div>
                                 </div>
                                 <div class="row g-2 justify-content-around mb-2">
                                    <div class="col-sm-6 email_field_label">
                                       <label for="" class="col-form-label"><strong>Enter Your E-Mail Address</strong></label>
                                    </div>
                                    <% const emails_3 = JSON.parse(ComplaintLevelDetails[2].emails) %>
                                    <% if (emails_3.length > 0) { %>
                                       <div class="col-sm-6 email_clone_div">
                                          <% emails_3.forEach((email,key) => { %>
                                             <% if(key == 0) { %>
                                                <div class="add-email-field add-email-field-3 ff mb-2">
                                                   <input type="email" name="emails_3" id="" class="form-control" value="<%= email %>">
                                                </div>
                                             <a href="#" class="add-email-btn add-email-btn-3"><i class="fa-solid fa-circle-plus"></i></a>
                                             <% } else { %>
                                                <div class="add-email-field add-email-field-3 ff mb-2">
                                                   <input type="email" name="emails_3" id="" class="form-control " value="<%= email %>">
                                                   <a href="#" class="close-email-field"><i class="fa-solid fa-circle-xmark"></i></a>
                                                </div>
                                             <% } %>
                                          <% }) %>
                                       </div>
                                    <% } %>
                                 </div>
                              </div>
                           <% } else { %>
                              <!-- 3nd level -->
                              <div class="premium-complain-m-content-repeat">
                                 <div class="premium-complain-m-content-part count_number">
                                    3
                                 </div>
                                 <div class="premium-complain-m-content-part">
                                    <!-- <a href="#" class="btn-default btn-warning edit-save-btn">Edit</a> -->
                                 </div>
                              </div>
                              <!-- edit email slide down start -->
                              <div class="edit-email">
                                 <!-- <div class="row g-2 align-items-center justify-content-around mb-2">
                                    <div class="col-sm-6">
                                    <label for="" class="col-form-label"><strong>Level</strong></label>
                                    </div>
                                    <div class="col-sm-6">
                                    <input type="number" name="label_count" id="" class="form-control" value="1" >
                                    </div>
                                 </div> -->
                                 <div class="row g-2 align-items-center justify-content-around mb-2">
                                    <div class="col-sm-6">
                                       <label for="" class="col-form-label"><strong>ETA Days</strong></label>
                                    </div>
                                    <div class="col-sm-6">
                                       <input type="number" name="eta_days_3" id="" class="form-control required">
                                    </div>
                                 </div>
                                 <div class="row g-2 justify-content-around mb-2">
                                    <div class="col-sm-6 email_field_label">
                                       <label for="" class="col-form-label"><strong>Enter Your E-Mail Address</strong></label>
                                    </div>
                                    <div class="col-sm-6 email_clone_div">
                                       <div class="add-email-field add-email-field-3 ff mb-2">
                                          <input type="email" name="emails_3" id="" class="form-control required">
                                       </div>
                                    <a href="#" class="add-email-btn add-email-btn-3"><i class="fa-solid fa-circle-plus"></i></a>
                                    </div>
                                 </div>
                              </div>
                           <% } %>
                        </div>
                        <div class="d-flex justify-content-end align-items-center">
                           <button type="submit" class="btn-default btn-warning each_form_submut" >Save</button>
                        </div>
                     </form>
                     <!-- edit email slide down end -->
                  </div>
               </div>
            <% } else { %> 
               <div class="premium-complain-m-wrap">
                  <div class="premium-complain-m-content-body">
                     <form class="level_form">
                        <input type="hidden" value="3" name="label_count" class="label_count">
                        <input type="hidden" name="company_id" value="<%= company.ID %>" class="">
                        <div class="row g-2 align-items-center justify-content-around mb-2">
                           <div class="col-sm-6">
                              <label for="" class="col-form-label"><strong>Complaint Status</strong></label>
                           </div>
                           <div class="col-sm-6">
                              <input class="form-check-input" type="radio" name="complaint_status"  id="inlineRadio1" value="0" <% if(company && company.complaint_status != '1') { %> checked <% } %> >
                              <label class="form-check-label" for="inlineRadio1">Inactive</label>
                              <input class="form-check-input" type="radio" name="complaint_status"  id="inlineRadio2" value="1" <% if(company && company.complaint_status == '1') { %> checked <% } %> >
                              <label class="form-check-label" for="inlineRadio2">Active</label>
                           </div>
                        </div>
                        <div class="toggle-emails">
                           
                           <!-- head section start -->
                           <div class="premium-complain-m-content-head">
                              <div class="premium-complain-m-content-part">
                                 Level
                              </div>
                              <div class="premium-complain-m-content-part">
                                 Action
                              </div>
                           </div>
                           <!-- head section end -->
                           <div class="premium-complain-m-content-repeat">
                              <div class="premium-complain-m-content-part count_number">
                                 1
                              </div>
                              <div class="premium-complain-m-content-part">
                                 <a href="#" class="btn-default btn-warning edit-save-btn">Edit</a>
                              </div>
                           </div>
                           <!-- edit email slide down start -->
                           <div class="edit-email">
                              <!-- <div class="row g-2 align-items-center justify-content-around mb-2">
                                 <div class="col-sm-6">
                                 <label for="" class="col-form-label"><strong>Level</strong></label>
                                 </div>
                                 <div class="col-sm-6">
                                 <input type="number" name="label_count" id="" class="form-control" value="1" >
                                 </div>
                              </div> -->
                              <div class="row g-2 align-items-center justify-content-around mb-2">
                                 <div class="col-sm-6">
                                    <label for="" class="col-form-label"><strong>ETA Days</strong></label>
                                 </div>
                                 <div class="col-sm-6">
                                    <input type="number" name="eta_days_1" id="" class="form-control required">
                                 </div>
                              </div>
                              <div class="row g-2 justify-content-around mb-2">
                                 <div class="col-sm-6 email_field_label">
                                    <label for="" class="col-form-label"><strong>Enter Your E-Mail Address</strong></label>
                                 </div>
                                 <div class="col-sm-6 email_clone_div">
                                    <div class="add-email-field add-email-field-1 ff mb-2">
                                       <input type="email" name="emails_1" id="" class="form-control required">
                                    </div>
                                 <a href="#" class="add-email-btn add-email-btn-1"><i class="fa-solid fa-circle-plus"></i></a>
                                 </div>
                              </div>
                           </div>
                           <!-- 2nd level -->
                           <div class="premium-complain-m-content-repeat">
                              <div class="premium-complain-m-content-part count_number">
                                 2
                              </div>
                              <div class="premium-complain-m-content-part">
                                 <!-- <a href="#" class="btn-default btn-warning edit-save-btn">Edit</a> -->
                              </div>
                           </div>
                           <!-- edit email slide down start -->
                           <div class="edit-email">
                              <!-- <div class="row g-2 align-items-center justify-content-around mb-2">
                                 <div class="col-sm-6">
                                 <label for="" class="col-form-label"><strong>Level</strong></label>
                                 </div>
                                 <div class="col-sm-6">
                                 <input type="number" name="label_count" id="" class="form-control" value="1" >
                                 </div>
                              </div> -->
                              <div class="row g-2 align-items-center justify-content-around mb-2">
                                 <div class="col-sm-6">
                                    <label for="" class="col-form-label"><strong>ETA Days</strong></label>
                                 </div>
                                 <div class="col-sm-6">
                                    <input type="number" name="eta_days_2" id="" class="form-control required">
                                 </div>
                              </div>
                              <div class="row g-2 justify-content-around mb-2">
                                 <div class="col-sm-6 email_field_label">
                                    <label for="" class="col-form-label"><strong>Enter Your E-Mail Address</strong></label>
                                 </div>
                                 <div class="col-sm-6 email_clone_div">
                                    <div class="add-email-field add-email-field-2 ff mb-2">
                                       <input type="email" name="emails_2" id="" class="form-control required">
                                    </div>
                                 <a href="#" class="add-email-btn add-email-btn-2"><i class="fa-solid fa-circle-plus"></i></a>
                                 </div>
                              </div>
                              <!-- <div class="d-flex justify-content-end align-items-center">
                                 <button type="submit" class="btn-default btn-warning each_form_submut" >Save</button>
                              </div> -->
                           </div>
                           <!-- 2nd level -->
                           <div class="premium-complain-m-content-repeat">
                              <div class="premium-complain-m-content-part count_number">
                                 3
                              </div>
                              <div class="premium-complain-m-content-part">
                                 <!-- <a href="#" class="btn-default btn-warning edit-save-btn">Edit</a> -->
                              </div>
                           </div>
                           <!-- edit email slide down start -->
                           <div class="edit-email">
                              <!-- <div class="row g-2 align-items-center justify-content-around mb-2">
                                 <div class="col-sm-6">
                                 <label for="" class="col-form-label"><strong>Level</strong></label>
                                 </div>
                                 <div class="col-sm-6">
                                 <input type="number" name="label_count" id="" class="form-control" value="1" >
                                 </div>
                              </div> -->
                              <div class="row g-2 align-items-center justify-content-around mb-2">
                                 <div class="col-sm-6">
                                    <label for="" class="col-form-label"><strong>ETA Days</strong></label>
                                 </div>
                                 <div class="col-sm-6">
                                    <input type="number" name="eta_days_3" id="" class="form-control required">
                                 </div>
                              </div>
                              <div class="row g-2 justify-content-around mb-2">
                                 <div class="col-sm-6 email_field_label">
                                    <label for="" class="col-form-label"><strong>Enter Your E-Mail Address</strong></label>
                                 </div>
                                 <div class="col-sm-6 email_clone_div">
                                    <div class="add-email-field add-email-field-3 ff mb-2">
                                       <input type="email" name="emails_3" id="" class="form-control required">
                                    </div>
                                 <a href="#" class="add-email-btn add-email-btn-3"><i class="fa-solid fa-circle-plus"></i></a>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="d-flex justify-content-end align-items-center">
                           <button type="submit" class="btn-default btn-warning each_form_submut" >Save</button>
                        </div>
                     </form>
                     <!-- edit email slide down end -->
                  </div>
               </div>
            <% } %>
            
         <% }else{ %>
            <div class="container">
               <div class="each_box update_basic_information all_review_listing_for_company">
                  <h5>You have no permission to access survey features</h5>
               </div>
            </div>
         <% } %>
<!-- ================================================================= -->
            <div class="submit-loading" style="display: none;">Please wait..</div>
            <div class="submit-success" style="width: 100%; text-align: center; display: block; border: 2px solid #fccb06; padding: 6px; margin-top: 20px; border-radius: 5px; display: none;"></div>
            <div class="submit-error" style="width: 100%; text-align: center; display: block; border: 2px solid #fccb06; padding: 6px; margin-top: 20px; border-radius: 5px; display: none;"></div>
          <!-- =========================================== -->
       </div>
    </div>
    <img src="/front-end/images/complain-overlay-object1.svg" alt="img" class="c-overlay1">
    <img src="/front-end/images/m-complain-object1.svg" alt="img" class="c-overlay2">
 </section>
 <!-- The Modal -->
<div class="modal" id="surealertmodal">
   <div class="modal-dialog">
     <div class="modal-content">
 
       <!-- Modal Header -->
       <div class="modal-header border-0">
         <button type="button" class="btn-close" data-bs-dismiss="modal"><i class="fa-solid fa-circle-xmark"></i></button>
       </div>
       <div class="modal-body text-center">
           <h5 class="mb-4">Want to delete this level ?</h5>
           <button class="btn-default btn-warning my-1" id="okButton">Yes Delete !</button>
           <button class="btn-default btn-dark my-1" id="cancelButton">No Cancle !</button>
       </div>
 
     </div>
   </div>
 </div>
<!-- ============== Section1 end =============== -->

<%- include('common/footer') -%>

<script>
jQuery(function ($) {
   $('body').on('submit', '.level_form', function(e){
      e.preventDefault();
      
      $('.submit-loading').show();
      $('.submit-success').hide();
      $('.submit-error').hide();
      const formData = $(this).serializeArray();

      // const jsonData = {};
      // $(formData).each(function(index, field) {
      //    if (jsonData[field.name] === undefined) {
      //       // If the property doesn't exist in jsonData, create an array and add the value
      //       if (field.value != '') {
      //          jsonData[field.name] = [field.value];
      //       }
      //    } else {
      //       // If the property already exists, push the value to the existing array
      //       if (field.value !== '') {
      //          jsonData[field.name].push(field.value);
      //       }
      //    }
      // });
      // console.log(jsonData);
      //return false;

      $.ajax({
         url: '/auth/create-company-level',
         method: 'POST',
         data: formData,
         //processData: false,
         //contentType: false,
         ContentType: 'application/json',
         success: function (data) {
            if (data.status == 'ok') {
               $('.submit-loading').hide();
               setTimeout(function() {
               $('.submit-success').text(data.message);
               $('.submit-success').show();
               
               // Set another timeout to hide the message after 3 seconds
               setTimeout(function() {
                  $('.submit-success').hide();
                  location.reload();
               }, 3000);
               }, 0);
            } else {
               $('.submit-loading').hide();
               
               setTimeout( function(){
                  $('.submit-error').text(data.message);
                  $('.submit-error').show();
                  //location.reload(true);
               }, 3000 );
            }
            //console.log(data);
         },
         error: function (error) {
            $('.submit-loading').hide();
            $('.submit-error').text(error);
            $('.submit-error').show();
         }
      });
   })



   $('body').on('click', '.delete-level', function(e){
      event.preventDefault();
      //alert('aaaaaaaaa');data-company-id
      var level_id = $(this).attr('data-level-id');
      var company_id = $(this).attr('data-company-id');
      $("#okButton").on("click", function(e) {
            event.preventDefault();
            // Replace this with your desired action
            // For example, you can place your code here
            console.log("User clicked 'Ok'");

            $.ajax({
               url: '/auth/delete-company-complaint-level',
               method: 'POST',
               data: {level_id:level_id,company_id:company_id},
               ContentType: 'application/json',
               success: function (data) {
                  if (data.status == 'ok') {
                  $('.submit-loading').hide();
                  $('.submit-success').text(data.message);
                  $('.submit-success').show();
                  setTimeout(function() { $('.submit-success').hide(); location.reload(true); }, 3000);
                  } else {
                     $('.submit-loading').hide();
                     $('.submit-error').text(data.message);
                     $('.submit-error').show();
                  setTimeout(function() { $('.submit-error').hide();  }, 3000);
                  }
                  //console.log(data);
               },
               error: function (error) {
                  $('.submit-loading').hide();
                  $('.submit-error').text(error);
                  $('.submit-error').show();
                  setTimeout(function() { $('.submit-error').hide();  }, 3000);
               }
            });
            $("#surealertmodal").find('.btn-close').trigger('click');
      });
      $("#cancelButton").on("click", function() {
            event.preventDefault();
            $('.submit-loading').hide();
            $('.submit-error').text('Level is not deleted.');
            $('.submit-error').show();
            setTimeout(function() { $(".submit-error").hide(); location.reload(true); }, 3000);
            // Close the modal
            $("#surealertmodal").find('.btn-close').trigger('click');
      });
      // if(confirm('Are you sure?')) {
            
      // } else {
      
      // }
      
   })

   $(".add-new-hops").click(function(e){
      e.preventDefault();
      var totalLevel = $(this).parents(".premium-complain-m-wrap").find(".premium-complain-m-content-body").length;
      //console.log(totalLevel, 'hi');
      if (totalLevel >= 5) {
         console.log('  ');
      }else {
         //console.log(totalLevel+1,'cloned');
         var count = totalLevel+1;
         $(this).parents(".premium-complain-m-wrap").find(".premium-complain-clone").append('<div class=premium-complain-m-content-body> <form class=level_form> <input type="hidden" name="label_count" id="" class="form-control" value="'+count+'" ><input type="hidden" name="company_id" value="<%=company.ID %>" > <div class=premium-complain-m-content-repeat> <div class="premium-complain-m-content-part count_number">'+count+'</div><div class=premium-complain-m-content-part><a class="btn-default btn-warning edit-save-btn"href=#>Edit</a></div></div><div class=edit-email> <div class="mb-2 g-2 justify-content-around row align-items-center"> <div class=col-sm-6><label class=col-form-label for=""><strong>ETA Days</strong></label></div><div class=col-sm-6><input class=form-control name=eta_days type=number></div></div><div class="mb-2 g-2 justify-content-around row"> <div class="col-sm-6 email_field_label"><label class=col-form-label for=""><strong>Enter Your E-Mail Address</strong></label></div><div class="col-sm-6 email_clone_div"> <div class="mb-2 add-email-field"><input class=form-control name=emails type=email></div><a class=add-email-btn href=#><i class="fa-solid fa-circle-plus"></i></a> </div></div><div class="align-items-center d-flex justify-content-end"><button class="btn-default btn-warning each_form_submut"type=submit>Save</button></div></div><a class=close-level href=#><i class="fa-solid fa-circle-xmark"></i></a> </form></div>');
         if(totalLevel >= 4){
            $('body').find(".add-new-hops").hide();
         }
      }
   });

   $('input[name="complaint_status"]').change(function(){
      if ($(this).val() == '0') {
            $('.toggle-emails').hide();
            $('.required').prop('required', false);
      } else {
            $('.toggle-emails').show();
            $('.required').prop('required', true);
      }
   });
   if ($('input[name="complaint_status"]:checked').val() == '0') {
      $('.toggle-emails').hide();
      $('.required').prop('required', false);
   } else {

      $('.required').prop('required', true);
   }

})
</script>