<%- include('common/header') -%>
<link href="/front-end/css/complain-style.css" rel="stylesheet" type="text/css">
<%- include('common/header-banner') -%>

<section class="main-content bottom-main-content">
    <div class="complain-content">
       <div class="container">
          <h2 class="inner-main-head text-center mb-4">Fill out the form to register a complaint</h2>
          <div class="row">
            <div class="col-md-6 my-auto">
               <div class="about-left-slider my-3">
                  <div class="about-50-right">
                     <div class="gr-slider3">
                        <div class="item">
                           <img src="/<%= meta_values_array.banner_img_1 %>" alt="img" width="298" height="434">
                        </div>
                        <div class="item">
                           <img src="/<%= meta_values_array.banner_img_2 %>" alt="img" width="298" height="434">
                        </div>
                     </div>
                     <div class="gr-slider4">
                        <div class="item">
                           <img src="/<%= meta_values_array.banner_img_3 %>" alt="img" width="252" height="250">
                        </div>
                        <div class="item">
                           <img src="/<%= meta_values_array.banner_img_4 %>" alt="img" width="252" height="250">
                        </div>
                     </div>
                  </div>
                  <div class="about-50-left">
                     <div class="gr-slider1">
                        <div class="item">
                           <img src="/<%= meta_values_array.banner_img_5 %>" alt="img" width="194" height="228">
                        </div>
                        <div class="item">
                           <img src="/<%= meta_values_array.banner_img_6 %>" alt="img" width="194" height="228">
                        </div>
                     </div>
                     <div class="gr-slider2">
                        <div class="item">
                           <img src="/<%= meta_values_array.banner_img_7 %>" alt="img" width="212" height="312">
                        </div>
                        <div class="item">
                           <img src="/<%= meta_values_array.banner_img_8 %>" alt="img" width="212" height="312">
                        </div>
                     </div>
                  </div>
                  <div class="about-overlay-object1"><img src="/front-end/images/overlay-object1.png" alt="img" width="151" height="158"></div>
                  <div class="complain-overlay-object1"><img src="/front-end/images/complain-slider-object1.svg" alt="img" width="36" height="117"></div>
               </div>
            </div>
            <div class="col-md-6 my-auto">
               <div class="complain-register-form my-3">
                  <form id="complain_register_form">
                     <div class="row">
                        <div class="col-md-12">
                           <div class="custom-form">
                               <select name="main_address_country" id="register_country" class="form-control" required>
                                   <option value="" disabled selected>Select Country*</option>
                                   <% getCountries.forEach(function(country) { %>
                                       <option value="<%= country.shortname %>"><%= country.name %></option>
                                   <% }); %>
                               </select>
                               <div class="autofield-dropdown-review"></div>
                           </div>
                       </div>
                       
                         <div class="col-md-12">
                           <div class="custom-form">
                               <select class="form-control" id="state" name="main_address_state">
                                 <option value="" selected disabled>Select State</option>
                                 <!-- Options will be dynamically populated via JavaScript -->
                             </select>
                             <div class="autofield-dropdown-review">
                             </div>
                           </div>
                         </div>
                         <div class="col-md-12">
                           <div class="custom-form">
                             <input type="text" class="form-control" id="city" name="review-address"
                               placeholder="City/Town" autocomplete="off">
                             <div class="autofield-dropdown-review">
                             </div>
                           </div>
                         </div>
       
       
                      <div class="col-md-12">
                         <div class="custom-form">
                             <select class="form-control" id="companyDropdown" name="company_id" required>
                                 <option value="" selected disabled>Name of Organisation/Company/Institute</option>
                                 <!-- Options will be dynamically populated via JavaScript -->
                             </select>
                             <div class="autofield-dropdown-review"></div>
                         </div>
                     </div>

                        <div class="col-sm-6">
                           <div class="custom-form">
                              <div class="custom-form m-0 dynamic_state_field_wrapper" >
                                 <select id="select_category" name="category_id" id="select_category"  class="form-select" required>
                                     <option value="0">Select Category</option>
                                     <option value="0">General</option>
                                 </select>
                             </div> 
                           </div>
                        </div>
                        <div class="col-sm-6">
                           <div class="custom-form">
                              <div class="custom-form m-0 dynamic_sub_category_field_wrapper" >
                                 <select id="select_sub_category" name="sub_category_id"  class="form-select" required>
                                     <option value="">Select Sub-Category</option>
                                     <option value="0">General</option>
                                 </select>
                             </div>
                           </div>
                        </div>
                        <div class="col-sm-12">
                           <div class="custom-form">
                              <input type="text" name="model_no" class="form-control" placeholder="Product Model / Serial No">
                           </div>
                        </div>
                        <div class="col-sm-12">
                           <div class="tag-label">Tags</div>
                           <div id="sendreviewtags">
                           <input type="text" name="tags" placeholder="Add Tags" data-gtm-form-interact-field-id="0">
                        </div>
                        </div>
                        <div class="col-sm-12">
                           <div class="custom-form">
                              <input type="text" onfocus="(this.type='date')" onblur="(this.type='text')" name="transaction_date" class="form-control" placeholder="Date of Transaction" required >
                           </div>
                        </div>
                        <div class="col-sm-12">
                           <div class="custom-form">
                              <textarea name="message" id="" class="form-control" placeholder="Describe the Issue faced" required></textarea>
                           </div>
                        </div>
                     </div>
                     <input type="hidden" name="user_id" value="<%= currentUserData.user_id %>" />
                     <div class="text-center"><input type="submit" class="btn-default btn-warning" id="submit_btn" value="Submit"></div>
                  </form>
                  <div class="register-now frm-loading" style="color: aliceblue; display: none; ">
                     <span class="indicator-progress">Please wait...
                        <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                     </span>
                  </div>
                  <div style=" width: 100%; text-align: center; display: block; border: 2px solid #fccb06; padding: 6px; margin-top: 20px; border-radius: 5px; color: beige; display: none;" class="response-message"></div>
                 </div>
               </div>
            </div>
         </div>
      </div>
       <img src="/front-end/images/complain-overlay-object1.svg" alt="img" class="c-overlay1">
       <img src="/front-end/images/complain-overlay-object2.svg" alt="img" class="c-overlay2">
    </div>
 </section>

 <style>
   #companyDropdown option {
     color: black;
 }
 #state option {
     color: black;
 }
 #register_country option {
     color: black;
     background-color: #fff;
     border: 1px solid #ccc;
 }
 
 </style>


<%- include('common/footer') -%>  

<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script>
$(document).ready(function () {
   $('#select_company').change(function() {
      
      //$("#select_state").prop('required',false);
      $('#dynamic_state_field_wrapper').hide();
      var company_id = $(this).val();
      //alert(company_id);
      //return false;
      //$('#country_name').val(this.options[this.selectedIndex].text);
      $.ajax({
         url: '/api/complain_category',
         method: 'POST',
         data: {company_id:company_id},
         ContentType: 'application/json',
         success: function (data) {
            if (data.status == 'ok') {
               $('#dynamic_state_field_wrapper').show();
               //$("#select_state").prop('required',true);
               //$('#select_category').empty().append($('<option value="">Select Category</option>'));
               $.each(data.data, function (i, item) {
                     $('#select_category').append($('<option>', { 
                        value: item.id,
                        text : item.category_name 
                     }));
               });                
            } else {
               $('#dynamic_state_field_wrapper').hide();
               $("#select_category").prop('required',false);
            }
         },
         error: function (error) {
            // Handle any errors
            Swal.fire({
               text: error,
               icon: "error",
               buttonsStyling: false,
               confirmButtonText: "Ok, got it!",
               customClass: {
                     confirmButton: "btn btn-primary"
               }
            });
            submitButton.disabled = false;
         }
      });    
   });

   $('#select_category').change(function() {
    $('#select_sub_category').empty().append($('<option value="" disabled selected>Select Sub Category</option>')); // Default option
    $('#dynamic_sub_category_field_wrapper').hide();
    var category_id = $(this).val();

    $.ajax({
        url: '/api/complain_sub_category',
        method: 'POST',
        data: { category_id: category_id },
        ContentType: 'application/json',
        success: function(data) {
            $('#select_sub_category').append($('<option value="general">General</option>')); // General option

            if (data.status == 'ok' && data.data.length > 0) {
                $('#dynamic_sub_category_field_wrapper').show();
                
                $.each(data.data, function(i, item) {
                    $('#select_sub_category').append($('<option>', { 
                        value: item.id,
                        text: item.category_name 
                    }));
                });
            } else {
                $('#dynamic_sub_category_field_wrapper').hide();
                $("#select_sub_category").prop('required', false);
            }
        },
        error: function(error) {
            // Handle any errors
            Swal.fire({
                text: error.responseText || "An error occurred",
                icon: "error",
                buttonsStyling: false,
                confirmButtonText: "Ok, got it!",
                customClass: {
                    confirmButton: "btn btn-primary"
                }
            });
            submitButton.disabled = false;
        }
    });
});


   var allTags = [];
   $('form#complain_register_form').submit(function (e) {
      e.preventDefault();
      $('.response-message').hide();
      $('.response-message').text('');
      $('#submit_btn').prop('disabled', true);
      $('.frm-loading').show(); 
      //alert('aaaaaa')
      const transformedResponse = {};
      $(this).find('#sendreviewtags').find('span').each(function(){
         var enteredTag = $(this).text();
         allTags.push(enteredTag);
      });
      const formData = $(this).serializeArray();
      $(formData).each(function(index, field) {
         transformedResponse[field.name] = field.value; 
      });
      transformedResponse['allTags'] = allTags;
      console.log(transformedResponse);
      //return false;
      $.ajax({
         url: '/auth/complaint-register', // URL for your API endpoint
         method: 'POST',
         data: JSON.stringify(transformedResponse),
         //data: formData,
         processData: false,
         //contentType: false,
         contentType: 'application/json',
         success: function (data) {
            if (data.status == 'ok') {
               $('.response-message').text(data.message);
               $('.response-message').show();
               $('#submit_btn').prop('disabled', false);
               $('.frm-loading').hide();
               setTimeout(function() {
                  window.location.href = "/my-complaints";
               }, 2000);
            } else {
               $('.response-message').text(data.message);
               $('.response-message').show();
               $('#submit_btn').prop('disabled', false);
               $('.frm-loading').hide();
               console.log('Something went wrong');
            }
         },
         error: function (xhr, status, error) {
            // Handle any errors that occur during the request
            console.log(error);
         }
      });

      
   });
})

var countryId;
    var country;
    var state;
    console.log("maincountryId",countryId);
    $(document).ready(function() {
    $('#register_country').on('change', function() {
      country = $(this).val(); 
      console.log("country_IDcountry",country);

      $.ajax({
        url: '/getCountryIdByShortName',
        method: 'GET',
        data: { countryShortName: country },
        success: function(response) {
            countryId = response.countryId; 
            console.log("country_IDddd", countryId);
            handleCountryChange();
        },
        error: function(err) {
            console.error('Error fetching country ID:', err);
        }
    });

      $.ajax({
        url: '/getcomplaintcompanies', 
        method: 'GET',
        data: { country: country }, 
        success: function(response) {

          console.log("getCompaniesByCountry",response);


          var $companyDropdown = $('#companyDropdown');
          $companyDropdown.empty(); // Clear existing options


          $companyDropdown.append($('<option>', {
            value: '',
            text: 'Business/Institute/Establishment Name',
            disabled: 'disabled',
            selected: 'selected'
          }));

          response.forEach(function(company) {
          $companyDropdown.append($('<option>', {
            value: company.ID,
            text: company.company_name 
          }));
        });
        },
        error: function(err) {
          console.error('Error fetching companies:', err);
        }
      });
    
      function handleCountryChange() {
    // Access countryId here, it will be updated
    console.log("countryIdSS", countryId);

    $.ajax({
        url: '/getstatebyCountries', 
        method: 'GET',
        data: { country_ID: countryId }, 
        success: function(response) {
            console.log("response", response);

            // Populate dropdown with fetched states
            var $state = $('#state');
            $state.empty(); // Clear existing options

            $state.append($('<option>', {
                value: '',
                text: 'Select State',
                disabled: 'disabled',
                selected: 'selected'
            }));

            response.forEach(function(states) {
                $state.append($('<option>', {
                    value: states.id,
                    text: states.name 
                }));
            });
        },
        error: function(err) {
            console.error('Error fetching states:', err);
        }
    });
}

    });

    $('#state').on('change', function() {
      state = $(this).val(); 
      console.log("state",state);
      console.log("maincountryId",country);

      $.ajax({
        url: '/getcomplaintcompanies', 
        method: 'GET',
        data: { country: country, state: state }, 
        success: function(response) {

          console.log("getCompaniesByCountrystate",response);

          // Populate dropdown with fetched companies
          var $companyDropdown = $('#companyDropdown');
          $companyDropdown.empty(); 


          $companyDropdown.append($('<option>', {
            value: '',
            text: 'Business/Institute/Establishment Name',
            disabled: 'disabled',
            selected: 'selected'
          }));

          response.forEach(function(company) {
          $companyDropdown.append($('<option>', {
            value: company.ID,
            text: company.company_name 
          }));
        });
        },
        error: function(err) {
          console.error('Error fetching companies:', err);
        }
      });
    });

$('#city').on('input', function() {
    var city = $(this).val(); 
    console.log("City:", city);
    console.log("Country:", country);
    console.log("State:", state);

    // Perform AJAX request to fetch companies based on country, state, and city
    $.ajax({
        url: '/getcomplaintcompanies', 
        method: 'GET',
        data: { country: country, state: state, city: city }, 
        success: function(response) {
            console.log("Companies:", response);

            // Populate dropdown with fetched companies
            var $companyDropdown = $('#companyDropdown');
            $companyDropdown.empty(); 

            $companyDropdown.append($('<option>', {
                value: '',
                text: 'Business/Institute/Establishment Name',
                disabled: 'disabled',
                selected: 'selected'
            }));

            response.forEach(function(company) {
                $companyDropdown.append($('<option>', {
                    value: company.ID,
                    text: company.company_name 
                }));
            });
        },
        error: function(err) {
            console.error('Error fetching companies:', err);
        }
    });
});



$('#companyDropdown').on('change', function() {
    var companyId = $(this).val(); 
    console.log("Selected Company ID:", companyId);
    
      $("#select_category").empty().append($('<option value="" disabled selected>Select a category</option>'));
      $("#select_sub_category").empty().append($('<option value="" disabled selected>Select Sub Category</option>'));
      $('#dynamic_state_field_wrapper').hide();
      $('#dynamic_sub_category_field_wrapper').hide();
    $.ajax({
        url: '/api/complain_category',
        method: 'POST',
        data: { company_id: companyId },
        ContentType: 'application/json',
        success: function(data) {
            $("#select_category").empty(); // Clear previous options
            $("#select_category").append($('<option value="" disabled selected>Select a category</option>')); // Default disabled option

            if (data.status == 'ok' && data.data.length > 0) {
                $('#dynamic_state_field_wrapper').show();
                
                $.each(data.data, function(i, item) {
                    $('#select_category').append($('<option>', { 
                        value: item.id,
                        text: item.category_name 
                    }));
                });
            } else {
                $('#dynamic_state_field_wrapper').hide();
                $("#select_category").append($('<option value="0">General</option>')); // General option
                $("#select_category").prop('required', false);
            }
        },
        error: function(error) {
            // Handle any errors
            Swal.fire({
                text: error.responseText || "An error occurred",
                icon: "error",
                buttonsStyling: false,
                confirmButtonText: "Ok, got it!",
                customClass: {
                    confirmButton: "btn btn-primary"
                }
            });
            submitButton.disabled = false;
        }
    });
});

  });

  $(document).ready(function() {
  $('#companyDropdown').select2({
    placeholder: "Name of Organisation/Company/Institute",
    allowClear: true, 
    width: '100%' 
  });
  $('#state').select2({
    placeholder: " Select State",
    allowClear: true, 
   //  width: '100%'
  });
  $('#register_country').select2({
    placeholder: "Select Country*",
    allowClear: true, 
   //  width: '100%'
  });

  
  
});


</script>