<%- include('common/header') -%>
<link href="/front-end/css/company-profile-dashboard.css" rel="stylesheet" type="text/css">
<%- include('common/header-banner') -%>

<!-- ================ Section1 Start ======================= -->
<section class="main-content premium_company_profile">
    <div class="container">
        <div class="main_box">
            <%- include('common/premium-company-sidebar') -%>
         </div>
        <% if(company && company.membership_type_id>=3 ){ %> 
        <div class="send-review-invitation">
               <div style="margin: 10px; display: flex; justify-content: flex-end">
                  <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@fat">Bulk Upload</button>
               </div>
               <h4>Send Survey Invitation:</h4>
                  <form id="form_survey_invitation">
                     <input type="hidden" name="company_id" id="company_id" value="<%= company.ID  %>" />
                     <input type="hidden" name="company_name" id="company_name" value="<%= company.company_name  %>" />
                     <input type="hidden" name="user_id" id="user_id" value="<%= currentUserData.user_id  %>" />
                     <input type="hidden" name="company_slug" id="company_slug" value="<%= company.slug  %>" />
                     <div class="custom-form">
                        <label><span>Select a survey</span></label>
                        <select class="form-select mb-4" name="survey_id" id="survey_id">
                              <option value="">Select a survey</option>
                              <% if( CompanyOngoingSurveyDetails.length > 0 ) { %>
                                 <% CompanyOngoingSurveyDetails.forEach((survey)=>{  %>
                                 <option value="<%= survey.id %>" data-survey-unique_id="<%= survey.unique_id %>"><%= survey.title %></option>
                                 <% }) %>
                              <% } %>
                        </select>
                     </div>
                     <div id="sendreviewtags_invitation">
                        <input type="text" name="emails" placeholder="Add an email" />
                     </div>
                     <div class="custom-form">
                        <label><span>Message</span></label>
                        <textarea name="email_body" id="email_body" class="form-control mb-4">
                        Hello Dear,
                        <%= company.company_name  %> cordially invite you to participate our company survey, through the platform of CEchoesTechnology. 
                        </textarea>
                     </div>
                     <!-- <div class="bulk-upload mb-4">
                        <label for="">Bulk Upload</label>
                        <input type="file" class="form-control"> 
                     </div> -->
                     <input type="submit" name="" id="invitation_email" class="btn-default btn-warning" value="Send">
               </form>
               <div class="register-now frm-loading" style="display: none;">
                  <span class="indicator-progress">Please wait...
                     <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                  </span>
               </div>
               <div style=" width: 100%; text-align: center; display: block; border: 2px solid #fccb06; padding: 6px; margin-top: 20px; border-radius: 5px; display: none;" class="response-message"></div>
               <div style=" width: 100%; text-align: center; display: block; border: 2px solid #fc0606; padding: 6px; margin-top: 20px; border-radius: 5px; display: none;" class="error-message"></div>
         </div>
         <% }else{ %>
            <div class="survey-content">
               <div class="container">
                  <div class="each_box update_basic_information all_review_listing_for_company">
                     <h5>You have no permission to access survey features</h5>
                  </div>
               
               </div>
            </div>
         <% } %>

    </div>
</section>

<!-- Modal -->
<div class="modal  fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header mb-0">
         <h1 class="modal-title fs-5" id="exampleModalLabel">Bulk Emails Invitation</h1>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       <form id="bulk_invitation_form" enctype="multipart/form-data">
          <div class="modal-body bulk_modals">
             
             <input type="hidden" name="company_id" id="company_id" value="<%= company.ID  %>" />
               <input type="hidden" name="company_name" id="company_name" value="<%= company.company_name  %>" />
               <input type="hidden" name="user_id" id="user_id" value="<%= currentUserData.user_id  %>" />
               <input type="hidden" name="company_slug" id="company_slug" value="<%= company.slug  %>" />
               <div class="custom-form">
                    <label><span>Select a survey</span></label>
                    <select class="form-select mb-4" name="survey_id" id="file_survey_id">
                        <option value="">Select a survey</option>
                        <% if( CompanyOngoingSurveyDetails.length > 0 ) { %>
                            <% CompanyOngoingSurveyDetails.forEach((survey)=>{  %>
                            <option value="<%= survey.id %>" data-survey-unique_id="<%= survey.unique_id %>"><%= survey.title %></option>
                            <% }) %>
                        <% } %>
                    </select>
                </div>
                <div class="custom-form">
                  <label><span>Choose a CSV file:</span></label>
                  <input type="file" name="email_file" class="form-control" id="recipient-name">
                  
               </div>
               <div class="custom-form">
                  <label><span>Message</span></label>
                  <textarea name="email_body" id="email_body" class="form-control mb-4">
                  Hello Dear,
                  <%= company.company_name  %> cordially invite you to participate our company survey, through the platform of CEchoesTechnology. 
                  </textarea>
               </div>
          </div>
          <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-warning" id="file_submit_btn">Send</button>
          <div style=" width: 100%; text-align: center; display: block; border: 2px solid #fccb06; padding: 6px; margin-top: 20px; border-radius: 5px; display: none;" class="response-message"></div>
          <div style=" width: 100%; text-align: center; display: block; border: 2px solid #fc0606; padding: 6px; margin-top: 20px; border-radius: 5px; display: none;" class="error-message"></div>
          </div>
       </form>
       <div class="register-now frm-loading" style="display: none;">
         <span class="indicator-progress">Please wait...
            <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
         </span>
      </div>
   
     </div>
   </div>
 </div>
<!-- ================ Section1 End ======================= -->
<style>
   #sendreviewtags_invitation {
      border: 2px solid #fccb06;
      padding: 5px 9px;
      border-radius: 6px;
      margin-bottom: 32px;
   }   
   #sendreviewtags_invitation > input {
      background: #f2f2f2;
      border: 0;
      margin: 4px;
      padding: 7px;
      width: auto;
      border-radius: 4px;
      outline: none;
   }
   #sendreviewtags_invitation > span {
      cursor: pointer;
      display: block;
      float: left;
      color: #fff;
      background: #fccb06;
      padding: 7px;
      padding-right: 25px;
      margin: 4px;
      border-radius: 4px;
   }
   #sendreviewtags_invitation > span:after {
      position: absolute;
      content: "×";
      border: 1px solid;
      padding: 2px 5px;
      margin-left: 3px;
      font-size: 11px;
   }
   </style>
<%- include('common/footer') -%>

<script>
$(document).ready(function () {
   var allEmails = [];
    $('form#form_survey_invitation').submit(function (e) {
      e.preventDefault();
      $('.response-message').hide();
      $('.response-message').text('');
      $('#invitation_email').prop('disabled', true);
      $('.frm-loading').show(); 
      //alert('aaaaaa')
      $(this).find('#sendreviewtags_invitation').find('span').each(function(){
         var enteredEmail = $(this).text();
         allEmails.push(enteredEmail);
      });
      console.log(allEmails);
      const transformedResponse = {};
      transformedResponse['emails'] = allEmails;
      transformedResponse['email_body'] = $('textarea#email_body').val();
      transformedResponse['user_id'] = $('#user_id').val();
      transformedResponse['company_id'] = $('#company_id').val();
      transformedResponse['company_name'] = $('#company_name').val();
      transformedResponse['company_slug'] = $('#company_slug').val();
      transformedResponse['survey_id'] = $('#survey_id').val();
      transformedResponse['unique_id'] = $('#survey_id option:selected').data('survey-unique_id');
      if ($('#survey_id').val() == '') {
         $('.error-message').text('No such ongoing survey here.');
         $('.error-message').show();
         $('#invitation_email').prop('disabled', false);
         $('.frm-loading').hide();
         setTimeout(function() {
            $('.error-message').hide();
         }, 3000);
         //console.log('Something went wrong');
      } else{ 
         $.ajax({
            url: '/auth/survey_invitation', // URL for your API endpoint
            method: 'POST',
            data: JSON.stringify(transformedResponse),
            //data: formData,
            processData: false,
            //contentType: false,
            contentType: 'application/json',
            success: function (data) {
               if (data.status == 'ok') {
                  $('.response-message').text(data.message);
                  $('.response-message').show();
                  $('#invitation_email').prop('disabled', false);
                  $('.frm-loading').hide();
                  setTimeout(function() {
                     window.location.reload();
                  }, 2000);
               } else {
                  $('.response-message').text(data.message);
                  $('.response-message').show();
                  $('#invitation_email').prop('disabled', false);
                  $('.frm-loading').hide();
                  console.log('Something went wrong');
               }
            },
            error: function (xhr, status, error) {
               // Handle any errors that occur during the request
               console.log(error);
            }
         });
      }
   });

   $('form#bulk_invitation_form').submit(function (e) {
      e.preventDefault();
      $('.response-message').hide();
      $('.response-message').text('');
      $('#file_submit_btn').prop('disabled', true);
      $('.frm-loading').show(); 
      
      var survey_unique_id = $('#file_survey_id option:selected').data('survey-unique_id');
      var formElement = document.getElementById('bulk_invitation_form');
      var formData = new FormData(formElement);
      formData.append('unique_id', survey_unique_id);
      //alert('aaaaaa')
      //return false;
      $.ajax({
         url: '/auth/survey_bulk_invitation', // URL for your API endpoint
         type: 'POST',
         data: formData,
         processData: false, // Prevent jQuery from processing the data
         contentType: false, // Let the browser set the content type
         success: function (data) {
            if (data.status == 'ok') {
               $('.response-message').text(data.message);
               $('.response-message').show();
               $('#file_submit_btn').prop('disabled', false);
               $('.frm-loading').hide();
               setTimeout(function() {
                  window.location.reload();
               }, 2000);
            } else {
               $('.response-message').text(data.message);
               $('.response-message').show();
               $('#file_submit_btn').prop('disabled', false);
               $('.frm-loading').hide();
               console.log('Something went wrong');
            }
         },
         error: function (xhr, status, error) {
            // Handle any errors that occur during the request
            console.log(error);
         }
      });
   });
/*=========================== Send survey request tags start =================*/
const maxEmails = 10;
$("#sendreviewtags_invitation input").on({
  focusout: function () {
    var txt = this.value.trim(); // Trim whitespace from the input

    // Check if the maximum limit is not reached
    if ( isValidEmail(txt) ) {
      $("<span/>", { text: txt.toLowerCase(), insertBefore: this });
      this.value = "";
    }else{
      this.value = "";
    }
  },
  keyup: function (ev) {
    // if: comma|enter (delimit more keyCodes with | pipe)
    if (/[,;]/.test(String.fromCharCode(ev.which))) $(this).focusout();
  },
});

// Function to check if a string is a valid email
function isValidEmail(email) {
  // Use a regular expression for basic email validation
  var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
  return emailRegex.test(email);
}

 $('#sendreviewtags_invitation').on('click', 'span', function() {
   if(confirm("Remove "+ $(this).text() +"?")) $(this).remove();
 });
 /*=========================== Send survey request tags End =================*/


});
</script>