<%- include('common/header') -%>
   <link href="/front-end/css/business-style.css" rel="stylesheet" type="text/css">
   <%- include('common/header-banner') -%>


      <!-- ============== Section6 Start =============== -->
      <section class="main-content business-choose-your-plan-content" data-aos="fade-up">
         <div class="container">
            <h2 class="text-center inner-main-head">Choose Your <span>Plan</span></h2>
            <div class="choose-your-plan-box">
               <% function hasAnySubscription() { return getSubscribedUsers.some(sub=> sub.user_id ===
                  currentUserData.user_id);
                  }

                  function isSubscribed(planName, duration) {
                  return getSubscribedUsers.some(sub => sub.user_id === currentUserData.user_id && sub.plan_name ===
                  planName && sub.subscription_duration === duration);
                  }

                  const userHasSubscription = hasAnySubscription();
                  %>

                  <% ['basic', 'standard' , 'advanced' , 'premium' , 'enterprise' ].forEach(plan=> { %>
                     <div class="choose-your-plan-box-step">
                        <input type="hidden" name="" value="<%- getplans[plan + '_val'].name %>">
                        <%- getplans[plan + '_val' ].description %>

                           <% if (currentUserData && currentUserData.claimed_comp_id !=null) { %>
                              <div class="member-control">
                                 <label for="<%= plan %>-member-count"></label>
                                 <input type="hidden" min="0" name="memberCount" id="<%= plan %>-member-count" value="">
                                 <input type="hidden" id="<%= plan %>-per-user-price"
                                    value="<%= getplans[plan + '_val'].per_user_price_local %>">
                                 <input type="hidden" name="userId" value="<%= currentUserData.user_id %>">
                                 <input type="hidden" name="email" value="<%= currentUserData.email %>">
                              </div>


                                       <div class="total-price-display" id="total-monthly-price-<%= plan %>">
                                          <% if (country_name==="India") { %>
                                              Monthly Subscription Amount: ₹<span id="<%= plan %>-total-monthly-price">
                                                  <%= getplans[plan + '_val'].monthly_price_local %>
                                              </span>
                                          <% } else if (country_name==="Japan") { %>
                                              Monthly Subscription Amount: ¥<span id="<%= plan %>-total-monthly-price">
                                                  <%= getplans[plan + '_val'].monthly_price_local %>
                                              </span>
                                          <% } else { %>
                                              Monthly Subscription Amount: $<span id="<%= plan %>-total-monthly-price">
                                                  <%= getplans[plan + '_val'].monthly_price_local %>
                                              </span>
                                          <% } %>
                                      </div>
                                          <% if (isSubscribed(plan, 'monthly')) { %>
                                             <label>
                                                <input type="radio" id="subscribe-<%= plan %>-monthly" name="subscriptionType" value="monthly" disabled checked class="subscribed-radio">
                                                Subscribed
                                             </label>
                                       <% } else if (userHasSubscription) { %>
                                             <label>
                                                <input type="radio" id="subscribe-<%= plan %>-monthly" name="subscriptionType" value="monthly" disabled>
                                                Subscribe Monthly
                                             </label>
                                       <% } else { %>
                                             <label>
                                                <input type="radio" id="subscribe-<%= plan %>-monthly" name="subscriptionType" value="monthly">
                                                Subscribe Monthly
                                            </label>
                                            <div class="proceed_btn proceed-invisible-btn" id="proceed-btn-<%= plan %>-monthly">
                                                <a href="#" onclick="redirectToStripePayment('<%= getplans[plan + '_val'].name %>', '<%= getplans[plan + '_val'].monthly_price %>', 'monthly')">Proceed</a>
                                            </div>
                                             
                                       <% } %>
                                       
                                       <div class="total-price-display" id="total-yearly-price-<%= plan %>">
                                          <% if (country_name==="India") { %>
                                              Yearly Subscription Amount: ₹<span id="<%= plan %>-total-yearly-price">
                                                  <%= getplans[plan + '_val'].yearly_price_local %>
                                              </span>
                                          <% } else if (country_name==="Japan") { %>
                                              Yearly Subscription Amount: ¥<span id="<%= plan %>-total-yearly-price">
                                                  <%= getplans[plan + '_val'].yearly_price_local %>
                                              </span>
                                          <% } else { %>
                                              Yearly Subscription Amount: $<span id="<%= plan %>-total-yearly-price">
                                                  <%= getplans[plan + '_val'].yearly_price_local %>
                                              </span>
                                          <% } %>
                                      </div>
                                          <% if (isSubscribed(plan, 'yearly')) { %>
                                             <label>
                                                 <input type="radio" id="subscribe-<%= plan %>-yearly" name="subscriptionType" value="yearly" disabled checked class="subscribed-radio">
                                                 Subscribed
                                             </label>
                                         <% } else if (userHasSubscription) { %>
                                             <label>
                                                 <input type="radio" id="subscribe-<%= plan %>-yearly" name="subscriptionType" value="yearly" disabled>
                                                 Subscribe Yearly
                                             </label>
                                         <% } else { %>
                                             <label>
                                                <input type="radio" id="subscribe-<%= plan %>-yearly" name="subscriptionType" value="yearly">
                                                Subscribe Yearly
                                            </label>
                                            <div class="proceed_btn proceed-invisible-btn" id="proceed-btn-<%= plan %>-yearly">
                                                <a href="#" onclick="redirectToYearlyStripePayment('<%= getplans[plan + '_val'].name %>', '<%= getplans[plan + '_val'].yearly_price %>', 'yearly')">Proceed</a>
                                            </div>
                                         <% } %>                                               
                                                      <% } else if (!currentUserData) { %>
                                                         <div class="member-control">
                                                            <label for="<%= plan %>-member-count"></label>
                                                            <input type="hidden" min="0" name="memberCount"
                                                               id="<%= plan %>-member-count" value="">
                                                            <input type="hidden" id="<%= plan %>-per-user-price"
                                                               value="<%= getplans[plan + '_val'].per_user_price_local %>">
                                                            <input type="hidden" name="email" value="">
                                                         </div>

                                                         <div class="total-price-display" id="total-monthly-price-<%= plan %>">
                                                            <% if (country_name==="India") { %>
                                                                Monthly Subscription Amount: ₹<span id="<%= plan %>-total-monthly-price">
                                                                    <%= getplans[plan + '_val'].monthly_price_local %>
                                                                </span>
                                                            <% } else if (country_name==="Japan") { %>
                                                                Monthly Subscription Amount: ¥<span id="<%= plan %>-total-monthly-price">
                                                                    <%= getplans[plan + '_val'].monthly_price_local %>
                                                                </span>
                                                            <% } else { %>
                                                                Monthly Subscription Amount: $<span id="<%= plan %>-total-monthly-price">
                                                                    <%= getplans[plan + '_val'].monthly_price_local %>
                                                                </span>
                                                            <% } %>
                                                        </div>

                                                         <% if (isSubscribed(plan, 'monthly')) { %>
                                                            <label>
                                                                <input type="radio" id="subscribe-<%= plan %>-monthly" name="subscriptionType" value="monthly" disabled checked class="subscribed-radio">
                                                                Subscribed
                                                            </label>
                                                        <% } else if (userHasSubscription) { %>
                                                            <label>
                                                                <input type="radio" id="subscribe-<%= plan %>-monthly" name="subscriptionType" value="monthly" disabled>
                                                                Subscribe Monthly
                                                            </label>
                                                        <% } else { %>

                                                            <label>
                                                               <input type="radio" id="subscribe-<%= plan %>-monthly" name="subscriptionType" value="monthly">
                                                               Subscribe Monthly
                                                            </label>
                                                            <div class="proceed_btn proceed-invisible-btn" id="proceed-btn-<%= plan %>-monthly">
                                                               <a href="#" onclick="redirectToSubscriptionPage('<%= getplans[plan + '_val'].name %>', '<%= getplans[plan + '_val'].monthly_price %>', 'monthly')">Proceed</a>
                                                            </div>
                                                        <% } %>                                                              
                                                        <div class="total-price-display" id="total-yearly-price-<%= plan %>">
                                                         <% if (country_name==="India") { %>
                                                             Yearly Subscription Amount: ₹<span id="<%= plan %>-total-yearly-price">
                                                                 <%= getplans[plan + '_val'].yearly_price_local %>
                                                             </span>
                                                         <% } else if (country_name==="Japan") { %>
                                                             Yearly Subscription Amount: ¥<span id="<%= plan %>-total-yearly-price">
                                                                 <%= getplans[plan + '_val'].yearly_price_local %>
                                                             </span>
                                                         <% } else { %>
                                                             Yearly Subscription Amount: $<span id="<%= plan %>-total-yearly-price">
                                                                 <%= getplans[plan + '_val'].yearly_price_local %>
                                                             </span>
                                                         <% } %>
                                                     </div>

                                                                     <% if (isSubscribed(plan, 'yearly')) { %>
                                                                        <label>
                                                                            <input type="radio" id="subscribe-<%= plan %>-yearly" name="subscriptionType" value="yearly" disabled checked class="subscribed-radio">
                                                                            Subscribed
                                                                        </label>
                                                                    <% } else if (userHasSubscription) { %>
                                                                        <label>
                                                                            <input type="radio" id="subscribe-<%= plan %>-yearly" name="subscriptionType" value="yearly" disabled>
                                                                            Subscribe Yearly
                                                                        </label>
                                                                    <% } else { %>
                                                                        <label>
                                                                           <input type="radio" id="subscribe-<%= plan %>-yearly" name="subscriptionType" value="yearly">
                                                                           Subscribe Yearly
                                                                       </label>
                                                                       <div class="proceed_btn proceed-invisible-btn" id="proceed-btn-<%= plan %>-yearly">
                                                                           <a href="#" onclick="redirectToYearlySubscriptionPage('<%= getplans[plan + '_val'].name %>', '<%= getplans[plan + '_val'].yearly_price %>', 'yearly')">Proceed</a>
                                                                       </div>
                                                                    <% } %>
                                                                           
                                                                     <% } else { %>
                                                                     <% } %>
                     </div>
                     <% }) %>
            </div>
         </div>
      </section>



      <!-- <section class="main-content business-choose-your-plan-content" data-aos="fade-up">
         <div class="container">
            <h2 class="text-center inner-main-head">Choose Your <span>Plan</span></h2>
            <div class="choose-your-plan-box">
               <div class="choose-your-plan-box-step">
                  <%- meta_values_array.basic_plan_content %>
               </div>
               <div class="choose-your-plan-box-step">
                  <%- meta_values_array.standard_plan_content %>
               </div>
               <div class="choose-your-plan-box-step">
                  <%- meta_values_array.advanced_plan_content %>
               </div>
               <div class="choose-your-plan-box-step">
                  <div class="best-value-tag">
                     BEST <br> VALUE
                  </div>
                  <%- meta_values_array.premium_plan_content %>
               </div>
               
               <div class="choose-your-plan-box-step overlay">
                  <%- meta_values_array.enterprice_plan_content %>
               </div>
            </div>
         </div>
      </section> -->


      <!-- ============== Section6 end =============== -->


      <style>
         .choose-your-plan-box-step {
            position: relative;
            text-align: center;
            color: #ffffff;
            transition: all ease-in-out 0.5s;
         }
         .choose-your-plan-box-step>* {
            margin-bottom: 25px;
         }
         input[type="radio"] {
            appearance: none;
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 50%;
            cursor: pointer;
            height: 16px;
            width: 16px;
            position: relative;
         }

         input[type="radio"]:checked::before {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: #FCCB06; 
         }

         input.subscribed-radio[type="radio"]:checked::before {
            background-color: #FCCB06;
         }
         /* AYAN-CSS */
         .choose-your-plan-box .choose-your-plan-box-step ul li{
            margin-top: 20px;
         }
         .choose-your-plan-box .choose-your-plan-box-step ul{
            padding-bottom: 30px;
            border-bottom: 1px solid #fff;
         }

         .choose-your-plan-box .choose-your-plan-box-step  .total-price-display{
            margin-bottom:15px;
         }
         .proceed_btn a{
            padding: 8px 20px;
            background-color: #f00;
            border-radius: 5px;
            color: #fff;
            text-transform: capitalize;
            font-size: 14px;
            font-weight: 500;
         }
         .proceed_btn{
            margin-bottom: 20px;
         }
         .proceed-visible-btn{
            display: block;
         }
         .proceed-invisible-btn{
            display: none;
         }

      </style>

      <%- include('common/footer') -%>
         <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
         <script src="https://js.stripe.com/v3/"></script>

         <script>
            let userCountry = '<%= country_name %>';
            console.log('userCountry:', userCountry);
            let encryptedemail = '<%= encryptedEmail%>';
            //console.log("encryptedemail",encryptedemail);

            document.querySelectorAll('.choose-your-plan-box-step').forEach(step => {
               const planId = step.querySelector('input[name="memberCount"]').id.split('-')[0];

               const memberCountInput = step.querySelector(`#${planId}-member-count`);
               const monthlyTotalPriceSpan = step.querySelector(`#${planId}-total-monthly-price`);
               const yearlyTotalPriceSpan = step.querySelector(`#${planId}-total-yearly-price`);
               const perUserPrice = parseFloat(step.querySelector(`#${planId}-per-user-price`).value);

               const initialMonthlySubscriptionPrice = parseFloat(monthlyTotalPriceSpan.textContent);
               const initialYearlySubscriptionPrice = parseFloat(yearlyTotalPriceSpan.textContent);

               memberCountInput.addEventListener('input', function () {
                  const memberCount = parseInt(memberCountInput.value) || 0;


                  const newMonthlyTotalPrice = initialMonthlySubscriptionPrice + (perUserPrice * memberCount);
                  const newYearlyTotalPrice = initialYearlySubscriptionPrice + (perUserPrice * memberCount);

                  monthlyTotalPriceSpan.textContent = newMonthlyTotalPrice.toFixed(2);
                  yearlyTotalPriceSpan.textContent = newYearlyTotalPrice.toFixed(2);

                  console.log('New Monthly Total Price:', monthlyTotalPriceSpan.textContent);
                  console.log('New Yearly Total Price:', yearlyTotalPriceSpan.textContent);
               });
            });


            function redirectToStripePayment(planId, planPrice, billingCycle) {
               const memberCount = document.getElementById(`${planId}-member-count`).value || 0;
               const perUserPriceElement = document.getElementById(`${planId}-per-user-price`);
               const perUserPrice = perUserPriceElement ? parseFloat(perUserPriceElement.value) : null;

               const monthlyTotalPriceSpan = document.getElementById(`${planId}-total-monthly-price`);
               const yearlyTotalPriceSpan = document.getElementById(`${planId}-total-yearly-price`);

               console.log("monthlyTotalPriceSpan", monthlyTotalPriceSpan);
               console.log("yearlyTotalPriceSpan", yearlyTotalPriceSpan);

               const updatedMonthlyTotalPrice = monthlyTotalPriceSpan ? parseFloat(monthlyTotalPriceSpan.textContent) : parseFloat(planPrice);
               const updatedYearlyTotalPrice = yearlyTotalPriceSpan ? parseFloat(yearlyTotalPriceSpan.textContent) : parseFloat(planPrice);


               console.log("updatedMonthlyTotalPrice", updatedMonthlyTotalPrice);
               console.log("updatedYearlyTotalPrice", updatedYearlyTotalPrice);

               let total_price;
               if (perUserPrice) {
                  total_price = updatedMonthlyTotalPrice;
               } else {
                  total_price = updatedMonthlyTotalPrice;
               }



               console.log("memberCount", memberCount);
               console.log("total_price", total_price);



               // const redirectURL = `/stripe-payment?planId=${encodeURIComponent(planId)}&planPrice=${encodeURIComponent(planPrice)}&billingCycle=${encodeURIComponent(billingCycle)}&memberCount=${encodeURIComponent(memberCount)}&total_price=${encodeURIComponent(total_price.toFixed(2))}`;
               const redirectURL = `/stripe-payment?planId=${encodeURIComponent(planId)}&planPrice=${encodeURIComponent(planPrice)}&billingCycle=${encodeURIComponent(billingCycle)}&memberCount=${encodeURIComponent(memberCount)}&total_price=${encodeURIComponent(total_price.toFixed(2))}&encryptedEmail=${encodeURIComponent(encryptedemail)}`;

               window.location.href = redirectURL;
            }

            function redirectToYearlyStripePayment(planId, planPrice, billingCycle) {
               const memberCount = document.getElementById(`${planId}-member-count`).value || 0;
               const perUserPriceElement = document.getElementById(`${planId}-per-user-price`);
               const perUserPrice = perUserPriceElement ? parseFloat(perUserPriceElement.value) : null;

               const monthlyTotalPriceSpan = document.getElementById(`${planId}-total-monthly-price`);
               const yearlyTotalPriceSpan = document.getElementById(`${planId}-total-yearly-price`);

               console.log("monthlyTotalPriceSpan", monthlyTotalPriceSpan);
               console.log("yearlyTotalPriceSpan", yearlyTotalPriceSpan);

               const updatedMonthlyTotalPrice = monthlyTotalPriceSpan ? parseFloat(monthlyTotalPriceSpan.textContent) : parseFloat(planPrice);
               const updatedYearlyTotalPrice = yearlyTotalPriceSpan ? parseFloat(yearlyTotalPriceSpan.textContent) : parseFloat(planPrice);


               console.log("updatedMonthlyTotalPrice", updatedMonthlyTotalPrice);
               console.log("updatedYearlyTotalPrice", updatedYearlyTotalPrice);


               let total_price;
               if (perUserPrice) {
                  total_price = updatedYearlyTotalPrice;
               } else {
                  total_price = updatedYearlyTotalPrice;
               }

               console.log("memberCount", memberCount);
               console.log("total_price", total_price);

               const redirectURL = `/stripe-year-payment?planId=${encodeURIComponent(planId)}&planPrice=${encodeURIComponent(planPrice)}&billingCycle=${encodeURIComponent(billingCycle)}&memberCount=${encodeURIComponent(memberCount)}&total_price=${encodeURIComponent(total_price.toFixed(2))}&encryptedEmail=${encodeURIComponent(encryptedemail)}`;

               window.location.href = redirectURL;
            }

            function redirectToLogin() {
               window.location.href = '/';
            }

            function redirectToSubscriptionPage(planId, planPrice, billingCycle, memberCount, totalPrice) {
               const memberCountValue = document.getElementById(`${planId}-member-count`).value || 0;
               const perUserPriceElement = document.getElementById(`${planId}-per-user-price`);
               const perUserPrice = perUserPriceElement ? parseFloat(perUserPriceElement.value) : null;

               const monthlyTotalPriceSpan = document.getElementById(`${planId}-total-monthly-price`);
               const yearlyTotalPriceSpan = document.getElementById(`${planId}-total-yearly-price`);

               const updatedMonthlyTotalPrice = monthlyTotalPriceSpan ? parseFloat(monthlyTotalPriceSpan.textContent) : parseFloat(planPrice);
               const updatedYearlyTotalPrice = yearlyTotalPriceSpan ? parseFloat(yearlyTotalPriceSpan.textContent) : parseFloat(planPrice);

               let total_price;
               if (perUserPrice) {
                  total_price = updatedMonthlyTotalPrice;
               } else {
                  total_price = updatedMonthlyTotalPrice;
               }

               const redirectURL = `/create-user-company-subscription?planName=${encodeURIComponent(planId)}&monthlyPrice=${encodeURIComponent(planPrice)}&subscriptionType=${encodeURIComponent(billingCycle)}&memberCount=${encodeURIComponent(memberCountValue)}&total_price=${encodeURIComponent(total_price.toFixed(2))}`;

               window.location.href = redirectURL;
            }


            // function redirectToyearlySubscriptionPage(planId, planPrice, billingCycle, memberCount, totalPrice) {
            //    const memberCountValue = document.getElementById(`${planId}-member-count`).value || 0;
            //    const perUserPriceElement = document.getElementById(`${planId}-per-user-price`);
            //    const perUserPrice = perUserPriceElement ? parseFloat(perUserPriceElement.value) : null;

            //    const monthlyTotalPriceSpan = document.getElementById(`${planId}-total-monthly-price`);
            //    const yearlyTotalPriceSpan = document.getElementById(`${planId}-total-yearly-price`);

            //    console.log("monthlyTotalPriceSpan", monthlyTotalPriceSpan);
            //    console.log("yearlyTotalPriceSpan", yearlyTotalPriceSpan);

            //    const updatedMonthlyTotalPrice = monthlyTotalPriceSpan ? parseFloat(monthlyTotalPriceSpan.textContent) : parseFloat(planPrice);
            //    const updatedYearlyTotalPrice = yearlyTotalPriceSpan ? parseFloat(yearlyTotalPriceSpan.textContent) : parseFloat(planPrice);


            //    console.log("updatedMonthlyTotalPrice", updatedMonthlyTotalPrice);
            //    console.log("updatedYearlyTotalPrice", updatedYearlyTotalPrice);


            //    let total_price;
            //    if (perUserPrice) {
            //       total_price = updatedYearlyTotalPrice;
            //    } else {
            //       total_price = updatedYearlyTotalPrice;
            //    }

            //    console.log("memberCount", memberCount);
            //    console.log("total_price", total_price);
            //    const redirectURL = `/create-user-company-subscription?planName=${encodeURIComponent(planId)}&monthlyPrice=${encodeURIComponent(planPrice)}&subscriptionType=${encodeURIComponent(billingCycle)}&memberCount=${encodeURIComponent(memberCountValue)}&total_price=${encodeURIComponent(total_price.toFixed(2))}`;

            //    window.location.href = redirectURL;
            //    }

            function redirectToYearlySubscriptionPage(planId, planPrice, billingCycle) {
               const memberCountValue = document.getElementById(`${planId}-member-count`).value || 0;
               const perUserPriceElement = document.getElementById(`${planId}-per-user-price`);
               const perUserPrice = perUserPriceElement ? parseFloat(perUserPriceElement.value) : null;

               const monthlyTotalPriceSpan = document.getElementById(`${planId}-total-monthly-price`);
               const yearlyTotalPriceSpan = document.getElementById(`${planId}-total-yearly-price`);

               console.log("monthlyTotalPriceSpan", monthlyTotalPriceSpan);
               console.log("yearlyTotalPriceSpan", yearlyTotalPriceSpan);

               const updatedMonthlyTotalPrice = monthlyTotalPriceSpan ? parseFloat(monthlyTotalPriceSpan.textContent) : parseFloat(planPrice);
               const updatedYearlyTotalPrice = yearlyTotalPriceSpan ? parseFloat(yearlyTotalPriceSpan.textContent) : parseFloat(planPrice);

               console.log("updatedMonthlyTotalPrice", updatedMonthlyTotalPrice);
               console.log("updatedYearlyTotalPrice", updatedYearlyTotalPrice);

               let total_price;
               if (perUserPrice) {
                  total_price = updatedYearlyTotalPrice;
               } else {
                  total_price = updatedYearlyTotalPrice;
               }

               console.log("memberCount", memberCountValue);
               console.log("total_price", total_price);
               const redirectURL = `/create-user-company-subscription?planName=${encodeURIComponent(planId)}&monthlyPrice=${encodeURIComponent(planPrice)}&subscriptionType=${encodeURIComponent(billingCycle)}&memberCount=${encodeURIComponent(memberCountValue)}&total_price=${encodeURIComponent(total_price.toFixed(2))}`;

               window.location.href = redirectURL;
            }


         </script>
         <script>
            document.addEventListener("DOMContentLoaded", async function () {
               console.log("DOM content loaded");

               try {
                  const { countryName, countryCode } = await fetchGeolocationAndSetCountryInfo();
                  console.log("Initial CountryName:", countryName);
                  console.log("Initial CountryCode:", countryCode);

                  const countryDropdown = document.querySelector('.country-dropdown');
                  if (countryCode == 'UK') {
                     countryDropdown.value = 'UK';
                  } else if (countryCode == 'JP') {
                     countryDropdown.value = 'JP';
                  } else {
                     countryDropdown.value = 'US';
                  }
                  // updateCountryInfo(countryName, countryCode);
                  // setDefaultLanguage(countryName);
                  countryDropdown.addEventListener('change', function (event) {
                     const selectedCountryCode = event.target.value;
                     const selectedCountryName = event.target.options[event.target.selectedIndex].text;
                     console.log("Selected country code:", selectedCountryCode);
                     console.log("Selected country name:", selectedCountryName);

                    //  const redirectUrl = `/${selectedCountryCode}/business`;
                    const redirectUrl = `/staging-business/${selectedCountryCode}`;
                     window.location.href = redirectUrl;
                  });
               } catch (error) {
                  console.error('Error initializing country info:', error);
               }
            });
         </script>

         <script>
$(document).ready(function() {
    function toggleProceedButton(plan, type) {
        // Determine IDs for the proceed button and total price display based on plan and type
        const proceedBtnId = `proceed-btn-${plan}-${type}`;
        const totalPriceDisplayId = `total-${type}-price-${plan}`;

        // Select the proceed button and total price display for the given plan and type
        const $proceedBtn = $(`#${proceedBtnId}`);
        const $totalPriceDisplay = $(`#${totalPriceDisplayId}`);

        // Show the proceed button and total price display for the selected plan and type
        $proceedBtn.removeClass('proceed-invisible-btn').addClass('proceed-visible-btn');
        $totalPriceDisplay.show(); // Show total price display

        // Hide the proceed button and total price display for other plans and types
        $('.proceed_btn').not(`#${proceedBtnId}`).each(function() {
            $(this).removeClass('proceed-visible-btn').addClass('proceed-invisible-btn');
        });

        $('.total-price-display').not(`#${totalPriceDisplayId}`).each(function() {
            $(this).hide(); // Hide total price display for other plans
        });
    }

    // Attach click event handlers to radio buttons
    $('input[name="subscriptionType"]').on('click', function() {
        const idParts = $(this).attr('id').split('-'); // Split ID to get plan and type
        const plan = idParts[1];
        const type = idParts[2]; // 'monthly' or 'yearly'
        toggleProceedButton(plan, type);
    });

    // Initial setup to hide proceed buttons and prices on page load
    $('.proceed_btn').addClass('proceed-invisible-btn');
    $('.total-price-display').hide();
});

         </script>