
<%- include('common/header') -%>
<link href="/front-end/css/survey-style.css" rel="stylesheet" type="text/css">
<%- include('common/header-banner') -%>
<!-- ============== Section1 Start =============== -->
<section class="main-content bottom-main-content">
    <div class="survey-content">
        <div class="container">
            
            <h2 class="inner-main-head"> <%- companySurveyQuestions[0].title %></h2>
            <% var questionJsonObject = JSON.parse(companySurveyQuestions[0].questions)
                var jsonString = JSON.stringify(questionJsonObject, null, 2);
            %>
            <% const dateString = companySurveyQuestions[0].expire_at; %>
            <% const date = new Date(dateString); 
                const date2 = new Date(); 
                date2.setHours(0, 0, 0, 0);
                const daysDiff = Math.round((date - date2)/(1000 * 60 * 60 * 24));
            %>
            <%- //daysDiff %>
            <% if(SurveyInvitedEmail[0].status == '1' ){ %> 
                <div class="survey-head " style="text-align: center;" ><strong>Thank You for Participating in Our Survey!</strong> </div>
            <% } else if (daysDiff < 0) { %>
                <div class="survey-head " style="text-align: center;" ><strong>Sorry, this survey has already expired.</strong> </div>
            <% } else if (currentUserData && currentUserData.email != SurveyInvitedEmail[0].emails ) { %>
                <div class="survey-head " style="text-align: center;" ><strong>Apologies, the URL provided does not match with your account. Please make sure you are using the correct link associated with your account to access the survey.</strong> </div>
            <% } else { %>
                
                <form method="post" name="survey_form" id="survey_form">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="c-input__fld">
                            <input type="hidden" class="form-control" name="invitation_email" value="<%= userEmail %>">
                        </div>
                        </div>
                    </div>
                    <% questionJsonObject.forEach(function(item, index) { %>
                    <div class="survey-wrapper">
                        <% if(index == 0) { %>
                            <div class="survey-head"><strong></strong> Enter your Name *</div>
                            <div class="survey-body">
                              
                                                           
                                
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="custom-form" >
                                            <input type="text"  class="form-control" placeholder="First Name" name="first_name" value="<% if(currentUserData && currentUserData.user_id ){ %> <%- currentUserData.first_name %> <% } %>" required />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="custom-form">
                                            <input type="text"  class="form-control" placeholder="Last Name" name="last_name" value="<% if(currentUserData && currentUserData.user_id ){ %> <%- currentUserData.last_name %> <% } %>" required />
                                        </div>
                                    </div>
                                </div>
                                
                                
                            </div><br>
                        <% } %>
                        
                        <div class="survey-head"><strong><%- index+1 %>.</strong> <%- item.question %></div>
                        <% if(item.type=='type_textarea'){ %>
                        <div class="survey-body">
                            <div class="custom-form">
                                <textarea type="text" rows="5" class="form-control" placeholder="Express your views" name="question_<%- index+1 %>" required=""></textarea>
                            </div>
                        </div>
                        <% }else if(item.type=='type_radio'){ %>
                            <div class="survey-body">
                                <div class="custom-form">
                                    <% item.options.forEach(function(option, index_inner) { %>
                                    <div class="form-check">
                                        <input type="radio" class="form-check-input" id="<%- item.name %><%- index_inner+1 %>" name="question_<%- index+1 %>" value="<%- option %>" required>
                                        <label class="form-check-label" for="<%- item.name %><%- index_inner+1 %>"><%- option %></label>
                                    </div>
                                    <% }); %>
                                </div>
                            </div>
                        <% }else if(item.type=='type_checkbox'){ %>
                            <div class="survey-body">
                                <div class="custom-form">
                                    <% item.options.forEach(function(option, index_inner) { %>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="<%- item.name %><%- index_inner+1 %>" name="question_<%- index+1 %>_<%- index_inner+1 %>" value="<%- option %>">
                                        <label class="form-check-label" for="<%- item.name %><%- index_inner+1 %>"><%- option %></label>
                                    </div>
                                    <% }); %>
                                </div>
                            </div>
                        <% }else if(item.type=='type_ratings'){ %>
                            <div class="survey-body">
                                <div class="survey-rating">
                                    <div class="survey-rating-part">
                                        Disappointing
                                    </div>
                                    <div class="survey-rating-part text-center">
                                            <% AllRatingTags.forEach(function(rating, index_inner) { %>
                                                <div class="rating_each_option form-check position-relative custom-check">
                                                    <span><%- rating.review_rating_value %></span>
                                                    <input type="radio" class="form-check-input" id="<%- item.type %>_<%- index+1 %>_<%- index_inner+1 %>" name="question_<%- index+1 %>" value="<%- rating.review_rating_value %>" required>
                                                    <label class="form-check-label" for="<%- item.type %>_<%- index+1 %>_<%- index_inner+1 %>"><img src="/<%- rating.rating_image %>" alt="<%- rating.review_rating_name %>"></label>
                                                </div>
                                            <% }); %>
                                    </div>
                                    <div class="survey-rating-part">
                                        Excellent
                                    </div>
                                </div>
                            </div>
                        <% }else{ %>
                            <p>Answer type not define</p>
                        <% } %>
                    </div>
                    <% }); %>
                    <% if(company && company.membership_type_id>=3 ){ %>
                    <input type="hidden" name="company_id" value="<%- company.ID %>">
                    <input type="hidden" name="survey_unique_id" value="<%- companySurveyQuestions[0].unique_id %>">
                    <input type="hidden" name="customer_id" value="<%- currentUserData && currentUserData.user_id ? currentUserData.user_id : 0 %>">
                    <!-- <input type="hidden" name="customer_id" value="0"> -->
                    <input type="hidden" name="encrypted_email" value="<%- SurveyInvitedEmail[0].encrypted_email %>">
                    <div class="text-center mt-5 mb-3"><input type="submit" class="btn-default btn-warning btn-survey-default" value="Submit"></div>

                    <% if (!currentUserData || !currentUserData.email) { %>
                        <p style="text-align: center; margin-top: 15px; font-weight: 700; font-size: 19px;">
                            If you are not logged in then login and participate the survey from <a href="#" class="login">here</a>
                        </p> 
                    <% } %>                    
                    <% }else{ %>
                        <p style="text-align: center; margin-top: 25px; font-weight: 700; font-size: 19px; color: #fb4040;">You cannot submit any survey form for this company, due to membership permission</p>
                    <% } %>
                </form>
                <div class="register-now frm-loading" style="display: none;">
                    <span class="indicator-progress">Please wait...
                        <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                    </span>
                </div>
                <div style="width: 85%; text-align: center; display: block; border: 2px solid #fccb06; padding: 6px; margin: 0 auto; border-radius: 5px; display: none;" class="poll-create-message"></div>
            
            <% } %>
            
        </div>
    </div>
</section>
<!-- ============== Section1 End =============== -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<%- include('common/footer') -%>
<script>
// -- Form submit -- //
$('#survey_form').submit( function( event ) {
    localStorage.removeItem('surveyFormData');
    $('.btn-survey-default').prop("disabled", true);
    $('.frm-loading').show();
    event.preventDefault();
    const serializedArray = $('#survey_form').serializeArray();
    console.log(serializedArray);

    function transformSerializedArray(serializedArray) {
        const transformedData = {};
        const answers = {};
    
        for (const item of serializedArray) {
            if (item.name === 'company_id' || item.name === 'survey_unique_id' || item.name == 'customer_id' || item.name == 'first_name' || item.name == 'last_name' || item.name == 'encrypted_email' ) {
                transformedData[item.name] = item.value;
            } else {
                answers[item.name] = item.value;
                //answers.push(questionObj);
            }
        }
    
        transformedData.answers = answers;
    
        return [transformedData];
    }
    const transformedData = transformSerializedArray(serializedArray);
    console.log(JSON.stringify(transformedData, null, 3));
    // ----Submit Survey Ajax------------- //
    $.ajax({
        url: '/auth/create-invited-survey-answer',
        method: 'POST',
        data: JSON.stringify(transformedData),
        processData: false,
        ContentType: 'application/json',
        success: function (data) {
            if (data.status == 'ok') {
                $('.frm-loading').hide();
                $('.poll-create-message').text(data.message);
                $('.poll-create-message').show();
                $('.btn-survey-default').prop("disabled", false);
                var company_url = '/company/<%- company.slug %>';
                setTimeout( function() {
                    //window.location.href = company_url;
                    //location.reload();
                    window.location.href = '/';
                }, 3000);
            } else {
                $('.frm-loading').hide();
                $('.poll-create-message').text(data.message);
                $('.poll-create-message').show();
                $('.btn-survey-default').prop("disabled", false);
            }
        },
        error: function (error) {
            $('.frm-loading').hide();
            $('.poll-create-message').text(error);
            $('.poll-create-message').show();
            $('.btn-survey-default').prop("disabled", false);
        }
    });
});
// document.addEventListener("DOMContentLoaded", function() {
//     const registerLink = document.querySelector(".open-registration-modal");

//     registerLink.addEventListener("click", function(event) {
//         event.preventDefault(); 
//         window.location.href = "/"; 
//     });
// });

// document.addEventListener("DOMContentLoaded", function() {
//     const registerLink = document.querySelector(".open-registration-modal");
//     const loginLink = document.querySelector(".open-login-modal");
//     const registrationModal = document.querySelector(".register-modal-content");
//     const loginModal = document.querySelector(".login-modal-content");

//     registerLink.addEventListener("click", function(event) {
//         event.preventDefault();
//         registrationModal.style.display = "block";
//     });

//     const registerCloseButton = document.querySelector(".register-modal-close");
//     registerCloseButton.addEventListener("click", function(event) {
//         event.preventDefault();
//         registrationModal.style.display = "none";
//     });

//     loginLink.addEventListener("click", function(event) {
//         event.preventDefault();
//         loginModal.style.display = "block";
//     });

//     const loginCloseButton = document.querySelector(".login-modal-close");
//     loginCloseButton.addEventListener("click", function(event) {
//         event.preventDefault();
//         loginModal.style.display = "none";
//     });
// });


</script>

<script>
    $(document).ready(function() {
    const encryptEmail = "<%= encryptEmail %>"; 
    console.log("encryptEmail",encryptEmail);
    

    loadFormData(encryptEmail);

    $('#survey_form input, #survey_form textarea, #survey_form radio, #survey_form checkbox, #survey_form ratings').on('input change', function() {
        saveFormData(encryptEmail);
    });

    function saveFormData(encryptEmail) {
        const formData = $('#survey_form').serializeArray();
        const formDataObject = {};
        formData.forEach(field => {
        formDataObject[field.name] = field.value;
        });
        localStorage.setItem(`surveyFormData_${encryptEmail}`, JSON.stringify(formDataObject));
    }

    function loadFormData(encryptEmail) {
        const savedData = localStorage.getItem(`surveyFormData_${encryptEmail}`);
        if (savedData) {
        const formDataObject = JSON.parse(savedData);
        for (const [key, value] of Object.entries(formDataObject)) {
            const $field = $(`[name="${key}"]`);
            if ($field.attr('type') === 'checkbox' || $field.attr('type') === 'radio') {
            $field.filter(`[value="${value}"]`).prop('checked', true);
            } else {
            $field.val(value);
            }
        }
        }
    }
    });
</script>