<%- include('common/header') -%>
<link href="/front-end/css/myprofile-style.css" rel="stylesheet" type="text/css">
<%- include('common/header-banner') -%>

<!-- ============== Section1 Start =============== -->
<section class="main-content my-profile-content">
  <div class="container">
     <div class="my-profile-wrapper">
        <div class="row">
          <%- include('common/profile-sidebar') -%>
          <div class="col-md-8">
            <div class="profile-right-content">
              <div class="profile-info-table">
                <% Object.keys(allPayments).forEach(planName => { %>
                    <% if (allPayments[planName].length > 0) { %>
                        <h2>Plan: <%= planName %> </h2>
                        <table>
                            <% Object.keys(allPayments).forEach(planName => { %>
                            <% const planPayments = allPayments[planName]; %>
                            <% if (planPayments.length > 0) { %>
                                <% 
                                planPayments.sort((a, b) => new Date(a.subscription_start_date) - new Date(b.subscription_start_date)); %>
                                
                                <%
                                const firstPaymentDate = new Date(planPayments[0].subscription_start_date); %>
                                
                                <tr>
                                <td colspan="4">Payment: <%= firstPaymentDate.toLocaleDateString() %></td>
                                </tr>
                                
                                <% planPayments.forEach(payment => { %>
                                <tr>
                                    <td><%= new Date(payment.subscription_start_date).toLocaleDateString() %></td>
                                    <td><%= payment.payment_status %></td>
                                </tr>
                                <% }); %>
                                
                                <% 
                                const latestSubscriptionEndDate = new Date(Math.max(...planPayments.map(payment => new Date(payment.subscription_end_date)))); %>

                                <% 
                                const latestSubscriptionEndDates = new Date(Math.max(...planPayments.map(payment => new Date(payment.subscription_end_date)))); %>
                                
                                <% 
                                const nextPaymentDate = new Date(latestSubscriptionEndDate);
                                nextPaymentDate.setDate(nextPaymentDate.getDate()); %>
                                
                                <tr>
                                <td colspan="3">Next Payment Date</td>
                                <td><%= nextPaymentDate.toLocaleDateString() %></td>
                                </tr>
                            <% } %>
                            <% }); %>
                        </table>
                        <!-- <div>
                          <button type="button" class="formbold-confirm-btn" onclick="confirmCancelSubscription()">Cancel Subscription</button>
                      </div> -->
                    <% } %>
                    <% }); %>
              </div>
            </div>
           </div>
        </div>
     </div>
  </div>
</section>
<!-- ============== Section1 End =============== -->

<%- include('common/footer') -%>
<script src="https://js.stripe.com/v3/"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
  var userId = '<%= userId%>'
  function confirmCancelSubscription() {
    const userConfirmed = confirm("Are you sure you want to cancel the subscription?");
    if (userConfirmed) {
        cancelSubscription(); 
    }
}

function cancelSubscription() {
    $.ajax({
        url: '/auth/cancelSubscription',
        method: 'POST',
        data: {
          userId: userId
        },
        success: function(response) {
            alert('Subscription cancelled successfully.');
            // Optionally, refresh the page or update the UI
        },
        error: function(error) {
            alert('Error cancelling subscription: ' + error.responseText);
        }
    });
}

</script>